apify-test-a1ywhu0yOPpeTHmm.json
{"createdAt":"2025-04-08T06:42:50.309Z","updatedAt":"2025-04-08T11:02:30.000Z","id":"a1ywhu0yOPpeTHmm","name":"Apify test","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/PEgClm7RgRD7YO94b/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer apify_api_24jqu06rxY7vxX248zI542w3qH3nr22VGac4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"cookie\": [\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1775632953.930907,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"bcookie\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"\\\"v=2&df83388d-8f46-42f3-8a42-d4a644d69ce2\\\"\"\n        },\n        {\n            \"domain\": \".www.linkedin.com\",\n            \"expirationDate\": 1775632946.255431,\n            \"hostOnly\": false,\n            \"httpOnly\": true,\n            \"name\": \"bscookie\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"\\\"v=1&2025010607033154e2717c-f5af-450c-81e0-592adb693708AQG0MZ19jK74ce5JEvDySNOzjrz2lQiR\\\"\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1775129212.010017,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"liap\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"true\"\n        },\n        {\n            \"domain\": \".www.linkedin.com\",\n            \"expirationDate\": 1775129212.01006,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"JSESSIONID\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"\\\"ajax:1627858188900211530\\\"\"\n        },\n        {\n            \"domain\": \".www.linkedin.com\",\n            \"expirationDate\": 1745306548,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"timezone\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"Europe/Kiev\"\n        },\n        {\n            \"domain\": \".www.linkedin.com\",\n            \"expirationDate\": 1759648948,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"li_theme\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"light\"\n        },\n        {\n            \"domain\": \".www.linkedin.com\",\n            \"expirationDate\": 1759648948,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"li_theme_set\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"app\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1767683019.668803,\n            \"hostOnly\": false,\n            \"httpOnly\": true,\n            \"name\": \"dfpfpt\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"cded4be69bd84b85ae913a4b3cecb596\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1751872952.930723,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"li_sugr\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"abdcbeac-cb4f-4a34-b1fb-d08c4ae847a7\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1746688954,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"aam_uuid\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"31489452247540209734263795840996048550\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1751706266,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"gpv_pn\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"www.linkedin.com%2Fpremium%2Fproducts%2F\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1751706259,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"s_ips\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"1045\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1751706259,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"s_tp\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"1350\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1751706266,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"s_tslv\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"1736154266415\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1774964068,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"AMP_MKTG_5919ff8c0c\",\n            \"path\": \"/\",\n            \"sameSite\": \"lax\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"JTdCJTdE\"\n        },\n        {\n            \"domain\": \".www.linkedin.com\",\n            \"expirationDate\": 1775129212.009942,\n            \"hostOnly\": false,\n            \"httpOnly\": true,\n            \"name\": \"li_at\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"AQEDATYLQa0CZqydAAABlDptHM8AAAGWGk2nU00AEbSqe1wgzsx9LG9q2ePxB-g0EjOPsXbTo0v_wVLnLHMtXKWnM-dg3jREGZX2AdLguc0WIVl607tba4QeLFYCoqHWt4TnQioX5q1-PJ96VtJZtg_J\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1746599150.750849,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"AnalyticsSyncHistory\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"AQIA6tVOnfSn2QAAAZYO7UhRRKkuiyK5oGogHpc7zVO8USKLniTzPhaVC9DMuI0UIKuO7F9zWVQ_y2inK8vA7Q\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1746599151.028984,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"lms_ads\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"AQF2maPzzsIMGwAAAZYO7UlsJfy0WzjcRAxF9lAqz7ufbCqzU8enjAdr3g2Ior1ZgtoOh3F-OseV77n--gyypfQmtGEwipz_\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1746599151.029096,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"lms_analytics\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"AQF2maPzzsIMGwAAAZYO7UlsJfy0WzjcRAxF9lAqz7ufbCqzU8enjAdr3g2Ior1ZgtoOh3F-OseV77n--gyypfQmtGEwipz_\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1751783152,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"_gcl_au\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"1.1.697916316.1744007152\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"lang\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": true,\n            \"storeId\": \"0\",\n            \"value\": \"v=2&lang=en-us\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1744098746.255496,\n            \"hostOnly\": false,\n            \"httpOnly\": true,\n            \"name\": \"__cf_bm\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"RrY9Aybz7IVkfaMwnNpZ4KwHDAXoBznRiZpcJ8fPrzw-1744096951-1.0.1.1-9dPjUogXN7u9X51boi_1aZAzo8Ox4kD.Pzoci8IR8OIlwFg1nBXFxMeEpWUWMBisLOVFjyg7MIAzcrAnAQ0eEBKSUh7d3g1rN.zdIx9LSvc\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1775632952,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"AMP_5919ff8c0c\",\n            \"path\": \"/\",\n            \"sameSite\": \"lax\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"JTdCJTIyZGV2aWNlSWQlMjIlM0ElMjI0ZDZjYzVhMS03ODRjLTQ3YjgtYTUzYS1hYWE5MzRiYzFhYTUlMjIlMkMlMjJzZXNzaW9uSWQlMjIlM0ExNzQzNDI4MDY4NjkwJTJDJTIyb3B0T3V0JTIyJTNBZmFsc2UlMkMlMjJsYXN0RXZlbnRUaW1lJTIyJTNBMTc0MzQyODA2ODc2MSUyQyUyMmxhc3RFdmVudElkJTIyJTNBMTQlN0Q=\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1746688952,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"UserMatchHistory\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"AQI6d6JT6ODnxAAAAZYUR4wbEPhypnFJ4daGHG0MVLOpnBb99oDs6tmNL0VxMDG5sDGlREj_l5A6lOoDQL4ZTgegdx1QZaSkIHFTwOBwu-yRoKcFG911zbW1q3nHU9poXhh62NefZ20zcVK7PujFoVyGlwXdQ3SIlhX0xxKyscaxiaRQ0w2EjvlgX1cgc9s1cJ9SHd4UEOOsN6LirTHjBG9WqIPoIQTaru_QJfqjvV8YTnAfHctsx8JOPHawYx6mX4ppPD6bq7uxtI1ytdcePiObE3O0mPqGyqH2J1O6x6MwzVdivDEN9X7Bjh2ToHNExqry77c3VunuUohANyLx6bjqtnPSUo2IIt6Bsu4SQqYq56r20g\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1744179484.888922,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"lidc\",\n            \"path\": \"/\",\n            \"sameSite\": \"no_restriction\",\n            \"secure\": true,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"\\\"b=TB73:s=T:r=T:a=T:p=T:g=4115:u=277:x=1:i=1744096958:t=1744179490:v=2:sig=AQF5NFRCGcme8H06E5-Mzilv_xmWl1OW\\\"\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"AMCVS_14215E3D5995C57C0A495C55%40AdobeOrg\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": false,\n            \"session\": true,\n            \"storeId\": \"0\",\n            \"value\": \"1\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"expirationDate\": 1759648954,\n            \"hostOnly\": false,\n            \"httpOnly\": false,\n            \"name\": \"AMCV_14215E3D5995C57C0A495C55%40AdobeOrg\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"-637568504%7CMCIDTS%7C20186%7CMCMID%7C31334891309584019584315333028808854893%7CMCAAMLH-1744701754%7C6%7CMCAAMB-1744701754%7C6G1ynYcLPuiQxYZrsz_pkqfLG9yMXBpb2zX5dvJdYQJzPXImdj0y%7CMCOPTOUT-1744104154s%7CNONE%7CvVersion%7C5.1.1%7CMCCIDH%7C933371170\"\n        },\n        {\n            \"domain\": \".linkedin.com\",\n            \"hostOnly\": false,\n            \"httpOnly\": true,\n            \"name\": \"fptctx2\",\n            \"path\": \"/\",\n            \"sameSite\": \"unspecified\",\n            \"secure\": true,\n            \"session\": true,\n            \"storeId\": \"0\",\n            \"value\": \"taBcrIH61PuCVH7eNCyH0FFaWZWIHTJWSYlBtG47cVvqpnP1gDKUiaazXs7zXmfkN5BBdHF9VmEdC9D9nbVmcjFacvMOfBudEEtyFL27a%252b%252fCKuOI7m0d%252fvxlKSGlkKAJlwJC3P0%252btH94VSOvKbAFVaRGr7IJ3HTj%252bkkRcRi3ENuHka8BtWSDIrd6yVaGDpbGom08m%252fliNkoRhBFLzJUhBpEFnHTVDlwdv2vSF8w8Eql9cgwCcoN3MrN%252bRIicKURapw4BqSXLpxXWIiF6lCKatOArsz2k4Owj6OYycsG0rloFE9m3ytZreE2pduDYRqCpAntgz1TuSe6bbci48FGk8Yvp0ZHf%252bLwOmrMKVsRleQM%253d\"\n        },\n        {\n            \"domain\": \"www.linkedin.com\",\n            \"expirationDate\": 1744098106,\n            \"hostOnly\": true,\n            \"httpOnly\": false,\n            \"name\": \"_dd_s\",\n            \"path\": \"/\",\n            \"sameSite\": \"strict\",\n            \"secure\": false,\n            \"session\": false,\n            \"storeId\": \"0\",\n            \"value\": \"logs=1&id=72a99338-98f1-4ed0-b600-69c1a414484f&created=1744096951665&expire=1744097911671\"\n        }\n    ],\n    \"findContacts\": false,\n    \"maxDelay\": 60,\n    \"minDelay\": 15,\n    \"proxy\": {\n        \"useApifyProxy\": true,\n        \"apifyProxyGroups\": [\n            \"RESIDENTIAL\"\n        ],\n        \"apifyProxyCountry\": \"UA\"\n    },\n    \"scrapeCompany\": true,\n    \"urls\": [\n        \"{{ $json.body.url }}\"\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-180,-120],"id":"23db3115-ff6a-4df7-9d0e-14942a498bc1","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"linkedin-test","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,-120],"id":"d9ab33cc-b888-4763-91de-bbe24e5139d8","name":"Webhook","webhookId":"ed56f20a-3827-42ce-a406-bba8f74bb50f"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"leadName\": \"{{ $json.firstName }} {{ $json.lastName }}\",\n  \"currentPosition\": \"{{ $json.positions[0].title }}\",\n  \"linkedinProfileUrl\": \"https://www.linkedin.com/in/{{ $json.profileId }}/\",\n  \"companyName\": \"{{ $json.companyName }}\",\n  \"companyWebsite\": \"{{ $json.currentCompany.websiteUrl }}\",\n  \"companyCountry\": \"{{ $json.currentCompany.headquarter.country }}\",\n  \"companySize\": \"{{ $json.currentCompany.employeeCountRange.start }}-{{ $json.currentCompany.employeeCountRange.end }}\",\n  \"industry\": \"{{ $json.currentCompany.industries[0].name }}\",\n  \"subIndustry\": \"{{ $json.currentCompany.industries[0].name }}\",\n  \"foundedYear\": \"{{ $json.currentCompany.foundedOn.year }}\",\n  \"companyLinkedinUrl\": \"{{ $json.currentCompany.url }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,-120],"id":"77ef8e1a-dd7e-4e66-b835-787cad71b269","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9a06f968-0eef-4084-b128-43bf97aab34b","triggerCount":0,"tags":[]}