artemchuk-(don't-touch)-9LxZgU7P6tyeSzi3.json
{"createdAt":"2025-02-28T12:15:28.704Z","updatedAt":"2025-03-04T14:34:30.000Z","id":"9LxZgU7P6tyeSzi3","name":"Artemchuk (don't touch)","active":false,"nodes":[{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"910144676881903646","mode":"id"},"content":"=📚 **Контент для топика \"{{ $('Получение строк из таблицы').item.json.Topics }}\" готов!**\n\n🔗 [Ссылка на таблицу](https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?gid=101979946#gid=101979946)","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2220,1060],"id":"c02bcf6a-c9c1-4859-8ef4-51f102435a09","name":"Discord","webhookId":"df2a8f9f-8466-4218-a8cb-b4d76ade94a9","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[460,100],"id":"1af3fb88-e374-49a8-9083-f0208475ff2f","name":"Триггер таймера"},{"parameters":{"documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"filtersUI":{"values":[{"lookupColumn":"Guide Text link"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,100],"id":"c9817a7e-78fb-4476-b099-7609e07a19d1","name":"Получение строк из таблицы","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Получаем все данные из Google Sheets\nconst items = $input.all();\n\n// Фильтруем строки, где Guide Text link пустое\nconst filteredItems = items.filter(item => {\n  // Проверяем, есть ли у item свойство json\n  if (item.json) {\n    return !item.json[\"Guide Text link\"] || \n           item.json[\"Guide Text link\"] === \"\" || \n           item.json[\"Guide Text link\"] === \"[empty]\";\n  }\n  return false;\n});\n\n// Проверяем, что у нас есть подходящие записи\nif (filteredItems.length === 0) {\n  return { message: \"No items with empty Guide Text link found\" };\n}\n\n// Выбираем первую строку с пустым значением в Guide Text link\nconst firstItem = filteredItems[0].json; // Доступ к данным через .json\n\n// Проверка и удаление лишних пробелов из темы\nconst topic = firstItem.Topics ? firstItem.Topics.trim() : \"Content generation\";\nconst course = firstItem.Courses ? firstItem.Courses.trim() : \"Prompt Engineering\";\n\n// Получение и обработка подтем\nconst subtopicsRaw = firstItem.Subtopics || \"\";\nconst subtopics = subtopicsRaw.split(',').map(subtopic => subtopic.trim());\n\n// Создаем промпт для ИИ с данными из выбранной строки\nconst prompt = `Create an educational article about \"${topic}\" that focuses SPECIFICALLY on these exact subtopics: ${subtopicsRaw}.\n\nEXTREMELY IMPORTANT FORMATTING INSTRUCTIONS:\n- Do NOT use Markdown format\n- Do NOT include any code blocks or triple backticks\n- Do NOT include any instructions about copying, pasting, or formatting the text\n- Provide ONLY plain text content\n- Do NOT add any meta-instructions at the beginning or end\n\nThe article should have this structure:\n\nThe Prompt Engineer's Guide to ${topic}\n\nTable of Contents\n(List EXACTLY these subtopics with appropriate emoji for each - these are the ONLY subtopics you should cover):\n${subtopics.map(sub => `- ${sub}`).join('\\n')}\n\n(Introduction paragraph explaining ${topic} and its importance - no heading needed)\n\n(For each subtopic, create a section with the EXACT subtopic name as heading)\n${subtopics.map((sub, index) => `${sub}`).join('\\n\\n')}\n\n(Each subtopic section should include relevant content explaining that specific subtopic in detail)\n\n(End with a brief Key Takeaways section)\n\nIMPORTANT NOTES:\n1. You MUST use these EXACT subtopic names as your main sections\n2. Do not create your own subtopics - ONLY use the ones provided\n3. The document won't be automatically formatted in Google Docs - it will need manual formatting\n4. Make content accessible for beginners, approximately 1500-2000 words total\n\nReturn ONLY the plain text content with no additional commentary.`;\n\n// Возвращаем результат, чтобы передать его в следующий нод\nreturn {\n  topic: topic,\n  course: course,\n  subtopics: subtopics,\n  prompt: prompt,\n  original_item: firstItem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,100],"id":"fcd78d34-f045-46ba-a660-6cd3d1e8404e","name":"Промпт и условия"},{"parameters":{"promptType":"define","text":"={{ $json.topic }}{{ $json.subtopics }}{{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1180,100],"id":"44d7c1e7-b615-44fe-9a80-63b70292ca09","name":"Генерация топика"},{"parameters":{"folderId":"1HIQ4ZQR5x4BunaNBGM42012WWgxGc7fV","title":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1540,100],"id":"0ca3778f-ae89-4656-ada2-67e3a0b3ffec","name":"Создание документа для топика","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Генерация топика').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1720,100],"id":"08568c7b-6e14-4c40-9cbd-534ad13b0e36","name":"Заполнение документа для топика","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}","Guide Text link":"=https://docs.google.com/document/d/{{ $json.documentId }}/view"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1980,100],"id":"5d5c9363-0a41-4986-9623-d1c01f96fe14","name":"Обновление таблицы с топиками","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=convert  {{ $('Генерация топика').item.json.text }} to markdown"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,420],"id":"e160ca5e-19ee-49b1-bb04-609a3ae0577d","name":"Перевод топика в маркдаун"},{"parameters":{"folderId":"1GyODa7YSVnQTBs_ZTCz-ShB8qyyof-Jl","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} MD"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,420],"id":"034937a6-bccd-42f7-8dec-9deff016c2a3","name":"Создание документа для топика в маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Перевод топика в маркдаун').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,420],"id":"a7394b6f-5621-4ce1-95bc-e339037ba613","name":"Заполнение документа для топика в маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}","Guides markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,420],"id":"77662502-bd90-4498-801d-887498b58c32","name":"Обновление таблицы с топиками маркдаун","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Take this topic content and create a quiz for it.  {{ $('Генерация топика').item.json.text }}\n15 questions, 4 aswer options, 1 correct answer. Mark correct answer with check mark in answer options. Plane text for google docs. "},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,740],"id":"103a50a5-852e-41d0-9245-e4a67e8b104e","name":"Генерация квизов"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1320,240],"id":"7ff0b356-39d4-4cc7-9c90-b9d1edf2cb5f","name":"Модель ИИ для генерации топиков","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,560],"id":"0e1e99ce-02e2-4e46-bf69-07bfe003f39e","name":"Модель ИИ для перевода топиков в маркдаун","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,880],"id":"3837fe35-ca71-462f-ad17-2aaed3439f1e","name":"Модель ИИ для генерации квизов","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"folderId":"1r57mu3KZiTOYuyk2hE0K-Vhq91-5AfSN","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} quiz"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,740],"id":"b82730ff-98a7-4204-b526-bb5f6f76533d","name":"Создание документа для квиза","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Генерация квизов').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,740],"id":"1daf6eaf-536e-42a2-b632-042b98f690c0","name":"Заполнение документа для квиза","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"columns":{"mappingMode":"defineBelow","value":{"Exams":"=https://docs.google.com/document/d/{{ $json.documentId }}/view ","row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,740],"id":"750ae0cf-30aa-446b-9310-c3d98e17042c","name":"Обновление таблицы с квизами","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $('Генерация квизов').item.json.text }} convert it to markdown"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,1060],"id":"99de3e64-faa3-463d-8590-3e6efb1e801f","name":"Перевод квизов в маркдаун"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,1200],"id":"62a465f8-5766-4975-be7f-6a5623c183d3","name":"Модель ИИ для перевода квизов в маркдаун","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"folderId":"1h4HBYsr3j8-_StAt1KRfIDgYWhNzCVrJ","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} quiz md"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,1060],"id":"4436e705-6bcb-43e0-b3b7-f254f048ce93","name":"Создание документа для квиза маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Перевод квизов в маркдаун').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,1060],"id":"ea33e454-bfcc-4124-abba-f663c2c89bde","name":"Заполнение документа для квиза маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Exams Markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,1060],"id":"42cfc880-1628-4869-bb79-993cf12244a8","name":"Обновление таблицы с квизами маркдаун","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}}],"connections":{"Триггер таймера":{"main":[[{"node":"Получение строк из таблицы","type":"main","index":0}]]},"Получение строк из таблицы":{"main":[[{"node":"Промпт и условия","type":"main","index":0}]]},"Промпт и условия":{"main":[[{"node":"Генерация топика","type":"main","index":0}]]},"Генерация топика":{"main":[[{"node":"Создание документа для топика","type":"main","index":0}]]},"Создание документа для топика":{"main":[[{"node":"Заполнение документа для топика","type":"main","index":0}]]},"Заполнение документа для топика":{"main":[[{"node":"Обновление таблицы с топиками","type":"main","index":0}]]},"Обновление таблицы с топиками":{"main":[[{"node":"Перевод топика в маркдаун","type":"main","index":0}]]},"Перевод топика в маркдаун":{"main":[[{"node":"Создание документа для топика в маркдаун","type":"main","index":0}]]},"Создание документа для топика в маркдаун":{"main":[[{"node":"Заполнение документа для топика в маркдаун","type":"main","index":0}]]},"Заполнение документа для топика в маркдаун":{"main":[[{"node":"Обновление таблицы с топиками маркдаун","type":"main","index":0}]]},"Обновление таблицы с топиками маркдаун":{"main":[[{"node":"Генерация квизов","type":"main","index":0}]]},"Генерация квизов":{"main":[[{"node":"Создание документа для квиза","type":"main","index":0}]]},"Модель ИИ для генерации топиков":{"ai_languageModel":[[{"node":"Генерация топика","type":"ai_languageModel","index":0}]]},"Модель ИИ для перевода топиков в маркдаун":{"ai_languageModel":[[{"node":"Перевод топика в маркдаун","type":"ai_languageModel","index":0}]]},"Модель ИИ для генерации квизов":{"ai_languageModel":[[{"node":"Генерация квизов","type":"ai_languageModel","index":0}]]},"Создание документа для квиза":{"main":[[{"node":"Заполнение документа для квиза","type":"main","index":0}]]},"Заполнение документа для квиза":{"main":[[{"node":"Обновление таблицы с квизами","type":"main","index":0}]]},"Обновление таблицы с квизами":{"main":[[{"node":"Перевод квизов в маркдаун","type":"main","index":0}]]},"Модель ИИ для перевода квизов в маркдаун":{"ai_languageModel":[[{"node":"Перевод квизов в маркдаун","type":"ai_languageModel","index":0}]]},"Перевод квизов в маркдаун":{"main":[[{"node":"Создание документа для квиза маркдаун","type":"main","index":0}]]},"Создание документа для квиза маркдаун":{"main":[[{"node":"Заполнение документа для квиза маркдаун","type":"main","index":0}]]},"Заполнение документа для квиза маркдаун":{"main":[[{"node":"Обновление таблицы с квизами маркдаун","type":"main","index":0}]]},"Обновление таблицы с квизами маркдаун":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c82e81ea-3dd3-4317-a8a2-d5ab808772ed","triggerCount":1,"tags":[{"createdAt":"2025-02-28T12:15:53.990Z","updatedAt":"2025-02-28T12:15:53.990Z","id":"iZcFhmUcGt1jKvyf","name":"LLM"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}