backup-nPZ4W85wzJB1U6lj.json
{"createdAt":"2025-04-14T08:16:15.955Z","updatedAt":"2025-04-15T18:09:46.000Z","id":"nPZ4W85wzJB1U6lj","name":"Backup","active":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-440,-160],"id":"792d9fc1-6470-4f00-bbc3-1ccd3a0b4641","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-220,-160],"id":"e640b378-f3ca-40f7-bee7-dce4f9181f80","name":"Date & Time"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy:HH-mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[0,-160],"id":"bb455270-3946-48fb-a543-f044aec385ec","name":"Date & Time1"},{"parameters":{"assignments":{"assignments":[{"id":"8d044b4b-0d51-4314-b156-dfc323bd0d2b","name":"formattedDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,-160],"id":"18455704-0026-4025-9098-91e7b8b61add","name":"Edit Fields"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"AdminRHS","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/AdminRHS/n8n"}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[440,-160],"id":"e0060bb9-77cd-48b0-86dc-ddaf3f45c8b9","name":"GitHub","credentials":{"githubOAuth2Api":{"id":"UR8qzEHmBK5P4OtW","name":"GitHub OAuth"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[640,-160],"id":"0115c2f7-ca31-4785-99e8-100b7b325dfc","name":"Aggregate"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[880,-160],"id":"ec2a9da5-416b-42f7-880b-1c3c0810f96f","name":"n8n","credentials":{"n8nApi":{"id":"wm3wGPoKHQ2cyYcQ","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1100,-160],"id":"4b2d2111-53dc-4a71-947d-5265520f3bad","name":"Convert to File"},{"parameters":{"batchSize":1,"options":{}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","position":[1340,-160],"typeVersion":1,"id":"6b357d3d-adc3-482d-90ec-aed0a436cfe2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c27e93b3-5f48-49ec-9ddd-c9b41fc3e9a0","leftValue":"={{ 1 }}","rightValue":"={{ 1 }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1700,-160],"id":"7a15e6e2-0ad9-4f74-8a4b-3a85978f78dd","name":"If"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"AdminRHS","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/AdminRHS/n8n"},"filePath":"={{ $('n8n').item.json.name }}","binaryData":true,"commitMessage":"=backup-{{ $('Edit Fields').item.json.formattedDate }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2020,-400],"id":"2bd71750-5e3d-4917-b562-a604f9f85d16","name":"GitHub1","credentials":{"githubOAuth2Api":{"id":"UR8qzEHmBK5P4OtW","name":"GitHub OAuth"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"AdminRHS","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/AdminRHS/n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $('Edit Fields').item.json.formattedDate }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2020,-80],"id":"b48be264-28cc-4bb6-bca8-7ca27c306fb3","name":"GitHub2","credentials":{"githubOAuth2Api":{"id":"UR8qzEHmBK5P4OtW","name":"GitHub OAuth"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,-160],"id":"6ed4a95e-625c-440c-8fe6-f8af5648a38c","name":"Wait","webhookId":"cef1bc4a-578a-46ac-b2fb-1612352208aa"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"GitHub2","type":"main","index":0}],[]]},"GitHub1":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"GitHub2":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc2b8ab6-46b7-4612-b5c7-aa3a731fc420","triggerCount":0,"tags":[]}