course-generator-STzZzI4lias6kMy6.json
{"createdAt":"2025-04-15T08:32:54.646Z","updatedAt":"2025-04-15T14:46:11.000Z","id":"STzZzI4lias6kMy6","name":"Course generator","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"coursegen","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"b59e1a7a-0786-43e7-b966-7c0e49ca48d9","name":"Webhook","webhookId":"d54310dc-9070-497b-997e-dd2947b0b389"},{"parameters":{"promptType":"define","text":"=Выдай мне готовую статью.\n\nНапиши статью на английском  языке на тему {{ $('Webhook').item.json.body.topic }} согласно следующему плану: используй подзаголовки {{ $('Webhook').item.json.body.plan }} штуки или по готовому плану. Результат должен быть отформатирован в чистом Markdown (без использования HTML и блоков кода) и не содержать никаких служебных комментариев или фраз вроде «вот статья согласно заданной структуре».\n\nСтруктура статьи должна быть следующей:\n\t1.\tВступление: один абзац без заголовков и списков.\n\t2.\tПодтемы: для каждой подтемы создай подзаголовок второго уровня (начинай строку с ##) и добавь содержание, используя один из двух шаблонов, чередующихся для последовательных подтем.\nШаблон 1:\n\t•\tАбзац текста.\n\t•\tПредложение, вводящее список.\n\t•\tСписок ровно из 5 кратких пунктов, связанных с подтемой.\n\t•\tЗаключительный абзац.\nШаблон 2:\n\t•\tОт 1 до 3 абзацев текста без списков.\n\nИспользуй следующий контекст для статьи:\nКонтекст\n\nРезультат необходимо представить как чистый Markdown без дополнительных оберток или форматирования кода.\nНельзя писать цифр в квадратных скобках. \nСписки в результате делай через дефис -\nВключи детали, числа:, статистику и другие полезные детали, если они есть в источниках. ","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,0],"id":"121b0646-71de-46ba-b30a-d26cafc8205b","name":"AI Agent"},{"parameters":{"model":"google/gemma-3-27b-it:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[480,220],"id":"9c14d3ec-360c-4b0d-b174-4a17d2fba0e2","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"respondWith":"text","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,0],"id":"103a06b9-e0e4-4e68-add4-68063020d128","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57310970-3461-42d9-a5f5-b59d8291c0ff","triggerCount":1,"tags":[]}