crm-integration-prospects-aqHtHpPyziYH6uVz.json
{"createdAt":"2025-04-07T12:09:16.703Z","updatedAt":"2025-04-07T12:52:27.000Z","id":"aqHtHpPyziYH6uVz","name":"CRM Integration Prospects","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b02405f7-47fa-4f06-b504-dfb9a767f4c7","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"f95c63eb-7a3c-4adf-85c5-7271fc5e6363","name":"Webhook","webhookId":"b02405f7-47fa-4f06-b504-dfb9a767f4c7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3a8c508-129d-416c-ab2a-7f6501d44c8b","leftValue":"={{$json.body.message.includes(\"покажи\")}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Read from CRM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e49fbdd6-78c1-4de4-ac37-cb92d0694871","leftValue":"={{$json.body.message.includes(\"запиши\")}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Write to CRM"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,0],"id":"9a85ac81-3352-4e6f-b73e-740936bd69c7","name":"Switch"},{"parameters":{"url":"=https://pros-api.crm-s.com/api/v1/business/prospects","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 28|crm_SzCdQJY942THiVv9lDzG5zdicXMHp3pSu9y2Dz8y3e3782c3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,-220],"id":"e2a19b45-a31e-4f4b-a012-fb746950fd0b","name":"HTTP Read Request"},{"parameters":{"method":"POST","url":"=http://new.crm-s.com/api/departments/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"{{ $json.body.message.split(' ').slice(4).join(' ') }}"},{"name":"status_id","value":"8"},{"name":"translation_id","value":"1"},{"name":"priority_id","value":"1"},{"name":"color","value":"rgb(255, 87, 87)"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,160],"id":"823b2e49-a825-4148-ac9a-400a6393c236","name":"HTTP Write Request","credentials":{"httpHeaderAuth":{"id":"kE4OK05nMptzbfwn","name":"Token_auth_crm_prospects"}}},{"parameters":{"respondWith":"json","responseBody":"{\n  \"response\": \"{{ $json['response'] }}\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,-220],"id":"8e2be72e-a887-4b16-918a-a0236ac8bad1","name":"Respond to Read Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"response\": \"{{ $json['response'] }}\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[980,160],"id":"63f0726c-9051-4232-82fe-3825f68b2e34","name":"Respond to Write Webhook","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"209c4d87-5be5-4ca1-a822-73c5afb51f03","name":"response","value":"=Департамент {{ $('Switch').item.json.body.message.split(' ')[3] }} создан с именем {{ $('Switch').item.json.body.message.split(' ').slice(4).join(' ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,160],"id":"02e75a6a-134d-4ed7-bbb0-2fec67cd3544","name":"Edit Write Field","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"f0157906-80ea-4f41-815f-3cc8b6937668","name":"response","value":"=Данные департамента: {{ $json.stringified }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,-220],"id":"d35f42ce-99bb-493a-9d5f-82ff8dc93d92","name":"Read Field"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1ZP-R7Hrh7pc6Ba_NMnVC8kixzlvMQfCaj4W8W036Xbg/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZP-R7Hrh7pc6Ba_NMnVC8kixzlvMQfCaj4W8W036Xbg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"output":"={{ $json.response }}"},"matchingColumns":["output"],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,160],"id":"3aa9f671-ecc9-4784-9af8-2e2afb026ad9","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"content":"# РАБОТАЕТ","height":80,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,-320],"id":"97061a77-6c23-4f1e-a4f8-6420c22434a8","name":"Sticky Note"},{"parameters":{"jsCode":"const items = $input.all();\nconst result = items.map(item => {\n  return {\n    json: {\n      stringified: JSON.stringify(item.json)\n    }\n  };\n});\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[740,-220],"id":"1e124701-cd73-4707-a384-379ce9f93df7","name":"Code1"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Read Request","type":"main","index":0}],[{"node":"HTTP Write Request","type":"main","index":0}]]},"HTTP Read Request":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Write Request":{"main":[[{"node":"Edit Write Field","type":"main","index":0}]]},"Edit Write Field":{"main":[[{"node":"Respond to Write Webhook","type":"main","index":0}]]},"Read Field":{"main":[[{"node":"Respond to Read Webhook","type":"main","index":0}]]},"Respond to Write Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Read Field","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"85fd9858-d5f3-4c76-9f3d-f30151820161","triggerCount":1,"tags":[{"createdAt":"2025-04-07T12:09:31.505Z","updatedAt":"2025-04-07T12:09:31.505Z","id":"KZKoBx9Rbpf3nYxo","name":"Crm"},{"createdAt":"2025-03-18T14:27:11.092Z","updatedAt":"2025-03-18T14:27:11.092Z","id":"SArLS2sYc4RQYu3Y","name":"http"},{"createdAt":"2025-04-07T12:09:38.231Z","updatedAt":"2025-04-07T12:09:38.231Z","id":"wIkPMdLz7d8Wn9Ig","name":"Prospects"}]}