crm-integration-821KxNHcckH0H5zu.json
{"createdAt":"2025-03-18T08:47:03.728Z","updatedAt":"2025-04-07T12:14:15.000Z","id":"821KxNHcckH0H5zu","name":"CRM Integration","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"crm-integration","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"8ddfb4ac-22c3-4b47-9ce2-5fcd7dbb3927","name":"Webhook","webhookId":"2c58efd5-810f-48b0-81a2-3a460f0def94"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3a8c508-129d-416c-ab2a-7f6501d44c8b","leftValue":"={{$json.body.message.includes(\"покажи данные департамента\")}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Read from CRM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e49fbdd6-78c1-4de4-ac37-cb92d0694871","leftValue":"={{$json.body.message.includes(\"запиши\")}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Write to CRM"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,0],"id":"f2745510-bb04-4eb7-b644-93d36bde8de1","name":"Switch"},{"parameters":{"url":"=http://new.crm-s.com/api/departments/{{ $json.body.message.split(\" \")[3] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,-220],"id":"f0c3e158-6bec-4373-a343-44154a2f8f06","name":"HTTP Read Request","credentials":{"httpHeaderAuth":{"id":"kE4OK05nMptzbfwn","name":"Token_auth_crm_prospects"}}},{"parameters":{"method":"POST","url":"=http://new.crm-s.com/api/departments/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"{{ $json.body.message.split(' ').slice(4).join(' ') }}"},{"name":"status_id","value":"8"},{"name":"translation_id","value":"1"},{"name":"priority_id","value":"1"},{"name":"color","value":"rgb(255, 87, 87)"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,160],"id":"3910d73e-1bfe-4ccb-be32-b98e8b459851","name":"HTTP Write Request","credentials":{"httpHeaderAuth":{"id":"kE4OK05nMptzbfwn","name":"Token_auth_crm_prospects"}}},{"parameters":{"respondWith":"json","responseBody":"{\n  \"response\": \"{{ $json['response'] }}\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[980,-220],"id":"2ba63128-18b5-44fe-b6dc-f6aaf2aaacd8","name":"Respond to Read Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"response\": \"{{ $json['response'] }}\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[980,160],"id":"4b017a77-d599-4b19-929d-2f5e734f6b18","name":"Respond to Write Webhook","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"209c4d87-5be5-4ca1-a822-73c5afb51f03","name":"response","value":"=Департамент {{ $('Switch').item.json.body.message.split(' ')[3] }} создан с именем {{ $('Switch').item.json.body.message.split(' ').slice(4).join(' ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,160],"id":"2a11e55b-2990-4612-9e75-876264743501","name":"Edit Write Field","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"f0157906-80ea-4f41-815f-3cc8b6937668","name":"response","value":"=Данные департамента: {{ $json.data.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,-220],"id":"bee9663a-f479-4af9-b024-72c1aa883ef0","name":"Read Field"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1ZP-R7Hrh7pc6Ba_NMnVC8kixzlvMQfCaj4W8W036Xbg/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZP-R7Hrh7pc6Ba_NMnVC8kixzlvMQfCaj4W8W036Xbg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"output":"={{ $json.response }}"},"matchingColumns":["output"],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,160],"id":"49da57d9-1b16-4045-8c4a-a59028aa67c3","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"content":"# РАБОТАЕТ","height":80,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,-320],"id":"97b04529-df7f-4b29-8dab-2f645714ec53","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Read Request","type":"main","index":0}],[{"node":"HTTP Write Request","type":"main","index":0}]]},"HTTP Read Request":{"main":[[{"node":"Read Field","type":"main","index":0}]]},"HTTP Write Request":{"main":[[{"node":"Edit Write Field","type":"main","index":0}]]},"Edit Write Field":{"main":[[{"node":"Respond to Write Webhook","type":"main","index":0}]]},"Read Field":{"main":[[{"node":"Respond to Read Webhook","type":"main","index":0}]]},"Respond to Write Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8f00539c-fa3c-420d-b75e-89564e71065e","triggerCount":1,"tags":[{"createdAt":"2025-03-18T14:27:11.092Z","updatedAt":"2025-03-18T14:27:11.092Z","id":"SArLS2sYc4RQYu3Y","name":"http"},{"createdAt":"2025-03-18T14:27:01.455Z","updatedAt":"2025-03-18T14:27:01.455Z","id":"VfG4QTIoe1iirVPi","name":"crm"}]}