danylo-prompt-eng-onboarding-yMgnCvPxxBaIRtNc.json
{"createdAt":"2025-03-03T14:39:20.932Z","updatedAt":"2025-03-06T12:10:33.000Z","id":"yMgnCvPxxBaIRtNc","name":"Danylo prompt eng onboarding","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[460,100],"id":"8de2ac0e-da52-45a3-aab1-1e620804b503","name":"Триггер таймера"},{"parameters":{"documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"filtersUI":{"values":[{"lookupColumn":"Exams"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,100],"id":"8f3ffb52-93fd-45dd-a18f-93fa9334b27d","name":"Получение строк из таблицы","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Получаем все данные из Google Sheets\nconst items = $input.all();\n\n// Фильтруем строки, где Exams пустое\nconst filteredItems = items.filter(item => {\n  if (item.json) {\n    return !item.json[\"Exams\"] || \n           item.json[\"Exams\"] === \"\" || \n           item.json[\"Exams\"] === \"[empty]\";\n  }\n  return false;\n});\n\n// Проверяем, что у нас есть подходящие записи\nif (filteredItems.length === 0) {\n  return { message: \"No items with empty Exams found\" };\n}\n\n// Выбираем первую строку с пустым значением в Exams\nconst firstItem = filteredItems[0].json;\n\n// Проверка и удаление лишних пробелов из темы\nconst topic = firstItem.Topics ? firstItem.Topics.trim() : \"Content generation\";\nconst course = firstItem.Courses ? firstItem.Courses.trim() : \"Prompt Engineering\";\n\n// Получение и обработка подтем\nconst subtopicsRaw = firstItem.Subtopics ? firstItem.Subtopics.trim() : \"General topic\";\nconst subtopics = subtopicsRaw ? subtopicsRaw.split(',').map(sub => sub.trim()) : [];\n\n\n// Создаем промпт для ИИ с данными из выбранной строки\nconst prompt = `Create an educational exam for \"${topic}\" that focuses on these exact subtopics: ${subtopicsRaw}.\n\nEXTREMELY IMPORTANT FORMATTING INSTRUCTIONS:\n- Format the exam in Markdown\n- Include multiple-choice questions for each subtopic\n- Ensure clear answer options (A, B, C, D)\n- Mark the correct answer with (✅) next to it\n- Provide a structured and easy-to-read format\n\nExample format:\n\\`\\`\\`markdown\n## Exam: ${topic}\n\n### Question 1:\nWhich of the following best describes ${subtopics[0]}?\nA) Option 1  \nB) Option 2 (✅)  \nC) Option 3  \nD) Option 4  \n\n### Question 2:\n(Another question related to ${subtopics[1]})\nA) Option 1  \nB) Option 2  \nC) Option 3 (✅)  \nD) Option 4  \n\n...\n\\`\\`\\`\n\nMake sure each subtopic is covered with at least 2-3 questions.\nReturn ONLY the Markdown-formatted exam.`;\n\nconsole.log(\"Generated prompt:\", prompt);\n\n// Возвращаем результат для следующего шага\nreturn {\n  topic: topic,\n  course: course,\n  subtopics: subtopics,\n  prompt: String(prompt),\n  original_item: firstItem\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,100],"id":"56e739d0-c2f6-49f0-a4b1-c6cc8412bf39","name":"Промпт и условия"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1220,280],"id":"c891a5b6-4f72-4667-81f8-3e62e1300219","name":"Модель ИИ для генерации квизов","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,640],"id":"8a5ad8a0-515a-43e0-88fc-6664a7132a8b","name":"Модель ИИ для перевода квизов в маркдаун","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=\nTake this topic content and create a quiz for it.\n{{ $('Промпт и условия').item.json.prompt }}\n15 questions, 4 answer options, 1 correct answer. \nMark correct answer with ✅ in answer options. \nPlain text for Google Docs."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,100],"id":"0f73f1a0-efba-462d-89a4-f10c79974b60","name":"Генерация экзаменов"},{"parameters":{"promptType":"define","text":"={{ String($('Генерация экзаменов').item.json.text) }}\nconvert exam text to markdown"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,500],"id":"5e53d1cd-2087-4050-b7e7-47cf965cb84f","name":"Перевод экзамена в маркдаун"},{"parameters":{"folderId":"1r57mu3KZiTOYuyk2hE0K-Vhq91-5AfSN","title":"={{ $('Генерация экзаменов').item.json.text }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,100],"id":"f8aec680-47a9-4b0c-9806-9ff8b82deecd","name":"Создание документа для экзамена","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Генерация экзаменов').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,100],"id":"f998f6c6-6224-4b12-82d6-23e64d771cef","name":"Заполнение документа для экзамена","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"columns":{"mappingMode":"defineBelow","value":{"Exams":"=https://docs.google.com/document/d/{{ $json.documentId }}/view ","row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,100],"id":"a87c37e7-26d4-41f6-a621-fee091447157","name":"Обновление таблицы с экзаменами","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"folderId":"1h4HBYsr3j8-_StAt1KRfIDgYWhNzCVrJ","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} exam markdown"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,500],"id":"f4b17259-7008-42b6-8fdc-aa6a7f32456a","name":"Создание документа для экзамена маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Перевод экзамена в маркдаун').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,500],"id":"de28408e-4bb1-4b7a-88d6-fe509b829f24","name":"Заполнение документа для экзамена маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Exams Markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,500],"id":"77551a38-96e1-428b-99c2-9d1eb464d8d3","name":"Обновление таблицы с экзаменом маркдаун","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}}],"connections":{"Триггер таймера":{"main":[[{"node":"Получение строк из таблицы","type":"main","index":0}]]},"Получение строк из таблицы":{"main":[[{"node":"Промпт и условия","type":"main","index":0}]]},"Промпт и условия":{"main":[[{"node":"Генерация экзаменов","type":"main","index":0}]]},"Модель ИИ для генерации квизов":{"ai_languageModel":[[{"node":"Генерация экзаменов","type":"ai_languageModel","index":0}]]},"Модель ИИ для перевода квизов в маркдаун":{"ai_languageModel":[[{"node":"Перевод экзамена в маркдаун","type":"ai_languageModel","index":0}]]},"Генерация экзаменов":{"main":[[{"node":"Создание документа для экзамена","type":"main","index":0}]]},"Перевод экзамена в маркдаун":{"main":[[{"node":"Создание документа для экзамена маркдаун","type":"main","index":0}]]},"Создание документа для экзамена":{"main":[[{"node":"Заполнение документа для экзамена","type":"main","index":0}]]},"Заполнение документа для экзамена":{"main":[[{"node":"Обновление таблицы с экзаменами","type":"main","index":0}]]},"Обновление таблицы с экзаменами":{"main":[[{"node":"Перевод экзамена в маркдаун","type":"main","index":0}]]},"Создание документа для экзамена маркдаун":{"main":[[{"node":"Заполнение документа для экзамена маркдаун","type":"main","index":0}]]},"Заполнение документа для экзамена маркдаун":{"main":[[{"node":"Обновление таблицы с экзаменом маркдаун","type":"main","index":0}]]},"Обновление таблицы с экзаменом маркдаун":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Триггер таймера":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e597eaee-f11d-46ee-8c98-20640cf527c2","triggerCount":1,"tags":[{"createdAt":"2025-02-28T12:15:53.990Z","updatedAt":"2025-02-28T12:15:53.990Z","id":"iZcFhmUcGt1jKvyf","name":"LLM"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}