danylo-topics-for-ai-onboarding-5ktweSnC1UHyzr2x.json
{"createdAt":"2025-03-03T10:48:00.115Z","updatedAt":"2025-03-06T11:05:07.000Z","id":"5ktweSnC1UHyzr2x","name":"Danylo Topics for AI onboarding","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[460,100],"id":"c5e08776-023c-4a30-a41e-df489053120e","name":"Триггер таймера"},{"parameters":{"documentId":{"__rl":true,"value":"1Zp0DhmeWR0_uHeaVej-c7yyF--Xfmndx7A-ADB18LMo","mode":"list","cachedResultName":"Topics for AI onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Zp0DhmeWR0_uHeaVej-c7yyF--Xfmndx7A-ADB18LMo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Zp0DhmeWR0_uHeaVej-c7yyF--Xfmndx7A-ADB18LMo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,100],"id":"1c581693-25d4-45d6-b05c-6b943f9bac8b","name":"Получение строк из таблицы","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Получаем все данные из Google Sheets\nconst items = $input.all();\n\n// Фильтруем строки, где Quizzes markdown пустое\nconst filteredItems = items.filter(item => {\n  if (item.json) {\n    return !item.json[\"Quizzes markdown\"] || \n           item.json[\"Quizzes markdown\"].trim() === \"\" || \n           item.json[\"Quizzes markdown\"] === \"[empty]\";\n  }\n  return false;\n});\n\n// Если нет подходящих записей, останавливаем выполнение\nif (filteredItems.length === 0) {\n  return { message: \"No items with empty Quizzes markdown found\" };\n}\n\n// Берем первую строку с пустым Quizzes markdown\nconst firstItem = filteredItems[0].json;\n\n// Извлекаем данные\nconst course = firstItem[\"Courses\"]?.trim() ?? \"No Course\";\nconst topicsRaw = firstItem[\"Topics\"]?.trim() ?? \"No Topics Available\";\nconst guideTextLink = firstItem[\"Guide Text link\"]?.trim() ?? \"No Link Provided\";\nconst quizzesLink = firstItem[\"Quizzes\"]?.trim() ?? \"No Quizzes Available\";\n\n// Обрабатываем темы (разбиваем по - и \\n)\nconst topics = topicsRaw.split(/\\n|-/)\n  .map(topic => topic.trim())\n  .filter(topic => topic.length > 0);  // Убираем пустые строки\n\n// Формируем Markdown для Quizzes\nconst quizzesMarkdown = `\n# ${course}\n\n## Topics Covered\n${topics.map(topic => `- ${topic}`).join('\\n')}\n\n## Quizzes\n[📖 Take the Quiz Here](${quizzesLink})\n\n*Auto-generated from Google Sheets.*\n`;\n\n// Создаем промпт для генерации Markdown контента\nconst prompt = `Create a structured Markdown quiz for \"${course}\" covering these exact topics:  \n${topics.join(', ')}.\n\nEXTREMELY IMPORTANT FORMATTING INSTRUCTIONS:\n- Format the quiz in Markdown\n- Include multiple-choice questions for each topic\n- Ensure clear answer options (A, B, C, D)\n- Mark the correct answer with (✅)\n- Provide a structured and easy-to-read format\n\nExample format:\n\\`\\`\\`markdown\n## Quiz: ${course}\n\n### Question 1:\nWhich of the following best describes ${topics[0]}?\nA) Option 1  \nB) Option 2 (✅)  \nC) Option 3  \nD) Option 4  \n\n### Question 2:\n(Another question related to ${topics[1]})\nA) Option 1  \nB) Option 2  \nC) Option 3 (✅)  \nD) Option 4  \n\n...\n\\`\\`\\`\n\nEnsure each topic has at least 2-3 questions.\nReturn ONLY the Markdown-formatted quiz.`;\n\n// Возвращаем данные для передачи в следующий шаг\nreturn {\n  course: course,\n  topics: topics.join(', '),\n  quizzesMarkdown: quizzesMarkdown,\n  prompt: prompt,\n  original_item: firstItem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,100],"id":"f0295c48-fc52-4021-85b4-424cb595e254","name":"Промпт и условия"},{"parameters":{"folderId":"1HIQ4ZQR5x4BunaNBGM42012WWgxGc7fV","title":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1540,100],"id":"894b5a71-f889-44e1-bf1a-8867c5acd1fb","name":"Создание документа для топика","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Преобразование в Markdown').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1740,100],"id":"56315ea9-e027-4d15-841b-fb6331a34b9a","name":"Заполнение документа для топика","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Zp0DhmeWR0_uHeaVej-c7yyF--Xfmndx7A-ADB18LMo","mode":"list","cachedResultName":"Topics for AI onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Zp0DhmeWR0_uHeaVej-c7yyF--Xfmndx7A-ADB18LMo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Zp0DhmeWR0_uHeaVej-c7yyF--Xfmndx7A-ADB18LMo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Guide Text link":"={{ $('Промпт и условия').item.json.original_item['Guide Text link'] }}","row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}","Guides markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view","ONB Day":"={{ $('Промпт и условия').item.json.original_item['ONB Day'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quizes","displayName":"Quizes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Scenario link","displayName":"Scenario link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video link","displayName":"Video link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Audio Link","displayName":"Audio Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Images Links","displayName":"Images Links","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"App","displayName":"App","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Running Person","displayName":"Running Person","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Accounts","displayName":"Accounts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Generated content for carousels","displayName":"Generated content for carousels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1980,100],"id":"5eeec497-a284-460e-95a5-cd5429414aaf","name":"Обновление таблицы с топиками","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"model":"deepseek/deepseek-r1:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1320,240],"id":"eba02118-8806-400c-85a7-5d6e3dd64f83","name":"Модель ИИ для генерации топиков","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Convert the following Google Document content into structured Markdown, preserving headings, lists, and formatting exactly as in the document. Extract only the quiz content from the Google Doc. Keep the original structure with numbered questions, answer choices, and correct answers marked. Return only Markdown formatted quiz content. Return only the Markdown content.\n\nExtract the content of the Google Document and convert it into structured Markdown. Keep all original formatting, including:\n- Headings (`#`, `##`, `###`)\n- Lists (`-`, `*`, `1.`)\n- Bold (`**bold**`)\n- Italics (`*italic*`)\n\nMark correct answer with check mark in answer options.\n\n{{ String($('Промпт и условия').item.json.original_item.Quizes) }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1180,400],"id":"cb8e6411-1d28-4640-bedd-065cb78f66c2","name":"Перевод квизов в маркдаун"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1320,540],"id":"5eb78b47-7936-44d7-abf6-46015e4e86ca","name":"Модель ИИ для перевода квизов в маркдаун","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"folderId":"1h4HBYsr3j8-_StAt1KRfIDgYWhNzCVrJ","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} quiz md"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1540,400],"id":"60c708a1-1ad9-4579-b0a1-dc303103aab3","name":"Создание документа для квиза маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Перевод квизов в маркдаун').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1760,400],"id":"5bd059a0-01e5-4b14-a704-93b95015542d","name":"Заполнение документа для квиза маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Zp0DhmeWR0_uHeaVej-c7yyF--Xfmndx7A-ADB18LMo","mode":"list","cachedResultName":"Topics for AI onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Zp0DhmeWR0_uHeaVej-c7yyF--Xfmndx7A-ADB18LMo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Zp0DhmeWR0_uHeaVej-c7yyF--Xfmndx7A-ADB18LMo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Quizes markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view ","Courses":"={{ $('Промпт и условия').item.json.original_item.Courses }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}","ONB Day":"={{ $('Промпт и условия').item.json.original_item[\"ONB Day\"] }}","Quizes":"={{ $('Промпт и условия').item.json.original_item.Quizes }}","row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quizes","displayName":"Quizes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quizes markdown","displayName":"Quizes markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Scenario link","displayName":"Scenario link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video link","displayName":"Video link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Audio Link","displayName":"Audio Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Images Links","displayName":"Images Links","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"App","displayName":"App","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Running Person","displayName":"Running Person","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Accounts","displayName":"Accounts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Generated content for carousels","displayName":"Generated content for carousels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1980,400],"id":"e102ec4e-2d8c-4505-acb0-ee4eaf3bc83e","name":"Обновление таблицы с квизами маркдаун","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $json.quizzesMarkdown }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1180,100],"id":"a3b576f6-ac59-4cf9-b306-8fd126a5c09c","name":"Преобразование в Markdown"}],"connections":{"Триггер таймера":{"main":[[{"node":"Получение строк из таблицы","type":"main","index":0}]]},"Получение строк из таблицы":{"main":[[{"node":"Промпт и условия","type":"main","index":0}]]},"Промпт и условия":{"main":[[{"node":"Преобразование в Markdown","type":"main","index":0}]]},"Создание документа для топика":{"main":[[{"node":"Заполнение документа для топика","type":"main","index":0}]]},"Заполнение документа для топика":{"main":[[{"node":"Обновление таблицы с топиками","type":"main","index":0}]]},"Обновление таблицы с топиками":{"main":[[{"node":"Перевод квизов в маркдаун","type":"main","index":0}]]},"Модель ИИ для генерации топиков":{"ai_languageModel":[[{"node":"Преобразование в Markdown","type":"ai_languageModel","index":0}]]},"Модель ИИ для перевода квизов в маркдаун":{"ai_languageModel":[[{"node":"Перевод квизов в маркдаун","type":"ai_languageModel","index":0}]]},"Перевод квизов в маркдаун":{"main":[[{"node":"Создание документа для квиза маркдаун","type":"main","index":0}]]},"Создание документа для квиза маркдаун":{"main":[[{"node":"Заполнение документа для квиза маркдаун","type":"main","index":0}]]},"Заполнение документа для квиза маркдаун":{"main":[[{"node":"Обновление таблицы с квизами маркдаун","type":"main","index":0}]]},"Обновление таблицы с квизами маркдаун":{"main":[[]]},"Преобразование в Markdown":{"main":[[{"node":"Создание документа для топика","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Триггер таймера":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"de1fd645-0da5-4afd-aeae-a7f2f92fcaa4","triggerCount":1,"tags":[{"createdAt":"2025-02-28T12:15:53.990Z","updatedAt":"2025-02-28T12:15:53.990Z","id":"iZcFhmUcGt1jKvyf","name":"LLM"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}