dasha-artemchuk-(don't-touch)-bAaZZohty1fW81VI.json
{"createdAt":"2025-03-06T09:03:35.807Z","updatedAt":"2025-03-06T15:31:23.000Z","id":"bAaZZohty1fW81VI","name":"Dasha Artemchuk (don't touch)","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[460,100],"id":"c8ce4a27-da0e-40e1-a4bc-7d254cad4982","name":"Триггер таймера"},{"parameters":{"documentId":{"__rl":true,"value":"15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8","mode":"list","cachedResultName":"Onboarding for content creators","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":647402261,"mode":"list","cachedResultName":"Topics N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit#gid=647402261"},"filtersUI":{"values":[{"lookupColumn":"Guide Text link"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,100],"id":"ff1eadf5-538e-4507-abb7-5c385f8175cc","name":"Получение строк из таблицы","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Получаем все данные из Google Sheets\nconst items = $input.all();\n\n// Фильтруем строки, где Guide Text link пустое\nconst filteredItems = items.filter(item => {\n  // Проверяем, есть ли у item свойство json\n  if (item.json) {\n    return !item.json[\"Guide Text link\"] || \n           item.json[\"Guide Text link\"] === \"\" || \n           item.json[\"Guide Text link\"] === \"[empty]\";\n  }\n  return false;\n});\n\n// Проверяем, что у нас есть подходящие записи\nif (filteredItems.length === 0) {\n  return { message: \"No items with empty Guide Text link found\" };\n}\n\n// Выбираем первую строку с пустым значением в Guide Text link\nconst firstItem = filteredItems[0].json; // Доступ к данным через .json\n\n// Проверка и удаление лишних пробелов из темы\nconst topic = firstItem.Topics ? firstItem.Topics.trim() : \"Content generation\";\nconst course = firstItem.Courses ? firstItem.Courses.trim() : \"Prompt Engineering\";\n\n// Получение и обработка подтем\nconst subtopicsRaw = firstItem.Subtopics || \"\";\nconst subtopics = subtopicsRaw.split(',').map(subtopic => subtopic.trim());\n\n// Создаем промпт для ИИ с данными из выбранной строки\nconst prompt = `Create an educational article about \"${topic}\" that focuses SPECIFICALLY on these exact subtopics: ${subtopicsRaw}.\n\nEXTREMELY IMPORTANT FORMATTING INSTRUCTIONS:\n- Do NOT use Markdown format\n- Do NOT include any code blocks or triple backticks\n- Do NOT include any instructions about copying, pasting, or formatting the text\n- Provide ONLY plain text content\n- Do NOT add any meta-instructions at the beginning or end\n\nThe article should have this structure:\n\nThe Content Creator's Guide to ${topic}\n\nTable of Contents\n(List EXACTLY these subtopics with appropriate emoji for each - these are the ONLY subtopics you should cover):\n${subtopics.map(sub => `- ${sub}`).join('\\n')}\n\n(Introduction paragraph explaining ${topic} and its importance - no heading needed)\n\n(For each subtopic, create a section with the EXACT subtopic name as heading)\n${subtopics.map((sub, index) => `${sub}`).join('\\n\\n')}\n\n(Each subtopic section should include relevant content explaining that specific subtopic in detail)\n\n(End with a brief Key Takeaways section)\n\nIMPORTANT NOTES:\n1. You MUST use these EXACT subtopic names as your main sections\n2. Do not create your own subtopics - ONLY use the ones provided\n3. The document won't be automatically formatted in Google Docs - it will need manual formatting\n4. Make content accessible for beginners, approximately 1500-2000 words total\n\nReturn ONLY the plain text content with no additional commentary.`;\n\n// Возвращаем результат, чтобы передать его в следующий нод\nreturn {\n  topic: topic,\n  course: course,\n  subtopics: subtopics,\n  prompt: prompt,\n  original_item: firstItem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,100],"id":"a144de85-5dd3-4623-8e7b-a9660164faa7","name":"Промпт и условия"},{"parameters":{"promptType":"define","text":"={{ $json.topic }}{{ $json.subtopics }}{{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1180,100],"id":"88c0bc1d-b54c-481c-821d-11cd16a09377","name":"Генерация топика","alwaysOutputData":true},{"parameters":{"folderId":"1HIQ4ZQR5x4BunaNBGM42012WWgxGc7fV","title":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1540,100],"id":"02255533-6ce0-4a2d-9458-c99977416763","name":"Создание документа для топика","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Генерация топика').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1720,100],"id":"7e228235-0f2e-47e4-a72a-115a1c30c170","name":"Заполнение документа для топика","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8","mode":"list","cachedResultName":"Onboarding for content creators","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":647402261,"mode":"list","cachedResultName":"Topics N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit#gid=647402261"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Guide Text link":"=https://docs.google.com/document/d/{{ $json.documentId }}/view","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Hook link","displayName":"Exams Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1980,100],"id":"5223926e-07d5-4b63-8419-d59ad56d977e","name":"Обновление таблицы с топиками","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=convert  {{ $('Генерация топика').item.json.text }} to markdown"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,420],"id":"3e9eb2ca-1e3b-46a8-a6e7-c42c8c083078","name":"Перевод топика в маркдаун"},{"parameters":{"folderId":"1GyODa7YSVnQTBs_ZTCz-ShB8qyyof-Jl","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} MD"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,420],"id":"c67f0387-892b-47d2-bb3c-9a2b87416c08","name":"Создание документа для топика в маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Перевод топика в маркдаун').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,420],"id":"c42adf82-7860-4bc7-9cdb-e606e2cb90b4","name":"Заполнение документа для топика в маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8","mode":"list","cachedResultName":"Onboarding for content creators","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":647402261,"mode":"list","cachedResultName":"Topics N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit#gid=647402261"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}","Guides markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view "},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Hook link","displayName":"Exams Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,420],"id":"9aa5ad96-d08f-416e-8375-2f33811a309b","name":"Обновление таблицы с топиками маркдаун","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Take this topic content and create a quiz for it.  {{ $('Генерация топика').item.json.text }}\n15 questions, 4 aswer options, 1 correct answer. Mark correct answer with check mark in answer options. Plane text for google docs. "},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,740],"id":"18f6ea89-6948-47cc-a2da-7f68f063576d","name":"Генерация квизов"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1320,240],"id":"3c5eb249-2024-4c18-a0d1-ba235b75e810","name":"Модель ИИ для генерации топиков","credentials":{"openRouterApi":{"id":"WrcI4NDeH0Hyl0Z2","name":"OpenRouter DD account"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,560],"id":"6a2ebbb5-b18a-45bc-b47c-4538d52b34af","name":"Модель ИИ для перевода топиков в маркдаун","credentials":{"openRouterApi":{"id":"WrcI4NDeH0Hyl0Z2","name":"OpenRouter DD account"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,880],"id":"514117c7-2c28-4860-8918-38975811062f","name":"Модель ИИ для генерации квизов","credentials":{"openRouterApi":{"id":"WrcI4NDeH0Hyl0Z2","name":"OpenRouter DD account"}}},{"parameters":{"folderId":"1r57mu3KZiTOYuyk2hE0K-Vhq91-5AfSN","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} quiz"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,740],"id":"56a7660d-ff59-41a6-bd3f-78a7ad2c652b","name":"Создание документа для квиза","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Генерация квизов').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,740],"id":"c3fce13e-fbdc-400d-9aac-b2c363982528","name":"Заполнение документа для квиза","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8","mode":"list","cachedResultName":"Onboarding for content creators","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":647402261,"mode":"list","cachedResultName":"Topics N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit#gid=647402261"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}","Exams":"=https://docs.google.com/document/d/{{ $json.documentId }}/view"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Hook link","displayName":"Exams Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,740],"id":"66307f1b-8e99-4d00-a8d3-49284a847265","name":"Обновление таблицы с квизами","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $('Генерация квизов').item.json.text }} convert it to markdown"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,1060],"id":"19c5d2a0-cd86-4693-baba-bb0a9d1a1fd0","name":"Перевод квизов в маркдаун"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,1200],"id":"2fec3f83-b3cc-4f72-8674-bd7c092b6741","name":"Модель ИИ для перевода квизов в маркдаун","credentials":{"openRouterApi":{"id":"WrcI4NDeH0Hyl0Z2","name":"OpenRouter DD account"}}},{"parameters":{"folderId":"1h4HBYsr3j8-_StAt1KRfIDgYWhNzCVrJ","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} quiz md"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,1060],"id":"405086f9-680c-4cf6-ac9f-f74b006a6a38","name":"Создание документа для квиза маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Перевод квизов в маркдаун').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,1060],"id":"7614564e-b63c-424f-a28c-217fcc0281b0","name":"Заполнение документа для квиза маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8","mode":"list","cachedResultName":"Onboarding for content creators","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":647402261,"mode":"list","cachedResultName":"Topics N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit#gid=647402261"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}","Exams Markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view "},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Hook link","displayName":"Exams Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,1060],"id":"4e0f0839-c31d-4c9c-9600-5e952505246b","name":"Обновление таблицы с квизами маркдаун","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"960429558560063518","mode":"id"},"content":"=📚 **Контент для топика \"{{ $('Промпт и условия').item.json.original_item.Topics }}\" готов!**\n\n🔗 [Ссылка на таблицу](https://docs.google.com/spreadsheets/d/15BTeQjbR9bxw6a-S_kvxV-s4h_5oEWcPyk1qPCWQQL8/edit?gid=647402261#gid=647402261) ","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2220,1060],"id":"4a34010d-4370-4a9a-ac82-96e9ac22f259","name":"Discord","webhookId":"9ecc8ab0-580f-4a11-a954-1d4c8deac14e","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}}],"connections":{"Триггер таймера":{"main":[[{"node":"Получение строк из таблицы","type":"main","index":0}]]},"Получение строк из таблицы":{"main":[[{"node":"Промпт и условия","type":"main","index":0}]]},"Промпт и условия":{"main":[[{"node":"Генерация топика","type":"main","index":0}]]},"Генерация топика":{"main":[[{"node":"Создание документа для топика","type":"main","index":0}]]},"Создание документа для топика":{"main":[[{"node":"Заполнение документа для топика","type":"main","index":0}]]},"Заполнение документа для топика":{"main":[[{"node":"Обновление таблицы с топиками","type":"main","index":0}]]},"Обновление таблицы с топиками":{"main":[[{"node":"Перевод топика в маркдаун","type":"main","index":0}]]},"Перевод топика в маркдаун":{"main":[[{"node":"Создание документа для топика в маркдаун","type":"main","index":0}]]},"Создание документа для топика в маркдаун":{"main":[[{"node":"Заполнение документа для топика в маркдаун","type":"main","index":0}]]},"Заполнение документа для топика в маркдаун":{"main":[[{"node":"Обновление таблицы с топиками маркдаун","type":"main","index":0}]]},"Обновление таблицы с топиками маркдаун":{"main":[[{"node":"Генерация квизов","type":"main","index":0}]]},"Генерация квизов":{"main":[[{"node":"Создание документа для квиза","type":"main","index":0}]]},"Модель ИИ для генерации топиков":{"ai_languageModel":[[{"node":"Генерация топика","type":"ai_languageModel","index":0}]]},"Модель ИИ для перевода топиков в маркдаун":{"ai_languageModel":[[{"node":"Перевод топика в маркдаун","type":"ai_languageModel","index":0}]]},"Модель ИИ для генерации квизов":{"ai_languageModel":[[{"node":"Генерация квизов","type":"ai_languageModel","index":0}]]},"Создание документа для квиза":{"main":[[{"node":"Заполнение документа для квиза","type":"main","index":0}]]},"Заполнение документа для квиза":{"main":[[{"node":"Обновление таблицы с квизами","type":"main","index":0}]]},"Обновление таблицы с квизами":{"main":[[{"node":"Перевод квизов в маркдаун","type":"main","index":0}]]},"Модель ИИ для перевода квизов в маркдаун":{"ai_languageModel":[[{"node":"Перевод квизов в маркдаун","type":"ai_languageModel","index":0}]]},"Перевод квизов в маркдаун":{"main":[[{"node":"Создание документа для квиза маркдаун","type":"main","index":0}]]},"Создание документа для квиза маркдаун":{"main":[[{"node":"Заполнение документа для квиза маркдаун","type":"main","index":0}]]},"Заполнение документа для квиза маркдаун":{"main":[[{"node":"Обновление таблицы с квизами маркдаун","type":"main","index":0}]]},"Обновление таблицы с квизами маркдаун":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Триггер таймера":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"78a91705-8655-4487-9101-bc8edf7a92ea","triggerCount":1,"tags":[{"createdAt":"2025-03-06T09:03:32.084Z","updatedAt":"2025-03-06T09:03:32.084Z","id":"sZdIIoFSu56xxuxb","name":"SMM"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}