deletejsonforupdate-zExeriXA5cRy0jFR.json
{"createdAt":"2025-03-14T14:15:09.230Z","updatedAt":"2025-03-25T08:21:07.000Z","id":"zExeriXA5cRy0jFR","name":"DeleteJSONForUpdate","active":false,"nodes":[{"parameters":{"url":"https://docs.googleapis.com/v1/documents/11S6ngZytRUSfc91-YVewlglqqeMHhnVoQZLc_1PTenw","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,20],"id":"e369e3db-38e1-4167-8afe-f6955d8ee4d8","name":"HTTP Request","credentials":{"googleDocsOAuth2Api":{"id":"kGGPhyzvK0TCTwho","name":"Google Docs dev api key"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-580,20],"id":"b8de1be1-4002-4b72-b2f2-0d8d1922be13","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://docs.googleapis.com/v1/documents/11S6ngZytRUSfc91-YVewlglqqeMHhnVoQZLc_1PTenw:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"deleteContentRange\": {\n        \"range\": {\n          \"startIndex\": 1,\n          \"endIndex\": {{$json.endIndex - 1}}\n        }\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,20],"id":"391670d4-acd3-486c-94e7-645cb5a23625","name":"HTTP Request1","retryOnFail":false,"credentials":{"googleDocsOAuth2Api":{"id":"kGGPhyzvK0TCTwho","name":"Google Docs dev api key"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const content = items[0].json.body.content;\n\n// Отбираем только те элементы, у которых endIndex больше 1 и преобразуем в число\nconst validIndices = content\n\t.map(item => Number(item.endIndex))\n\t.filter(n => n > 1);\n\n// Берем максимальное значение, если есть, иначе 1\nconst maxEndIndex = validIndices.length ? Math.max(...validIndices) : 1;\n\nreturn [{ json: { endIndex: maxEndIndex } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,20],"id":"af058a23-297f-421a-9551-851ed5387e49","name":"Code"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"efe6816a-901a-4e02-8e0a-1e76e2574465","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:52:07.036Z","updatedAt":"2025-03-04T10:52:07.036Z","id":"PgMCrQDmXgYzQdJC","name":"JSON"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}