discord-report-verification-8V6KaPGZEhdTUccO.json
{"createdAt":"2025-03-19T08:22:46.925Z","updatedAt":"2025-03-25T13:04:44.000Z","id":"8V6KaPGZEhdTUccO","name":"Discord Report Verification","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json['Report text'] }} and {{ $json.UserID }} and {{ $json.Name }}","options":{"systemMessage":"=You are an automation agent that processes an array of Lead Generator daily reports, each with fields such as:\n- row_number\n- Name (e.g. \"alinapolishchuk\")\n- Date (e.g. \"19.03.2025 12:59\")\n- Report text\n- UserID (e.g. \"999018101779742841\")\n- formatOk\n- normOk\n- status\n- companiesCount\n- messagesCount\n(and possibly other fields)\n\nTreat each report as a separate entry. For each entry, output one or more JSON objects (each on its own line) containing:\n- **Name** (the person's name, taken from the input field `{{ $json.Name }}`),\n- **UserID** (taken from the input field ` {{ $json.UserID }}`),\n- **status** (exactly one of `\"project_leadgen\"`, `\"incorrect_report_or_daily_quota\"`, or `\"correct_report_and_daily_quota\"`).\n\nDo not output anything else.\n\nClassification Rules (in order):\n\n1. If the Report text contains the exact substring \"Project:\" (case‑insensitive), classify the report as \"project_leadgen\" — with two exceptions:\n   - If the report explicitly says it's Part-Time plus some project (like “Part-Time Project” or “worked half-day on a project, half-day on regular tasks”), treat the entire day as regular Part-Time (ignore the project part) and do not classify as \"project_leadgen\".\n   - If the user did not clarify Part-Time Project, but they list a project name (e.g., “Project ACME”), consider them Full-Time Project and classify as \"project_leadgen\".\n\n2. Otherwise, verify the format: the report must include a Full‑Time or Part‑Time indicator, a \"Creates\" line with a number, a \"Sent Request\" line with a number, and a \"Connected\" line with a number. (A \"Messages to old connections\" line is optional.)  \n   If any required field is missing or malformed, classify the report as \"incorrect_report_or_daily_quota\".\n\n3. If the format is correct, check the daily quota:\n   - For Full‑Time: \"Creates\" should be between 50 and 70 and \"Messages\" (if present) should be at least 60.\n   - For Part‑Time: \"Creates\" should be between 20 and 40 and \"Messages\" (if present) should be at least 30.\n   If the quota is not met, classify the report as \"incorrect_report_or_daily_quota\".\n\n4. If the format is correct and the quota is met, classify the report as \"correct_report_and_daily_quota\".\n\nAdditional requirement:\n- For each report, you must output **Name**, **UserID**, and **status**. If a single report qualifies for multiple classifications (for instance, part-time project plus meeting the part-time quota), return 2 JSON objects with the same Name and UserID, but different status.\n\nReturn the results as a JSON array of objects, for example:\n\n[\n  {\n    \"Name\": \"alinapolishchuk\",\n    \"UserID\": \"999018101779742841\",\n    \"status\": \"project_leadgen\"\n  },\n  {\n    \"Name\": \"Bob\",\n    \"UserID\": \"123456789012345678\",\n    \"status\": \"incorrect_report_or_daily_quota\"\n  },\n  {\n    \"Name\": \"Max\",\n    \"UserID\": \"987654321098765432\",\n    \"status\": \"correct_report_and_daily_quota\"\n  }\n]\n\nMake sure to respond with valid JSON only, with no extra text or explanation. \nDo not wrap the JSON in markdown fences.\nDont forget about {{ $json.UserID }}, i dont need empty \"\"!\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[120,580],"id":"a3b0e545-2360-4657-889f-da9d504054ff","name":"AI Agent","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"model":"google/gemma-3-4b-it:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-200,740],"id":"23c7f2e5-5bd0-488d-b4ad-5730f8298a5f","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"bAp7bln2GIj8yhFs","name":"OpenRouter Dev account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('LG read Sheets').item.json['Report text'] }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[120,780],"id":"3d91bae5-6ab6-400f-a11e-c9d32047c816","name":"Window Buffer Memory"},{"parameters":{"documentId":{"__rl":true,"value":"1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2011925316,"mode":"list","cachedResultName":"LeadGen Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=2011925316"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[300,780],"id":"ab9d7af2-ca6d-43b3-9566-33b26feea532","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"name":"Last_day","jsCode":"const results = [];\n\n// 1. Определяем «вчера» как промежуток с 00:00 до 23:59 предыдущего дня\nconst now = new Date();\nconst startYesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1, 0, 0, 0, 0);\nconst endYesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1, 23, 59, 59, 999);\n\nfor (const item of items) {\n  // Получаем строку даты из поля \"Date\"\n  const dateStr = item.json[\"Date\"] || \"\";\n  if (!dateStr) {\n    // Если дата не указана, пропускаем\n    continue;\n  }\n\n  // 2. Парсим дату в формате \"DD.MM.YYYY HH:MM\" или \"DD.MM.YYYY\"\n  // Разделяем дату и время (если время отсутствует, будет undefined)\n  const [datePart, timePart] = dateStr.split(\" \");\n  // Разделяем день, месяц, год\n  const [day, month, year] = datePart.split(\".\");\n  if (!day || !month || !year) {\n    // Если не получилось извлечь три части, пропускаем\n    continue;\n  }\n\n  let hours = 0;\n  let minutes = 0;\n  if (timePart) {\n    // Если есть время, разделяем часы и минуты\n    const [hh, mm] = timePart.split(\":\");\n    hours = parseInt(hh, 10) || 0;\n    minutes = parseInt(mm, 10) || 0;\n  }\n\n  // Создаём объект даты: year, month-1 (т.к. в JS месяцы с 0), day, hours, minutes\n  const itemDate = new Date(parseInt(year, 10), parseInt(month, 10) - 1, parseInt(day, 10), hours, minutes);\n\n  // Проверяем валидность\n  if (isNaN(itemDate.getTime())) {\n    // Дата некорректна\n    continue;\n  }\n\n  // 3. Фильтруем: берём только записи, попадающие во «вчера»\n  if (itemDate < startYesterday || itemDate > endYesterday) {\n    // Если дата вне диапазона, пропускаем\n    continue;\n  }\n\n  // 4. Анализируем текст отчёта\n  const reportText = item.json[\"Report text\"] || \"\";\n  const lines = reportText.split(\"\\n\").map(line => line.trim());\n\n  // Если есть \"Project:\", сразу помечаем как хороший отчёт\n  if (reportText.includes(\"Project:\")) {\n    item.json.formatOk = true;\n    item.json.normOk = true;\n    item.json.status = \"Project\";\n    item.json.companiesCount = null;\n    item.json.messagesCount = null;\n    results.push(item);\n    continue;\n  }\n\n  // Иначе начинаем проверять формат\n  let formatOk = true;\n  let normOk = true;\n  let status = null;\n  let companiesCount = null;\n  let messagesCount = null;\n\n  // 5. Ищем в тексте \"Full-Time\" или \"Part-Time\"\n  if (reportText.includes(\"Full-Time\")) {\n    status = \"Full-Time\";\n  } else if (reportText.includes(\"Part-Time\")) {\n    status = \"Part-Time\";\n  } else {\n    formatOk = false;\n  }\n\n  // 6. Ищем строку \"Creates companies:\"\n  const lineCompanies = lines.find(l => l.startsWith(\"Creates companies:\"));\n  if (lineCompanies) {\n    const match = lineCompanies.match(/\\d+/);\n    if (match) {\n      companiesCount = parseInt(match[0], 10);\n    } else {\n      formatOk = false;\n    }\n  } else {\n    formatOk = false;\n  }\n\n  // 7. Ищем строку \"Messages to old connections:\"\n  const lineMessages = lines.find(l => l.startsWith(\"Messages to old connections:\"));\n  if (lineMessages) {\n    const match = lineMessages.match(/\\d+/);\n    if (match) {\n      messagesCount = parseInt(match[0], 10);\n    } else {\n      formatOk = false;\n    }\n  } else {\n    formatOk = false;\n  }\n\n  // 8. Проверяем нормы, только если формат корректный\n  if (formatOk) {\n    if (status === \"Full-Time\") {\n      // Full-Time: 50–70 компаний, ≥60 сообщений\n      if (companiesCount < 50 || companiesCount > 70) normOk = false;\n      if (messagesCount < 60) normOk = false;\n    } else if (status === \"Part-Time\") {\n      // Part-Time: 20–40 компаний, ≥30 сообщений\n      if (companiesCount < 20 || companiesCount > 40) normOk = false;\n      if (messagesCount < 30) normOk = false;\n    }\n  }\n\n  // 9. Записываем результат в item.json\n  item.json.formatOk = formatOk;\n  item.json.normOk = normOk;\n  item.json.status = status;\n  item.json.companiesCount = companiesCount;\n  item.json.messagesCount = messagesCount;\n\n  results.push(item);\n}\n\nreturn results;"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[420,760],"id":"5d0d172a-9317-4974-bb9c-399078d9ec93","name":"Code Tool"},{"parameters":{"documentId":{"__rl":true,"value":"1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2011925316,"mode":"list","cachedResultName":"LeadGen Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=2011925316"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-460,580],"id":"06a25b73-baa4-4a2c-a05b-1b980373da02","name":"LG read Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"model":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"o3-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-20,720],"id":"cf2adc9a-09bb-4e8c-ade6-7b74a3c37b5e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"45jXhPFAPKKR3KzB","name":"OpenAi account ПЛАТНА"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"incorrect_report_or_daily_quota","operator":{"type":"string","operation":"contains"},"id":"c79c7e88-9a78-443e-9fc5-0b2c9c9fffd9"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"906cba3f-eb31-4e10-a9be-426d97799238","leftValue":"={{ $json.output }}","rightValue":"correct_report_and_daily_quota","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6fc315a7-ff0c-4420-9d22-17eb5ed45cb0","leftValue":"={{ $json.output }}","rightValue":"project_leadgen","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[580,520],"id":"ed95e719-85e7-4fd3-ae4b-b30291f614a8","name":"Switch"},{"parameters":{"jsCode":"// Предположим, что в item.json.output лежит строка вида:\n// \"[\\n  {\\\"Name\\\": \\\"Alice\\\", \\\"status\\\": \\\"project_leadgen\\\"},\\n  {\\\"Name\\\": \\\"Bob\\\", \\\"status\\\": \\\"incorrect_report_or_daily_quota\\\"}\\n]\"\n\nconst results = [];\n\nfor (const item of items) {\n  // 1. Получаем строку из поля output\n  const rawOutput = item.json.output || \"\";\n  if (!rawOutput) {\n    // Если поле пустое, пропускаем\n    continue;\n  }\n\n  try {\n    // 2. Парсим JSON\n    const parsedArray = JSON.parse(rawOutput);\n    // Ожидаем, что parsedArray – это массив объектов вида { Name, status }\n\n    // 3. Для каждого объекта в массиве создаём отдельный item\n    for (const obj of parsedArray) {\n      results.push({ json: obj });\n    }\n\n  } catch (error) {\n    // Если парсинг не удался, можно обработать ошибку или пропустить\n    console.log(\"JSON parse error:\", error);\n  }\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,300],"id":"632cd6c5-a0e7-47d2-b84b-e7da99ba5c2f","name":"Code1"},{"parameters":{"jsCode":"// Предположим, что в item.json.output лежит строка вида:\n// \"[\\n  {\\\"Name\\\": \\\"Alice\\\", \\\"status\\\": \\\"project_leadgen\\\"},\\n  {\\\"Name\\\": \\\"Bob\\\", \\\"status\\\": \\\"incorrect_report_or_daily_quota\\\"}\\n]\"\n\nconst results = [];\n\nfor (const item of items) {\n  // 1. Получаем строку из поля output\n  const rawOutput = item.json.output || \"\";\n  if (!rawOutput) {\n    // Если поле пустое, пропускаем\n    continue;\n  }\n\n  try {\n    // 2. Парсим JSON\n    const parsedArray = JSON.parse(rawOutput);\n    // Ожидаем, что parsedArray – это массив объектов вида { Name, status }\n\n    // 3. Для каждого объекта в массиве создаём отдельный item\n    for (const obj of parsedArray) {\n      results.push({ json: obj });\n    }\n\n  } catch (error) {\n    // Если парсинг не удался, можно обработать ошибку или пропустить\n    console.log(\"JSON parse error:\", error);\n  }\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,520],"id":"594f17af-74b4-4088-aa99-35962af239c6","name":"Code2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[820,760],"id":"b1add015-9738-4eb6-8a5e-72bc55938888","name":"No Operation, do nothing"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"={{ $json.UserID }}","mode":"id"},"content":"=Hi {{ $json.Name }}, I'm monitoring your reports, great job! You're formatting the report correctly and meeting the quota. \n\nI know you complete all quota and make correct report, but remind:\nfor part-time, we have a quota of at least 20 new companies. If it's slightly below that or you've been working on other tasks, it's not a big deal—I might still message you because I don’t yet have a full report-checking feature. For full-time, the quota is at least 40 companies.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1040,520],"id":"d5344b72-5d7a-495b-940d-74a53d423411","name":"Discord full quota and correct reports","webhookId":"15cedc03-0e12-43a0-9732-33260de960c1","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"={{ $json.UserID }}","mode":"id"},"content":"=Hi {{ $json.Name }}, I'm monitoring how you write reports, and I see there's an error. Just a reminder, this is what the report should look like:\n\nFull Time (Part-Time)\n18.03.2025\nYour name\nCountry\nCreates: XX\nSent Request: XXX\nConnected: XXX\nMessages to old connections: XXX \n\nAlso, I'd like to remind you that for part-time, we have a quota of at least 20 new companies. If it's slightly below that or you've been working on other tasks, it's not a big deal—I might still message you because I don’t yet have a full report-checking feature. For full-time, the quota is at least 40 companies.\n\nP.S. If you're on a project and received this message, it means I couldn't find the word \"Project\" that I filter by. Please correct this.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1040,300],"id":"22d865c4-a1ce-4931-b2a6-5f28008a3c86","name":"Discord incorrect quota or report","webhookId":"223801da-9451-4237-b55c-85df150c6492","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-780,580],"id":"f01a5f8f-0eca-492a-8913-c90da2ba0099","name":"Schedule Trigger"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"454595558779387904","mode":"id"},"content":"Hi {{ $json.Name }}, I'm monitoring how you write reports, and I see there's an error. Just a reminder, this is what the report should look like:\n\nFull Time (Part-Time)\n18.03.2025\nYour name\nCountry\nCreates: XX\nSent Request: XXX\nConnected: XXX\nMessages to old connections: XXX \n\nAlso, I'd like to remind you that for part-time, we have a quota of at least 20 new companies. If it's slightly below that or you've been working on other tasks, it's not a big deal—I might still message you because I don’t yet have a full report-checking feature. For full-time, the quota is at least 40 companies.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1720,140],"id":"81fabb72-6b0c-4e81-8acc-30becbbf0b48","name":"Discord","webhookId":"514abc4b-33ca-466e-967f-620496d7ada0","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1QeD7v2l4y04FYGVjxu-DbM-2jv1xHomYYfR2IoCMuh8/","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QeD7v2l4y04FYGVjxu-DbM-2jv1xHomYYfR2IoCMuh8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Messages":"={{ $json.content }}"},"matchingColumns":["Messages"],"schema":[{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1440,520],"id":"cf7f1906-58d7-4e35-bb38-2b948d1ca9e7","name":"Add reports to spreadsheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}},"onError":"continueRegularOutput"},{"parameters":{"content":"# ANALYSIS LEADGENS REPORTS","height":80,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,440],"id":"49476773-2928-4d85-ad85-8cd4bdc99e3a","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1723319401,"mode":"list","cachedResultName":"LG TeamLeads Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=1723319401"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-800,1740],"id":"b831166d-97ac-4f39-ac50-6c97d3f412f1","name":"LG TeamLeads read Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-140,1960],"id":"ca1eabb9-333d-480a-a461-16ad01f6d1d3","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"2TbftrJQ6ppFHQ2j","name":"OpenRouter pr account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"1080887161169117214","mode":"id"},"content":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,1740],"id":"c2f5048c-e270-4111-ae75-e6c0b6e37c07","name":"Discord1","webhookId":"d8a80908-22b4-4aa8-851d-a54a1656a49d","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[180,1940],"id":"e3363500-681e-4c3a-9dad-3af9ac891b11","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"2TbftrJQ6ppFHQ2j","name":"OpenRouter pr account"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[420,1420],"id":"0cdb67ba-17f2-4d15-92f9-b6b9527e0b02","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"2TbftrJQ6ppFHQ2j","name":"OpenRouter pr account"}}},{"parameters":{"promptType":"define","text":"={{ $json.Create }}{{ $json[\"Sent Request\"] }}{{ $json.Connected }}","messages":{"messageValues":[{"message":"=Summarize lead generation reports. In total, the team created a certain number of companies, sent a certain number of LinkedIn requests, and connected with a certain number of new leads. Write simmilar text and add to this paragraph this three raws. You need to add firstly \"Yesterday, leadgens ...\" and than all text Summarize these aggregated results in one brief paragraph, using the exact format below and no additional commentary or headings:\n\nCreate: {{ $json.Create }}  \nSent Request: {{ $json['Sent Request'] }}  \nConnected: {{ $json.Connected }} \n\nReturn only the final paragraph, ensuring it remains concise and clear. Add bullet points if you like it"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[460,1260],"id":"e425917a-01c6-415d-82bd-7b05d31fe213","name":"Leadgens summary reports"},{"parameters":{"promptType":"define","text":"=At first, use date - {{ $json.date }}, than that {{ $json.beginning_of_day }} and {{ $json.end_of_day }}","messages":{"messageValues":[{"message":"={{ $json.date }}\nStart message from \"LG TeamLeads summary\" title !!\nafter title write that:\nRead the provided text divided into two sections — “Beginning of the Day” ({{ $json.beginning_of_day }}) and “End of the Day.” ({{ $json.end_of_day }}) Produce a concise, straightforward summary that captures the key objectives, activities, and outcomes from each section without using conversational language or meta commentary. Limit the content summary to two paragraphs: one summarizing the “Beginning of the Day” section and the other summarizing the “End of the Day” section.\n\nBeginning: Summarize the planned tasks, priorities, and objectives detailed in the “Beginning of the Day” section in clear, simple language.\n\nEnding: Summarize the accomplishments, progress updates, challenges, and outcomes outlined in the “End of the Day” section, ensuring the summary is brief and free of repetition.\n\nremember, you create a summary of the work"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-220,1740],"id":"c159afaa-931f-44f3-9f8b-1ac7988761db","name":"Generate formating for teamleads"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"=Reformat the {{ $json.text }} below to be more visually appealing. Add headings, bullet points, emojis, and short paragraphs as needed. Insert blank lines to separate sections. Do not remove or alter any essential details. Return only the improved text, with no extra explanations or commentary. Use clear language and avoid repetition."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[180,1740],"id":"56150432-0279-4251-9d6c-dab766e25e32","name":"Refactoring teamleads"},{"parameters":{"promptType":"define","text":"={{ $json[\"Report text\"] }}","options":{"systemMessage":"=Take info from {{ $json[\"Report text\"] }}\n\nYou are given an array of lead generator daily reports. Each report contains counts for created companies, sent LinkedIn requests, and LinkedIn connections. Note that these values may appear under similar variant field names (e.g. \"Create\", \"Created\", \"Companies Created\" for companies; \"Sent Request\", \"Requests Sent\", \"Invitations Sent\" for requests; \"Connected\", \"Connections\", \"Added Friends\" for connections). Your task is to aggregate these numbers across all reports by summing up all relevant counts for each category. Output a single summary paragraph with the following format, ensuring each item is on a new line:\n\nCreate: <create>  \nSent Request: <sent_requests>  \nConnected: <connected>\n\nReturn only what i need, with no additional commentary. If you didnot find field \"Create\", or \"Sent Request\", or \"Connected\" - write 0"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-100,1260],"id":"824fdc74-e3ab-4088-90ba-3176d5b44427","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('LG read Sheets2').item.json[\"Report text\"] }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-20,1420],"id":"65cf02e3-069a-4d17-9b85-dc483ca0ce4e","name":"Window Buffer Memory1"},{"parameters":{"model":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"o3-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,1440],"id":"9b9f5faf-49bb-4393-b446-e86fd9f72779","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"45jXhPFAPKKR3KzB","name":"OpenAi account ПЛАТНА"}}},{"parameters":{"content":"# SUMMARIZE TEAMLEAD REPORTS","height":80,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,1640],"id":"7838876c-41c4-466a-abb3-644e15464391","name":"Sticky Note2"},{"parameters":{"content":"# SUMMARIZE LG REPORTS","height":80,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,1160],"id":"16b29305-3d12-4bfb-afc1-e25b4d87a445","name":"Sticky Note3"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-120,2420],"id":"105a7c8e-3dc8-4290-9a46-682292afe8f4","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"2TbftrJQ6ppFHQ2j","name":"OpenRouter pr account"}}},{"parameters":{"promptType":"define","text":"={{ $json.combined_report }}","messages":{"messageValues":[{"message":"=Write {{ $json.date }}, than write \"RC summary\" title !!\nafter title write that:\nRead the provided {{ $json.combined_report }} divided into summary that captures the key objectives, activities, and outcomes from each section without using conversational language or meta commentary. Limit the content summary to two paragraphs. If report has links - attach them in the end in markdown style (name of the task)[https://..]\n\nremember, you create a summary of RC work. Write data only one time, do not duplicate it\n\nSimmilar of two ore more people information summarise to one overall. Like if first human add 3 candidates and second 22. write them summa please."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-120,2260],"id":"fe333c12-6fd0-4eed-9e66-78f21e18e60c","name":"Generate formating for RC"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[220,2400],"id":"1451936e-e87f-42a1-88ef-89558605244b","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"2TbftrJQ6ppFHQ2j","name":"OpenRouter pr account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"=Reformat the {{ $json.text }} below to be more visually appealing. Add headings, bullet points, emojis, and short paragraphs as needed. Insert blank lines to separate sections. Do not remove or alter any essential details. Return only the improved text, with no extra explanations or commentary. Use clear language and avoid repetition. do not add <br/> to the summa"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[240,2260],"id":"3ecc8411-fd60-4288-a1fa-2c36c95ddcfb","name":"Refactoring RC"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"1080887161169117214","mode":"id"},"content":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[580,2260],"id":"0da59f44-8adf-4a92-8093-641b91180803","name":"Discord2","webhookId":"d8a80908-22b4-4aa8-851d-a54a1656a49d","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 1) Получаем вчерашнюю дату\nconst today = new Date();\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst tDay = String(yesterday.getDate()).padStart(2, \"0\");\nconst tMonth = String(yesterday.getMonth() + 1).padStart(2, \"0\");\nconst tYear = String(yesterday.getFullYear());\n\n// Функция парсинга дат: DD.MM.YYYY, DD/MM/YYYY, + опционально HH:mm\nfunction parseDateDDMMYYYYHHmm(dateStr) {\n  if (!dateStr || typeof dateStr !== 'string') return null;\n\n  // Отделяем дату и время\n  const [datePart, timePart] = dateStr.split(\" \");\n  if (!datePart) return null;\n\n  // Разделяем дату по точке или слешу\n  let [day, month, year] = datePart.split(/[./]/);\n\n  // Если год записан двумя цифрами, считаем 20xx\n  if (year && year.length === 2) {\n    year = `20${year}`;\n  }\n\n  let hours = 0;\n  let minutes = 0;\n  if (timePart) {\n    const [hh, mm] = timePart.split(\":\");\n    hours = parseInt(hh, 10) || 0;\n    minutes = parseInt(mm, 10) || 0;\n  }\n\n  const parsedDate = new Date(\n    parseInt(year, 10),\n    parseInt(month, 10) - 1,\n    parseInt(day, 10),\n    hours,\n    minutes\n  );\n  if (isNaN(parsedDate.getTime())) return null;\n\n  return parsedDate;\n}\n\n// Функция проверки совпадения дня, месяца и года\nfunction isSameDay(dateStr, d, m, y) {\n  const parsed = parseDateDDMMYYYYHHmm(dateStr);\n  if (!parsed) return false;\n\n  const dd = String(parsed.getDate()).padStart(2, \"0\");\n  const mm = String(parsed.getMonth() + 1).padStart(2, \"0\");\n  const yyyy = String(parsed.getFullYear());\n\n  return (dd === d && mm === m && yyyy === y);\n}\n\n// 2) Фильтруем записи, у которых item.json.Date совпадает с «вчера»\nlet sameDayItems = items.filter(item => {\n  return isSameDay(item.json.Date, tDay, tMonth, tYear);\n});\n\n// 3) Если записей нет — возвращаем предупреждение\nif (sameDayItems.length === 0) {\n  return [\n    {\n      json: {\n        warning: `Нет сообщений за дату ${tDay}.${tMonth}.${tYear}`\n      }\n    }\n  ];\n}\n\n// 4) Сортируем найденные записи по времени (если оно есть)\nsameDayItems.sort((a, b) => {\n  const da = parseDateDDMMYYYYHHmm(a.json.Date) || 0;\n  const db = parseDateDDMMYYYYHHmm(b.json.Date) || 0;\n  return da - db;\n});\n\n// Возвращаем отфильтрованные и отсортированные записи\nreturn sameDayItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,2260],"id":"13938dfe-1409-4966-a895-4f2dfefdfa7e","name":"RC find yesterdays reports"},{"parameters":{"jsCode":"// 1) Определяем \"вчерашнюю\" дату\nconst today = new Date();\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst tDay = String(yesterday.getDate()).padStart(2, \"0\");\nconst tMonth = String(yesterday.getMonth() + 1).padStart(2, \"0\");\nconst tYear = String(yesterday.getFullYear());\nconst dateStr = `${tDay}.${tMonth}.${tYear}`;\n\n// 2) Склеиваем тексты из входных items\nconst combinedText = items\n  .map(item => {\n    // Если поле называется иначе, поменяй здесь:\n    // item.json.report, item.json[\"Report text\"], item.json.report_text и т.д.\n    return item.json.report \n      || item.json[\"Report text\"] \n      || item.json.report_text \n      || \"\";\n  })\n  .join(\"\\n\");\n\n// 3) Возвращаем итог\nreturn [\n  {\n    json: {\n      date: dateStr,\n      combined_report: combinedText\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,2260],"id":"afb7be4c-0993-4181-a3ad-7f68b3d42b4a","name":"RC summarize all reports"},{"parameters":{"jsCode":"// --- 1) Определяем «вчерашнюю» дату в формате \"DD.MM.YYYY\"\nconst today = new Date();\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst yDay = String(yesterday.getDate()).padStart(2, \"0\");\nconst yMonth = String(yesterday.getMonth() + 1).padStart(2, \"0\");\nconst yYear = String(yesterday.getFullYear());\n\n// Это итоговая строка вида \"19.03.2025\"\nconst targetDate = `${yDay}.${yMonth}.${yYear}`;\n\n// Разбиваем для дальнейшей проверки\nconst [tDay, tMonth, tYear] = targetDate.split(\".\");\n\n// --- Функция для парсинга \"DD.MM.YYYY HH:mm\" или \"DD.MM.YYYY\"\nfunction parseDateDDMMYYYYHHmm(dateStr) {\n  if (!dateStr || typeof dateStr !== 'string') return null;\n  \n  // Разделяем дату и время (если время есть)\n  const [datePart, timePart] = dateStr.split(\" \");\n  if (!datePart) return null;\n  \n  const [day, month, year] = datePart.split(\".\");\n  \n  // По умолчанию 0 часов, 0 минут\n  let hours = 0;\n  let minutes = 0;\n  if (timePart) {\n    const [hh, mm] = timePart.split(\":\");\n    hours = parseInt(hh, 10) || 0;\n    minutes = parseInt(mm, 10) || 0;\n  }\n  \n  const parsedDate = new Date(\n    parseInt(year, 10),\n    parseInt(month, 10) - 1,\n    parseInt(day, 10),\n    hours,\n    minutes\n  );\n  if (isNaN(parsedDate.getTime())) return null;\n  \n  return parsedDate;\n}\n\n// --- Функция для проверки: совпадает ли дата (только день, месяц, год) с targetDate\nfunction isSameDay(dateStr, tDay, tMonth, tYear) {\n  const parsed = parseDateDDMMYYYYHHmm(dateStr);\n  if (!parsed) return false;\n  \n  const dd = String(parsed.getDate()).padStart(2, \"0\");\n  const mm = String(parsed.getMonth() + 1).padStart(2, \"0\");\n  const yyyy = String(parsed.getFullYear());\n  \n  return (dd === tDay && mm === tMonth && yyyy === tYear);\n}\n\n// --- 2) Фильтруем все записи, где item.json.Date совпадает с «вчера»\nlet sameDayItems = items.filter(item => {\n  return isSameDay(item.json.Date, tDay, tMonth, tYear);\n});\n\n// Если ничего не нашли, вернём предупреждение\nif (sameDayItems.length === 0) {\n  return [\n    {\n      json: {\n        warning: `Нет сообщений за дату ${targetDate}`\n      }\n    }\n  ];\n}\n\n// --- 3) Сортируем эти записи по времени (если есть часы и минуты)\nsameDayItems.sort((a, b) => {\n  const da = parseDateDDMMYYYYHHmm(a.json.Date) || 0;\n  const db = parseDateDDMMYYYYHHmm(b.json.Date) || 0;\n  return da - db;\n});\n\n// --- 4) Логика «склейки» частей: \n//     - Если встречаем \"Beginning of the Day\", начинаем собирать в bodText\n//     - Если \"End of the Day\", начинаем собирать в eodText\n//     - Если сообщение не содержит эти фразы, оно добавляется к текущему сегменту (bod или eod),\n//       если такой уже начат.\nlet bodText = \"\";\nlet eodText = \"\";\nlet currentSegment = null; // может быть \"bod\", \"eod\" или null\n\nsameDayItems.forEach(item => {\n  const content = item.json[\"Report text\"] || \"\";\n  const lower = content.toLowerCase();\n  \n  if (lower.includes(\"beginning of the day\")) {\n    // Начинаем (или продолжаем) утренний блок\n    currentSegment = \"bod\";\n    if (bodText) bodText += \"\\n\\n\";\n    bodText += content;\n  }\n  else if (lower.includes(\"end of the day\")) {\n    // Начинаем (или продолжаем) вечерний блок\n    currentSegment = \"eod\";\n    if (eodText) eodText += \"\\n\\n\";\n    eodText += content;\n  }\n  else {\n    // Это кусок без ключевых фраз — добавим к текущему сегменту, если он есть\n    if (currentSegment === \"bod\") {\n      bodText += \"\\n\\n\" + content;\n    } else if (currentSegment === \"eod\") {\n      eodText += \"\\n\\n\" + content;\n    }\n  }\n});\n\n// --- 5) Формируем результат (один элемент) со склеенными текстами:\nreturn [\n  {\n    json: {\n      date: targetDate,\n      beginning_of_day: bodText || null,\n      end_of_day: eodText || null\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,1740],"id":"6b7f5fd1-d010-4ee1-8585-8b9de5d48c44","name":"LG TeamLeads find yesterdays reports"},{"parameters":{"jsCode":"const results = [];\n\n// 1. Определяем «вчера» как промежуток с 00:00 до 23:59 предыдущего дня\nconst now = new Date();\nconst startYesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1, 0, 0, 0, 0);\nconst endYesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1, 23, 59, 59, 999);\n\nfor (const item of items) {\n  // Получаем строку даты из поля \"Date\"\n  const dateStr = item.json[\"Date\"] || \"\";\n  if (!dateStr) {\n    // Если дата не указана, пропускаем\n    continue;\n  }\n\n  // 2. Парсим дату в формате \"DD.MM.YYYY HH:MM\" или \"DD.MM.YYYY\"\n  // Разделяем дату и время (если время отсутствует, будет undefined)\n  const [datePart, timePart] = dateStr.split(\" \");\n  // Разделяем день, месяц, год\n  const [day, month, year] = datePart.split(\".\");\n  if (!day || !month || !year) {\n    // Если не получилось извлечь три части, пропускаем\n    continue;\n  }\n\n  let hours = 0;\n  let minutes = 0;\n  if (timePart) {\n    // Если есть время, разделяем часы и минуты\n    const [hh, mm] = timePart.split(\":\");\n    hours = parseInt(hh, 10) || 0;\n    minutes = parseInt(mm, 10) || 0;\n  }\n\n  // Создаём объект даты: year, month-1 (т.к. в JS месяцы с 0), day, hours, minutes\n  const itemDate = new Date(parseInt(year, 10), parseInt(month, 10) - 1, parseInt(day, 10), hours, minutes);\n\n  // Проверяем валидность\n  if (isNaN(itemDate.getTime())) {\n    // Дата некорректна\n    continue;\n  }\n\n  // 3. Фильтруем: берём только записи, попадающие во «вчера»\n  if (itemDate < startYesterday || itemDate > endYesterday) {\n    // Если дата вне диапазона, пропускаем\n    continue;\n  }\n\n  // 4. Анализируем текст отчёта\n  const reportText = item.json[\"Report text\"] || \"\";\n  const lines = reportText.split(\"\\n\").map(line => line.trim()).filter(line => line !== \"\");\n\n  // Если встречается \"Project:\" сразу помечаем как хороший отчёт (проект)\n  if (reportText.includes(\"Project:\")) {\n    item.json.formatOk = true;\n    item.json.normOk = true;\n    item.json.status = \"Project\";\n    item.json.companiesCount = null;\n    item.json.messagesCount = null;\n    \n    // Добавляем ID, если он есть в исходных данных\n    item.json.recordID = item.json[\"ID\"] || item.json[\"id\"] || null;\n    \n    results.push(item);\n    continue;\n  }\n\n  // Иначе начинаем проверять формат\n  let formatOk = true;\n  let normOk = true;\n  let status = null;\n  let companiesCount = null;\n  let messagesCount = null;\n\n  // 5. Ищем в тексте \"Full-Time\" или \"Part-Time\"\n  if (reportText.includes(\"Full-Time\")) {\n    status = \"Full-Time\";\n  } else if (reportText.includes(\"Part-Time\")) {\n    status = \"Part-Time\";\n  } else {\n    formatOk = false;\n  }\n\n  // 6. Ищем строку \"Creates companies:\" – допускаем разные варианты оформления\n  const lineCompanies = lines.find(l => /Creates(\\s*companies)?\\s*[:\\-]\\s*\\d+/i.test(l));\n  if (lineCompanies) {\n    const match = lineCompanies.match(/\\d+/);\n    if (match) {\n      companiesCount = parseInt(match[0], 10);\n    } else {\n      formatOk = false;\n    }\n  } else {\n    formatOk = false;\n  }\n\n  // 7. Ищем строку \"Messages to old connections:\" – допускаем разные варианты оформления\n  const lineMessages = lines.find(l => /Messages(\\s*(to\\s+old\\s+connections))?\\s*[:\\-]\\s*\\d+/i.test(l));\n  if (lineMessages) {\n    const match = lineMessages.match(/\\d+/);\n    if (match) {\n      messagesCount = parseInt(match[0], 10);\n    } else {\n      formatOk = false;\n    }\n  } else {\n    // Если строка не найдена, оставляем messagesCount = null (не обязательное поле)\n  }\n\n  // 8. Проверяем нормы, только если формат корректный\n  if (formatOk) {\n    if (status === \"Full-Time\") {\n      // Full-Time: 50–70 компаний, ≥60 сообщений (если messages указаны)\n      if (companiesCount < 50 || companiesCount > 70) normOk = false;\n      if (messagesCount !== null && messagesCount < 60) normOk = false;\n    } else if (status === \"Part-Time\") {\n      // Part-Time: 20–40 компаний, ≥30 сообщений (если messages указаны)\n      if (companiesCount < 20 || companiesCount > 40) normOk = false;\n      if (messagesCount !== null && messagesCount < 30) normOk = false;\n    }\n  }\n\n  // 9. Записываем результат в item.json\n  item.json.formatOk = formatOk;\n  item.json.normOk = normOk;\n  item.json.status = status;\n  item.json.companiesCount = companiesCount;\n  item.json.messagesCount = messagesCount;\n  \n  // Добавляем ID из исходных данных\n  item.json.recordID = item.json[\"Name\"];\n\n\n\n  results.push(item);\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,580],"id":"0e982e43-32ec-49ea-b149-51c53f785873","name":"LeadGens reports"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-160,2900],"id":"a4b9d3df-6eba-48bc-abc7-1cb1f503ff69","name":"OpenRouter Chat Model6","credentials":{"openRouterApi":{"id":"2TbftrJQ6ppFHQ2j","name":"OpenRouter pr account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"910144676881903646","mode":"id"},"content":"={{ $('Generate formating for AI').item.json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[580,2580],"id":"cf84a83a-135c-48ba-a8ab-b6f160045884","name":"Discord3","webhookId":"d8a80908-22b4-4aa8-851d-a54a1656a49d","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[160,2880],"id":"7e8ca843-812d-4042-9464-e93af6053019","name":"OpenRouter Chat Model7","credentials":{"openRouterApi":{"id":"2TbftrJQ6ppFHQ2j","name":"OpenRouter pr account"}}},{"parameters":{"promptType":"define","text":"=At first, use date - {{ $json.date }}, than that {{ $json.report_text }}","messages":{"messageValues":[{"message":"={{ $json.date }}\nStart message from \"AI summary\" title !!\nafter title write that:\nRead the provided {{ $json.report_text }}. Produce a concise, straightforward summary that captures the key objectives, activities, and outcomes from each section without using conversational language or meta commentary.\nremember, you create a summary of the work"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-240,2680],"id":"7c9d5109-6be0-4919-9350-2e80bda42c5a","name":"Generate formating for AI"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"=Reformat the {{ $json.text }} below to be more visually appealing. Add headings, bullet points, emojis, and short paragraphs as needed. Insert blank lines to separate sections. Do not remove or alter any essential details. Return only the improved text, with no extra explanations or commentary. Use clear language and avoid repetition."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[160,2680],"id":"13b282dd-1d39-4eaf-a9b4-d876d3a25f4b","name":"Refactoring AI"},{"parameters":{"documentId":{"__rl":true,"value":"1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":502554882,"mode":"list","cachedResultName":"RC Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=502554882"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-800,2260],"id":"3f2ab721-baa4-4819-b444-71c3c2262ef8","name":"RC TeamLeads read Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"content":"# RC REPORTS","height":80,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,2140],"id":"0e03f832-4646-4c76-ace2-e1fcb1cec1eb","name":"Sticky Note4"},{"parameters":{"jsCode":"const totals = { Create: 0, \"Sent Request\": 0, Connected: 0 };\n\nfor (const item of items) {\n  for (const line of item.json.output.split(\"\\n\")) {\n    const [key, value] = line.split(\":\");\n    totals[key.trim()] += parseInt(value.trim()) || 0;\n  }\n}\n\nreturn [{ json: totals }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,1260],"id":"edd2f060-1fb1-445c-94ca-99f1c0354288","name":"Code"},{"parameters":{"documentId":{"__rl":true,"value":"1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2011925316,"mode":"list","cachedResultName":"LeadGen Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=2011925316"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[940,40],"id":"ef920dee-1594-4556-a37f-fcf7a197b99f","name":"LG read Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const results = [];\n\n// 1. Определяем «вчера» как промежуток с 00:00 до 23:59 предыдущего дня\nconst now = new Date();\nconst startYesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1, 0, 0, 0, 0);\nconst endYesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1, 23, 59, 59, 999);\n\nfor (const item of items) {\n  // Получаем строку даты из поля \"Date\"\n  const dateStr = item.json[\"Date\"] || \"\";\n  if (!dateStr) {\n    // Если дата не указана, пропускаем\n    continue;\n  }\n\n  // 2. Парсим дату в формате \"DD.MM.YYYY HH:MM\" или \"DD.MM.YYYY\"\n  // Разделяем дату и время (если время отсутствует, будет undefined)\n  const [datePart, timePart] = dateStr.split(\" \");\n  // Разделяем день, месяц, год\n  const [day, month, year] = datePart.split(\".\");\n  if (!day || !month || !year) {\n    // Если не получилось извлечь три части, пропускаем\n    continue;\n  }\n\n  let hours = 0;\n  let minutes = 0;\n  if (timePart) {\n    // Если есть время, разделяем часы и минуты\n    const [hh, mm] = timePart.split(\":\");\n    hours = parseInt(hh, 10) || 0;\n    minutes = parseInt(mm, 10) || 0;\n  }\n\n  // Создаём объект даты: year, month-1 (т.к. в JS месяцы с 0), day, hours, minutes\n  const itemDate = new Date(parseInt(year, 10), parseInt(month, 10) - 1, parseInt(day, 10), hours, minutes);\n\n  // Проверяем валидность\n  if (isNaN(itemDate.getTime())) {\n    // Дата некорректна\n    continue;\n  }\n\n  // 3. Фильтруем: берём только записи, попадающие во «вчера»\n  if (itemDate < startYesterday || itemDate > endYesterday) {\n    // Если дата вне диапазона, пропускаем\n    continue;\n  }\n\n  // 4. Анализируем текст отчёта\n  const reportText = item.json[\"Report text\"] || \"\";\n  const lines = reportText.split(\"\\n\").map(line => line.trim()).filter(line => line !== \"\");\n\n  // Если встречается \"Project:\" сразу помечаем как хороший отчёт (проект)\n  if (reportText.includes(\"Project:\")) {\n    item.json.formatOk = true;\n    item.json.normOk = true;\n    item.json.status = \"Project\";\n    item.json.companiesCount = null;\n    item.json.messagesCount = null;\n    \n    // Добавляем ID, если он есть в исходных данных\n    item.json.recordID = item.json[\"ID\"] || item.json[\"id\"] || null;\n    \n    results.push(item);\n    continue;\n  }\n\n  // Иначе начинаем проверять формат\n  let formatOk = true;\n  let normOk = true;\n  let status = null;\n  let companiesCount = null;\n  let messagesCount = null;\n\n  // 5. Ищем в тексте \"Full-Time\" или \"Part-Time\"\n  if (reportText.includes(\"Full-Time\")) {\n    status = \"Full-Time\";\n  } else if (reportText.includes(\"Part-Time\")) {\n    status = \"Part-Time\";\n  } else {\n    formatOk = false;\n  }\n\n  // 6. Ищем строку \"Creates companies:\" – допускаем разные варианты оформления\n  const lineCompanies = lines.find(l => /Creates(\\s*companies)?\\s*[:\\-]\\s*\\d+/i.test(l));\n  if (lineCompanies) {\n    const match = lineCompanies.match(/\\d+/);\n    if (match) {\n      companiesCount = parseInt(match[0], 10);\n    } else {\n      formatOk = false;\n    }\n  } else {\n    formatOk = false;\n  }\n\n  // 7. Ищем строку \"Messages to old connections:\" – допускаем разные варианты оформления\n  const lineMessages = lines.find(l => /Messages(\\s*(to\\s+old\\s+connections))?\\s*[:\\-]\\s*\\d+/i.test(l));\n  if (lineMessages) {\n    const match = lineMessages.match(/\\d+/);\n    if (match) {\n      messagesCount = parseInt(match[0], 10);\n    } else {\n      formatOk = false;\n    }\n  } else {\n    // Если строка не найдена, оставляем messagesCount = null (не обязательное поле)\n  }\n\n  // 8. Проверяем нормы, только если формат корректный\n  if (formatOk) {\n    if (status === \"Full-Time\") {\n      // Full-Time: 50–70 компаний, ≥60 сообщений (если messages указаны)\n      if (companiesCount < 50 || companiesCount > 70) normOk = false;\n      if (messagesCount !== null && messagesCount < 60) normOk = false;\n    } else if (status === \"Part-Time\") {\n      // Part-Time: 20–40 компаний, ≥30 сообщений (если messages указаны)\n      if (companiesCount < 20 || companiesCount > 40) normOk = false;\n      if (messagesCount !== null && messagesCount < 30) normOk = false;\n    }\n  }\n\n  // 9. Записываем результат в item.json\n  item.json.formatOk = formatOk;\n  item.json.normOk = normOk;\n  item.json.status = status;\n  item.json.companiesCount = companiesCount;\n  item.json.messagesCount = messagesCount;\n  \n  // Добавляем ID из исходных данных\n  item.json.recordID = item.json[\"Name\"];\n\n\n\n  results.push(item);\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,40],"id":"b581f78a-caa8-43d3-bdc2-975ad526bab6","name":"LeadGens reports1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-780,1260],"id":"c83b88a3-84d4-4c65-a800-d789c8fc0bd3","name":"Schedule Trigger1"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"910144676881903646","mode":"id"},"content":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[820,1260],"id":"bb8ae549-0b86-4f20-9a67-a3292522cd09","name":"Discord4","webhookId":"092e2785-ece6-4b18-b209-139aa5bc8696","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"jsCode":"const results = [];\n\n// 1. Определяем «вчера» как промежуток с 00:00 до 23:59 предыдущего дня\nconst now = new Date();\nconst startYesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1, 0, 0, 0, 0);\nconst endYesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1, 23, 59, 59, 999);\n\nfor (const item of items) {\n  // Получаем строку даты из поля \"Date\"\n  const dateStr = item.json[\"Date\"] || \"\";\n  if (!dateStr) {\n    // Если дата не указана, пропускаем\n    continue;\n  }\n\n  // 2. Парсим дату в формате \"DD.MM.YYYY HH:MM\" или \"DD.MM.YYYY\"\n  // Разделяем дату и время (если время отсутствует, будет undefined)\n  const [datePart, timePart] = dateStr.split(\" \");\n  // Разделяем день, месяц, год\n  const [day, month, year] = datePart.split(\".\");\n  if (!day || !month || !year) {\n    // Если не получилось извлечь три части, пропускаем\n    continue;\n  }\n\n  let hours = 0;\n  let minutes = 0;\n  if (timePart) {\n    // Если есть время, разделяем часы и минуты\n    const [hh, mm] = timePart.split(\":\");\n    hours = parseInt(hh, 10) || 0;\n    minutes = parseInt(mm, 10) || 0;\n  }\n\n  // Создаём объект даты: year, month-1 (т.к. в JS месяцы с 0), day, hours, minutes\n  const itemDate = new Date(parseInt(year, 10), parseInt(month, 10) - 1, parseInt(day, 10), hours, minutes);\n\n  // Проверяем валидность\n  if (isNaN(itemDate.getTime())) {\n    // Дата некорректна\n    continue;\n  }\n\n  // 3. Фильтруем: берём только записи, попадающие во «вчера»\n  if (itemDate < startYesterday || itemDate > endYesterday) {\n    // Если дата вне диапазона, пропускаем\n    continue;\n  }\n\n  // 4. Анализируем текст отчёта\n  const reportText = item.json[\"Report text\"] || \"\";\n  const lines = reportText.split(\"\\n\").map(line => line.trim()).filter(line => line !== \"\");\n\n  // Если встречается \"Project:\" сразу помечаем как хороший отчёт (проект)\n  if (reportText.includes(\"Project:\")) {\n    item.json.formatOk = true;\n    item.json.normOk = true;\n    item.json.status = \"Project\";\n    item.json.companiesCount = null;\n    item.json.messagesCount = null;\n    \n    // Добавляем ID, если он есть в исходных данных\n    item.json.recordID = item.json[\"ID\"] || item.json[\"id\"] || null;\n    \n    results.push(item);\n    continue;\n  }\n\n  // Иначе начинаем проверять формат\n  let formatOk = true;\n  let normOk = true;\n  let status = null;\n  let companiesCount = null;\n  let messagesCount = null;\n\n  // 5. Ищем в тексте \"Full-Time\" или \"Part-Time\"\n  if (reportText.includes(\"Full-Time\")) {\n    status = \"Full-Time\";\n  } else if (reportText.includes(\"Part-Time\")) {\n    status = \"Part-Time\";\n  } else {\n    formatOk = false;\n  }\n\n  // 6. Ищем строку \"Creates companies:\" – допускаем разные варианты оформления\n  const lineCompanies = lines.find(l => /Creates(\\s*companies)?\\s*[:\\-]\\s*\\d+/i.test(l));\n  if (lineCompanies) {\n    const match = lineCompanies.match(/\\d+/);\n    if (match) {\n      companiesCount = parseInt(match[0], 10);\n    } else {\n      formatOk = false;\n    }\n  } else {\n    formatOk = false;\n  }\n\n  // 7. Ищем строку \"Messages to old connections:\" – допускаем разные варианты оформления\n  const lineMessages = lines.find(l => /Messages(\\s*(to\\s+old\\s+connections))?\\s*[:\\-]\\s*\\d+/i.test(l));\n  if (lineMessages) {\n    const match = lineMessages.match(/\\d+/);\n    if (match) {\n      messagesCount = parseInt(match[0], 10);\n    } else {\n      formatOk = false;\n    }\n  } else {\n    // Если строка не найдена, оставляем messagesCount = null (не обязательное поле)\n  }\n\n  // 8. Проверяем нормы, только если формат корректный\n  if (formatOk) {\n    if (status === \"Full-Time\") {\n      // Full-Time: 50–70 компаний, ≥60 сообщений (если messages указаны)\n      if (companiesCount < 50 || companiesCount > 70) normOk = false;\n      if (messagesCount !== null && messagesCount < 60) normOk = false;\n    } else if (status === \"Part-Time\") {\n      // Part-Time: 20–40 компаний, ≥30 сообщений (если messages указаны)\n      if (companiesCount < 20 || companiesCount > 40) normOk = false;\n      if (messagesCount !== null && messagesCount < 30) normOk = false;\n    }\n  }\n\n  // 9. Записываем результат в item.json\n  item.json.formatOk = formatOk;\n  item.json.normOk = normOk;\n  item.json.status = status;\n  item.json.companiesCount = companiesCount;\n  item.json.messagesCount = messagesCount;\n  \n  // Добавляем ID из исходных данных\n  item.json.recordID = item.json[\"Name\"];\n\n\n\n  results.push(item);\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,1260],"id":"7071003f-1115-4de5-a1d6-56e5c01ba959","name":"LeadGens Summarise reports"},{"parameters":{"content":"# AI REPORTS","height":80,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,2560],"id":"64f1b47e-81e4-4e56-9bce-2cf9eefb7545","name":"Sticky Note5"},{"parameters":{"jsCode":"// 1) Вычисляем вчерашнюю дату в формате DD.MM.YYYY\nconst today = new Date();\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\nconst targetDate = `${String(yesterday.getDate()).padStart(2, '0')}.${String(yesterday.getMonth() + 1).padStart(2, '0')}.${yesterday.getFullYear()}`;\n\n// 2) Оставляем только записи за вчерашний день\nconst filtered = items.filter(item =>\n  item.json.Date?.trim().startsWith(targetDate)\n);\n\n// 3) Сортируем по времени\nfiltered.sort((a, b) => {\n  const toMinutes = dateStr => {\n    const [, time = '00:00'] = dateStr.split(' ');\n    const [h, m] = time.split(':').map(Number);\n    return h * 60 + m;\n  };\n  return toMinutes(a.json.Date) - toMinutes(b.json.Date);\n});\n\n// 4) Объединяем тексты\nconst report_text = filtered\n  .map(item => item.json[\"Report text\"]?.trim() || '')\n  .filter(Boolean)\n  .join('\\n\\n');\n\n// 5) Возвращаем итог\nreturn [{ json: { date: targetDate, report_text: report_text || null } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,2680],"id":"6a550f45-30ee-4e91-b93f-61c88f59af9e","name":"AI find yesterdays reports"},{"parameters":{"content":"# НАДО ПРОВЕРИТЬ","height":80,"width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[820,2680],"id":"f3e59414-b753-47d2-bf61-ad40e1933eba","name":"Sticky Note1"},{"parameters":{"content":"# НАДО ПРОВЕРИТЬ","height":80,"width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,1280],"id":"988fc2b0-c020-4fec-9161-a37761aea35a","name":"Sticky Note6"},{"parameters":{"documentId":{"__rl":true,"value":"1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2011925316,"mode":"list","cachedResultName":"LeadGen Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=2011925316"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[120,1420],"id":"62ce119b-6dee-430f-b26f-c7bdf8e620a1","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2011925316,"mode":"list","cachedResultName":"LeadGen Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=2011925316"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-540,1260],"id":"3a0f4296-c466-4c09-a3f5-d76d1d167479","name":"LG read Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"AI Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-800,2680],"id":"49fa20d7-b5d4-4663-a2a9-0150b498dafc","name":"AI read Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"910144676881903646","mode":"id"},"content":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2680,1320],"id":"ca08f832-5336-47dc-a55b-00b41c1b593e","name":"Discord5","webhookId":"d8a80908-22b4-4aa8-851d-a54a1656a49d","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"910144676881903646","mode":"id"},"content":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2760,1400],"id":"f09a16e3-791c-49ab-b181-880677c850b9","name":"Discord6","webhookId":"d8a80908-22b4-4aa8-851d-a54a1656a49d","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"sendTo":"user","userId":{"__rl":true,"value":"732684838422970400","mode":"id"},"content":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[820,1460],"id":"546f688a-28d1-4637-b1ec-9dbf97a62d59","name":"Discord7","webhookId":"ecd15c34-dbbf-46f6-a1a4-6fe419a60868","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"LG read Sheets":{"main":[[{"node":"LeadGens reports","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Discord incorrect quota or report","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Discord full quota and correct reports","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"LG read Sheets","type":"main","index":0}]]},"Discord incorrect quota or report":{"main":[[{"node":"Add reports to spreadsheets","type":"main","index":0}]]},"Discord full quota and correct reports":{"main":[[{"node":"Add reports to spreadsheets","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Add reports to spreadsheets","type":"main","index":0}]]},"Add reports to spreadsheets":{"main":[[]]},"LG TeamLeads read Sheets":{"main":[[{"node":"LG TeamLeads find yesterdays reports","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Generate formating for teamleads","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Refactoring teamleads","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"Leadgens summary reports","type":"ai_languageModel","index":0}]]},"Generate formating for teamleads":{"main":[[{"node":"Refactoring teamleads","type":"main","index":0}]]},"Refactoring teamleads":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"Leadgens summary reports":{"main":[[{"node":"Discord4","type":"main","index":0},{"node":"Discord7","type":"main","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"Generate formating for RC","type":"ai_languageModel","index":0}]]},"Generate formating for RC":{"main":[[{"node":"Refactoring RC","type":"main","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"Refactoring RC","type":"ai_languageModel","index":0}]]},"Refactoring RC":{"main":[[{"node":"Discord2","type":"main","index":0}]]},"RC find yesterdays reports":{"main":[[{"node":"RC summarize all reports","type":"main","index":0}]]},"RC summarize all reports":{"main":[[{"node":"Generate formating for RC","type":"main","index":0}]]},"LG TeamLeads find yesterdays reports":{"main":[[{"node":"Generate formating for teamleads","type":"main","index":0}]]},"LeadGens reports":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"Generate formating for AI","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model7":{"ai_languageModel":[[{"node":"Refactoring AI","type":"ai_languageModel","index":0}]]},"Generate formating for AI":{"main":[[{"node":"Refactoring AI","type":"main","index":0}]]},"Refactoring AI":{"main":[[{"node":"Discord3","type":"main","index":0}]]},"RC TeamLeads read Sheets":{"main":[[{"node":"RC find yesterdays reports","type":"main","index":0}]]},"Code":{"main":[[{"node":"Leadgens summary reports","type":"main","index":0}]]},"LG read Sheets1":{"main":[[{"node":"LeadGens reports1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"LG read Sheets2","type":"main","index":0}]]},"LeadGens Summarise reports":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI find yesterdays reports":{"main":[[{"node":"Generate formating for AI","type":"main","index":0}]]},"Google Sheets1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"LG read Sheets2":{"main":[[{"node":"LeadGens Summarise reports","type":"main","index":0}]]},"AI read Sheets":{"main":[[{"node":"AI find yesterdays reports","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0c0e6f91-ca15-4558-b7eb-61f03d41dc06","triggerCount":2,"tags":[{"createdAt":"2025-03-17T12:52:07.245Z","updatedAt":"2025-03-17T12:52:07.245Z","id":"8gQGu3wLTaddTC1B","name":"report"},{"createdAt":"2025-03-13T12:37:42.433Z","updatedAt":"2025-03-13T12:37:42.433Z","id":"mS7hDKpZh1SMxZRW","name":"Chat"}]}