discord-JxNgDFN4az41HGkp.json
{"createdAt":"2025-03-17T10:03:49.564Z","updatedAt":"2025-04-04T14:39:38.000Z","id":"JxNgDFN4az41HGkp","name":"Discord","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2320,1840],"id":"ba977e61-87b3-47cb-973a-1a5b18ec7ded","name":"Schedule Trigger"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"AI Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.author }}","Date":"={{ $json.timestamp }}","Report text":"={{ $json.message }}","row_number":"={{ $json.row_number }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,40],"id":"af3f4405-3cab-4231-98e6-c6a72b5fa959","name":"AI sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":943166496,"mode":"list","cachedResultName":"FInance Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=943166496"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}","Date":"={{ $json.timestamp }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,240],"id":"1f1a9dac-e77a-4a3a-8914-9944ee19fd94","name":"Finance Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1347111996553953280","mode":"list","cachedResultName":"ai-reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/1347111996553953280"},"limit":10,"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,40],"id":"4a9d9162-978c-4e5d-bf8a-7c70eaf2430d","name":"Discord AI","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1346390192440868954","mode":"list","cachedResultName":"finance-tasks-reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/1346390192440868954"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,240],"id":"99c9c457-8d94-4ebe-8c78-ec9f775e41cd","name":"Discord Finance","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"921032850327871518","mode":"list","cachedResultName":"leadgen_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/921032850327871518"},"limit":20,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,440],"id":"7099e86a-f644-4681-8bf0-a94d894362da","name":"Discord LeadGens","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"994614802083217418","mode":"id"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,820],"id":"a383aeaf-fdb8-4d74-b801-3cbe7eeb42ae","name":"Discord RC","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":502554882,"mode":"list","cachedResultName":"RC Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=502554882"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Name":"={{ $json.author }}","Date":"={{ $json.timestamp }}","Report text":"={{ $json.message }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,820],"id":"bb7e7972-5292-4511-bef7-6c9ae56a85bb","name":"RC Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"913032931281350716","mode":"list","cachedResultName":"design_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/913032931281350716"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,1000],"id":"c43a9226-70e9-450b-b8bc-d6ec709330c4","name":"Discord Design","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":116574041,"mode":"list","cachedResultName":"Design Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=116574041"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Name":"={{ $json.author }}","Date":"={{ $json.timestamp }}","Report text":"={{ $json.message }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,1000],"id":"753d1656-ae53-4569-a79c-b1069b449e16","name":"Design Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"918543419738054656","mode":"list","cachedResultName":"video_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/918543419738054656"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,1180],"id":"de5b9204-d22e-4643-b590-5a9817d1fb56","name":"Discord Video","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":1095114866,"mode":"list","cachedResultName":"Video Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=1095114866"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,1180],"id":"e1778ae2-9595-4428-8ceb-7877ce6021a4","name":"Video Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"960511819607326780","mode":"list","cachedResultName":"assistants_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/960511819607326780"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,1360],"id":"b6dc2748-f1a3-4a8d-a191-cdf27dc9f383","name":"Discord Assistants","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":1012432891,"mode":"list","cachedResultName":"Assistants Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=1012432891"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,1360],"id":"38452d26-dae7-4583-baa3-a4d010130e91","name":"Assistants Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"920632335932719144","mode":"list","cachedResultName":"illustration_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/920632335932719144"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,1540],"id":"34fe2509-3e24-4e33-950e-9d2a880df418","name":"Discord Illustation","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":821558930,"mode":"list","cachedResultName":"Illustation Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=821558930"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,1540],"id":"eb7f3edc-1772-4e86-9dd7-7e9ebe57cd1e","name":"Illustation Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"920648663901028373","mode":"list","cachedResultName":"cms_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/920648663901028373"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,1740],"id":"ffb960d5-7d0a-4f10-9fe5-f8b364600333","name":"Discord CMS","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":1306390602,"mode":"list","cachedResultName":"CMS Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=1306390602"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,1740],"id":"ed064290-5a90-4093-af36-4f40d5f02d79","name":"CMS Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"920948375543750656","mode":"list","cachedResultName":"crm_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/920948375543750656"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,1940],"id":"fbdb1a03-f915-44f5-b49e-f9f60a8bd9f3","name":"Discord CRM","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":978101647,"mode":"list","cachedResultName":"CRM Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=978101647"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,1940],"id":"05eeecee-e880-4014-b01f-533c34442b38","name":"CRM Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"content":"\n## **AI**","height":80,"width":210,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,60],"id":"4eeda6ed-d2e6-4e9a-a75f-12f81d795888","name":"Sticky Note"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1009415418282262529","mode":"list","cachedResultName":"smm_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/1009415418282262529"},"limit":10,"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,2120],"id":"0536befc-e67f-4496-a501-546f22d98ea5","name":"Discord SMM","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":594247994,"mode":"list","cachedResultName":"SMM Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=594247994"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Name":"={{ $json.author }}","Date":"={{ $json.timestamp }}","Report text":"={{ $json.message }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,2120],"id":"464628fd-52a3-4139-9a12-8b1299bc7bdd","name":"SMM sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1009415848101953596","mode":"list","cachedResultName":"ads_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/1009415848101953596"},"limit":20,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,2320],"id":"ce1df1d2-1d29-4250-9a98-a3178f21d849","name":"Discord Ads","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1009416467172831273","mode":"list","cachedResultName":"copywrite_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/1009416467172831273"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,2500],"id":"1578179b-43b4-4fd3-b9f1-f17bc02e8fc1","name":"Discord Copywrite","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":1239892273,"mode":"list","cachedResultName":"Copywrite Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=1239892273"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Name":"={{ $json.author }}","Date":"={{ $json.timestamp }}","Report text":"={{ $json.message }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,2500],"id":"49dc6833-98aa-4aee-b321-92649e6d32c9","name":"Copywrite Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"963680721988386836","mode":"list","cachedResultName":"pm_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/963680721988386836"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,2680],"id":"01a611a5-8fb7-4b10-8d55-9aab35d0e5f9","name":"Discord PM","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":1286275221,"mode":"list","cachedResultName":"PM Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=1286275221"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Name":"={{ $json.author }}","Date":"={{ $json.timestamp }}","Report text":"={{ $json.message }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,2680],"id":"01c6f1de-32f0-42fa-bc2d-578c02c26711","name":"PM Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"968532306715365497","mode":"list","cachedResultName":"marketing_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/968532306715365497"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,2860],"id":"bb9ba3dc-0882-4dfc-bc28-ecd2eeb27b1c","name":"Discord Marketing","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":2034382134,"mode":"list","cachedResultName":"Marketing Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=2034382134"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,2860],"id":"1c76a87b-ab86-489d-82f2-d7e650ed11c9","name":"Marketing Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"973529430867738634","mode":"list","cachedResultName":"pi_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/973529430867738634"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,3040],"id":"79a7b778-d488-431f-b6b6-076314e3522d","name":"Discord Pi","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":288425960,"mode":"list","cachedResultName":"Pi Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=288425960"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,3040],"id":"79c06fe8-ac5d-48a2-8460-48cb6e07f679","name":"Pi Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"978398817676324895","mode":"list","cachedResultName":"affiliate_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/978398817676324895"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,3220],"id":"aa1576f8-c4dc-4b67-8ac8-ed9a7fd4a354","name":"Discord Affiliates","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":1353774808,"mode":"list","cachedResultName":"Affiliate Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=1353774808"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,3220],"id":"742d7b1c-bd36-40bb-a5e1-ab5e7a6da68c","name":"Affiliates Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1018842568181690408","mode":"list","cachedResultName":"hr_reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/1018842568181690408"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,3420],"id":"9a64113a-540b-40ac-a9f7-6451794dc6c0","name":"Discord HR","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":553973621,"mode":"list","cachedResultName":"HR Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=553973621"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,3420],"id":"71a6ab45-79b0-46bc-88f7-11ba4f727b45","name":"HR Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1171839859078467714","mode":"list","cachedResultName":"sales-reports","cachedResultUrl":"https://discord.com/channels/732698343951695963/1171839859078467714"},"limit":10,"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,3620],"id":"a786ba12-99a3-4f4a-ac62-a53ec30e3ecc","name":"Discord Sales","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":525759113,"mode":"list","cachedResultName":"Sales Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=525759113"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,3620],"id":"ff4795c7-9cee-4c54-b2bd-7f9866f4d990","name":"Sales Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"content":"\n## **FINANCE**","height":80,"width":210,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,260],"id":"146bcff5-5f5d-48b4-a241-6f5d350aa4a0","name":"Sticky Note1"},{"parameters":{"content":"\n## **LEAD GENERATORS**","height":80,"width":210,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,460],"id":"9ee8c0fa-deba-4947-aab7-b24aeb5e16e0","name":"Sticky Note2"},{"parameters":{"content":"\n## **RC**","height":80,"width":210,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,840],"id":"ffcf30ac-e0bd-4923-a10b-20f161f45c66","name":"Sticky Note3"},{"parameters":{"content":"\n## **DESIGN**","height":80,"width":210,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1020],"id":"38dcc9ad-3319-4070-b1c5-203ae6ff9a36","name":"Sticky Note4"},{"parameters":{"content":"\n## **ASSISTANTS**","height":80,"width":210,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1380],"id":"d3219488-7433-4ea6-9224-ce5e54127125","name":"Sticky Note5"},{"parameters":{"content":"\n## **VIDEO EDITORS**","height":80,"width":210,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1200],"id":"602d8285-59ab-4398-ac68-98895445bac4","name":"Sticky Note6"},{"parameters":{"content":"\n## **ILLUSTRATION**","height":80,"width":210,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1560],"id":"e52b6b36-f573-477f-9f22-d41781444a3f","name":"Sticky Note7"},{"parameters":{"content":"\n## **CMS**","height":80,"width":210,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1760],"id":"599dda41-1bd8-489f-bada-710385773f8c","name":"Sticky Note8"},{"parameters":{"content":"\n## **CRM**","height":80,"width":210,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1960],"id":"23a8bd6d-c777-4ca1-9fad-d26d5c6d6345","name":"Sticky Note9"},{"parameters":{"content":"\n## **SMM**","height":80,"width":210,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,2140],"id":"06c45c8e-13e4-480f-b9cb-180d72294f41","name":"Sticky Note10"},{"parameters":{"content":"\n## **LG TEAM LEADS**","height":80,"width":210,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,660],"id":"046ee362-13c7-46ac-8ba4-1b0dc37f625e","name":"Sticky Note11"},{"parameters":{"content":"\n## **ADS**","height":80,"width":210,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,2340],"id":"37b58044-a3ce-4e6c-9952-72c803909ef4","name":"Sticky Note12"},{"parameters":{"content":"\n## **COPYWRITE**","height":80,"width":210},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,2520],"id":"ee431f1a-97f1-47ae-9df8-f3c276c10c19","name":"Sticky Note13"},{"parameters":{"content":"\n## **PM**","height":80,"width":210,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,2700],"id":"1dabfcaa-ab2b-4e42-8970-b3eecc79b8be","name":"Sticky Note14"},{"parameters":{"content":"\n## **PI**","height":80,"width":210,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,3060],"id":"e6b82070-1a4d-4c74-a766-bf271f9eb972","name":"Sticky Note15"},{"parameters":{"content":"\n## **MARKETING**","height":80,"width":210,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,2880],"id":"1d86cd36-bba7-403a-8a5f-0d3596035b13","name":"Sticky Note16"},{"parameters":{"content":"\n## **AFFILIATES**","height":80,"width":210,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,3240],"id":"4b1de207-76aa-4dd6-ae91-84aaaaf7bb57","name":"Sticky Note17"},{"parameters":{"content":"\n## **HR**","height":80,"width":210,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,3440],"id":"c3408aa1-aab5-40ee-8612-601d44e6f855","name":"Sticky Note18"},{"parameters":{"content":"\n## **SALES**","height":80,"width":210,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,3640],"id":"16717cfa-7686-4c49-af38-8869d1a95d09","name":"Sticky Note19"},{"parameters":{"content":"## Filtering New department messages","width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,-160],"id":"e03cfd32-20a2-41c0-9253-b30746e2806c","name":"Sticky Note20"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,3620],"id":"c6221aa0-5fed-4e60-8474-850f97d33166","name":"Filtering New Sales messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,3420],"id":"a92c472d-1dc3-4a45-9474-9f55346ee843","name":"Filtering New HR messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,3220],"id":"382adfc6-88b4-42e2-8f0c-42df012c706d","name":"Filtering New Affiliates messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,3040],"id":"6e753cd0-5960-413c-a8c7-8a88213aff86","name":"Filtering New PI messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,2860],"id":"6d6d08ff-63cc-42f5-a07b-c65b4755c4b2","name":"Filtering New Marketing messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,2680],"id":"453b518c-7233-4ca8-b3f1-842f3577b1c1","name":"Filtering New PM Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,2500],"id":"3068eaa6-2086-4ff9-8174-bbe0e94d3de7","name":"Filtering New Copywrite Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,2320],"id":"367fa7cc-4bec-4421-bf2d-b41441675bef","name":"Filtering New Ads Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,2120],"id":"8b8a4797-da3b-426b-8dce-6e951a3457f9","name":"Filtering New SMM Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1940],"id":"554ea071-a468-4df2-8d8a-7c82aa2832ec","name":"Filtering New CRM Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1740],"id":"ce3c0c6b-61b8-45bb-9ce5-5c4c2f3d82d0","name":"Filtering New CMS Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1540],"id":"1e2b96e4-1a00-42b0-93f8-78f896415cac","name":"Filtering New Illustation Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1360],"id":"d46ca98c-d684-4694-8c07-65d44538911c","name":"Filtering New Assistants Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1180],"id":"b2b8fc4b-6f3c-435a-88fc-529f2aa38247","name":"Filtering New Video Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1000],"id":"b99c7a57-a48e-4c47-be0a-0148bb3a592a","name":"Filtering New Design Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,820],"id":"bcff8292-2b01-49c0-8fd8-addc64832136","name":"Filtering New RC Mesages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,440],"id":"ffdcbd62-16be-4e14-bda7-597eaf56e1e4","name":"Filtering New LG Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,240],"id":"b26edf6f-3731-4c4f-946b-cdfad7c07903","name":"Filtering New Finance Messages"},{"parameters":{"jsCode":"let startRowNumber = 2;\n\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,40],"id":"599d6b0c-6509-453d-9f54-148b89ee573f","name":"Filtering New AI Messages"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":708931920,"mode":"list","cachedResultName":"Ads Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=708931920"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.timestamp }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,2320],"id":"83009141-ee1b-410a-9bbc-31603d636afb","name":"Ads Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":2011925316,"mode":"list","cachedResultName":"LeadGen Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=2011925316"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.author }}","Date":"={{ $json.timestamp }}","Report text":"={{ $json.message }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,440],"id":"e232f9b3-c355-491d-821b-72b6ad9b5e57","name":"LG Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"https://discord.com/channels/732698343951695963/1331236411361329152","mode":"url","__regex":"https:\\/\\/discord.com\\/channels\\/[0-9]+\\/([0-9]+)"},"limit":8,"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[60,640],"id":"1827a924-fa33-4348-a03e-1bb12b02d8a7","name":"Discord LG TeamLeads","webhookId":"4ef70230-445a-41eb-835c-c1a3af17cc8f","alwaysOutputData":true,"credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/","mode":"url"},"sheetName":{"__rl":true,"value":1723319401,"mode":"list","cachedResultName":"LG TeamLeads Reports","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZF-T9QFJhNFKiCLrM6csJ9hMYzdFUgc2m4zg3hcKW4/edit#gid=1723319401"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Report text":"={{ $json.message }}","Name":"={{ $json.author }}","Date":"={{ $json.timestamp }}"},"matchingColumns":["Date"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Report text","displayName":"Report text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,640],"id":"05f54a48-dafd-4f1b-8bbd-3eac4553ff9f","name":"LG Team Leads Sheet","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"let startRowNumber = 2;\n// Сортировка сообщений по дате (от старых к новым)\nitems.sort((a, b) => {\n  return new Date(a.json.timestamp).getTime() - new Date(b.json.timestamp).getTime();\n});\n\nreturn items.map((item, index) => {\n  // Преобразование timestamp в формат dd.mm.yyyy hh:mm\n  const date = new Date(item.json.timestamp);\n  const day = (\"0\" + date.getDate()).slice(-2);\n  const month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n  const year = date.getFullYear();\n  const hours = (\"0\" + date.getHours()).slice(-2);\n  const minutes = (\"0\" + date.getMinutes()).slice(-2);\n  const formattedDate = `${day}.${month}.${year} ${hours}:${minutes}`;\n  \n  return {\n    json: {\n      row_number: startRowNumber + index,\n      message: item.json.content,\n      timestamp: formattedDate,\n      author: item.json.author.username,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,640],"id":"dbe1acd1-4642-4273-9e92-fc9295c39fc8","name":"Filtering New LG Team Leads Messages"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Discord AI","type":"main","index":0},{"node":"Discord Finance","type":"main","index":0},{"node":"Discord LeadGens","type":"main","index":0},{"node":"Discord RC","type":"main","index":0},{"node":"Discord Design","type":"main","index":0},{"node":"Discord Video","type":"main","index":0},{"node":"Discord Assistants","type":"main","index":0},{"node":"Discord Illustation","type":"main","index":0},{"node":"Discord CMS","type":"main","index":0},{"node":"Discord CRM","type":"main","index":0},{"node":"Discord SMM","type":"main","index":0},{"node":"Discord Ads","type":"main","index":0},{"node":"Discord Copywrite","type":"main","index":0},{"node":"Discord PM","type":"main","index":0},{"node":"Discord Marketing","type":"main","index":0},{"node":"Discord Pi","type":"main","index":0},{"node":"Discord Affiliates","type":"main","index":0},{"node":"Discord HR","type":"main","index":0},{"node":"Discord Sales","type":"main","index":0},{"node":"Discord LG TeamLeads","type":"main","index":0}]]},"AI sheet":{"main":[[]]},"Discord AI":{"main":[[{"node":"Filtering New AI Messages","type":"main","index":0}]]},"Discord Finance":{"main":[[{"node":"Filtering New Finance Messages","type":"main","index":0}]]},"Discord LeadGens":{"main":[[{"node":"Filtering New LG Messages","type":"main","index":0}]]},"Discord RC":{"main":[[{"node":"Filtering New RC Mesages","type":"main","index":0}]]},"Discord Design":{"main":[[{"node":"Filtering New Design Messages","type":"main","index":0}]]},"Discord Video":{"main":[[{"node":"Filtering New Video Messages","type":"main","index":0}]]},"Discord Assistants":{"main":[[{"node":"Filtering New Assistants Messages","type":"main","index":0}]]},"Discord Illustation":{"main":[[{"node":"Filtering New Illustation Messages","type":"main","index":0}]]},"Discord CMS":{"main":[[{"node":"Filtering New CMS Messages","type":"main","index":0}]]},"Discord CRM":{"main":[[{"node":"Filtering New CRM Messages","type":"main","index":0}]]},"Discord SMM":{"main":[[{"node":"Filtering New SMM Messages","type":"main","index":0}]]},"Discord Ads":{"main":[[{"node":"Filtering New Ads Messages","type":"main","index":0}]]},"Discord Copywrite":{"main":[[{"node":"Filtering New Copywrite Messages","type":"main","index":0}]]},"Discord PM":{"main":[[{"node":"Filtering New PM Messages","type":"main","index":0}]]},"Discord Marketing":{"main":[[{"node":"Filtering New Marketing messages","type":"main","index":0}]]},"Discord Pi":{"main":[[{"node":"Filtering New PI messages","type":"main","index":0}]]},"Discord Affiliates":{"main":[[{"node":"Filtering New Affiliates messages","type":"main","index":0}]]},"Discord HR":{"main":[[{"node":"Filtering New HR messages","type":"main","index":0}]]},"Discord Sales":{"main":[[{"node":"Filtering New Sales messages","type":"main","index":0}]]},"Filtering New Sales messages":{"main":[[{"node":"Sales Sheet","type":"main","index":0}]]},"Filtering New HR messages":{"main":[[{"node":"HR Sheet","type":"main","index":0}]]},"Filtering New Affiliates messages":{"main":[[{"node":"Affiliates Sheet","type":"main","index":0}]]},"Filtering New PI messages":{"main":[[{"node":"Pi Sheet","type":"main","index":0}]]},"Filtering New Marketing messages":{"main":[[{"node":"Marketing Sheet","type":"main","index":0}]]},"Filtering New PM Messages":{"main":[[{"node":"PM Sheet","type":"main","index":0}]]},"Filtering New Copywrite Messages":{"main":[[{"node":"Copywrite Sheet","type":"main","index":0}]]},"Filtering New Ads Messages":{"main":[[{"node":"Ads Sheet","type":"main","index":0}]]},"Filtering New SMM Messages":{"main":[[{"node":"SMM sheet","type":"main","index":0}]]},"Filtering New CRM Messages":{"main":[[{"node":"CRM Sheet","type":"main","index":0}]]},"Filtering New CMS Messages":{"main":[[{"node":"CMS Sheet","type":"main","index":0}]]},"Filtering New Illustation Messages":{"main":[[{"node":"Illustation Sheet","type":"main","index":0}]]},"Filtering New Assistants Messages":{"main":[[{"node":"Assistants Sheet","type":"main","index":0}]]},"Filtering New Video Messages":{"main":[[{"node":"Video Sheet","type":"main","index":0}]]},"Filtering New Design Messages":{"main":[[{"node":"Design Sheet","type":"main","index":0}]]},"Filtering New RC Mesages":{"main":[[{"node":"RC Sheet","type":"main","index":0}]]},"Filtering New LG Messages":{"main":[[{"node":"LG Sheet","type":"main","index":0}]]},"Filtering New Finance Messages":{"main":[[{"node":"Finance Sheet","type":"main","index":0}]]},"Filtering New AI Messages":{"main":[[{"node":"AI sheet","type":"main","index":0}]]},"Discord LG TeamLeads":{"main":[[{"node":"Filtering New LG Team Leads Messages","type":"main","index":0}]]},"Filtering New LG Team Leads Messages":{"main":[[{"node":"LG Team Leads Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d4416c4c-459d-4cb6-9b82-7553c6e16783","triggerCount":1,"tags":[{"createdAt":"2025-03-17T12:52:07.245Z","updatedAt":"2025-03-17T12:52:07.245Z","id":"8gQGu3wLTaddTC1B","name":"report"},{"createdAt":"2025-03-17T12:51:58.346Z","updatedAt":"2025-03-17T12:51:58.346Z","id":"CO1guCcQNZgNjhhs","name":"bot"}]}