documentflashthinking-2mHYoo6trxIx4zLd.json
{"createdAt":"2025-03-13T12:29:04.529Z","updatedAt":"2025-03-14T08:10:38.000Z","id":"2mHYoo6trxIx4zLd","name":"DocumentFlashThinking","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.message }}","messages":{"messageValues":[{"message":"Я тебе даю информацию и задаю вопрос по этой информации.  Просьба ответить на этот вопрос, ориентируясь ИСКЛЮЧИТЕЛНО на тех данных, которые я тебе предоставляю.  Пиши только ответ по существу.\nНо пиши просторно, много текста, минимум три абзаца\nне пиши фраз типа \"На основе предоставленной информации\". Просто ответ сразу. \nСделай стиль простым, как для новичка, который впервые видит текст. Не используй научный стиль. \n\nНе лей воду типа как это видно из текста про шаблоны задач"},{"type":"HumanMessagePromptTemplate","message":"={{ $json.content }}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1900,0],"id":"468978cc-aa35-48ed-95d6-94e9ba375f5f","name":"Basic LLM Chain"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2360,-180],"id":"beac330d-1f78-4fdf-b193-d12b2a9c5ddd","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"COglRMYK04YaJ945","name":"OpenRouter Content account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1BvJFzEBew0ExBGfj0jUO2OSevJxJ5PB5I_jtEXwK7iQ/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,0],"id":"7c0b73cc-1ad6-4317-ac32-91d14901a547","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"kGGPhyzvK0TCTwho","name":"Google Docs dev api key"}}},{"parameters":{"httpMethod":"POST","path":"GeminiFlashThinking","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"bb17641f-5cec-4010-b7f0-4050674291b6","name":"Webhook","webhookId":"648adb7a-d1e5-425d-81d2-7fda1932a8e4"},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","messages":{"messageValues":[{"message":"Отвечай коротко, одним словом, указанным ниже: read или write.\n\n\n\nСистемные инструкции для обработки запросов по данным компании: \t1.\tЗапросы на изменение (write): Если пользователь хочет внести изменения, дополнения или удалить информацию о компании, это считается запросом на запись. Результат должен быть выведен как единственное слово: write. Примеры: \t•\t«Добавь информацию о новом партнёре компании.» \t•\t«Обнови описание услуг компании.» \t•\t«Исправь данные о последнем отчёте.» \t•\t«Удалить устаревшие сведения о филиалах.» \t2.\tЗапросы на получение информации (read): Если пользователь просит просто просмотреть или напомнить сохранённые данные о компании без их изменения, это считается запросом на чтение. Результат должен быть выведен как единственное слово: read. Примеры: \t•\t«Покажи текущую информацию о компании.» \t•\t«Прочитай данные о последних проектах компании.» \t•\t«Какие сведения сохранены о партнёрах?» \t•\t«Напомни, что записано о финансовых показателях компании.»"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[180,20],"id":"6b588f0b-ba93-4006-9d55-38aee7a6b627","name":"Basic LLM Chain1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2260,20],"id":"816d2106-9dc4-4419-9b6d-f703b3be9b0b","name":"Respond to Webhook"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[280,240],"id":"3895e4a2-9f57-442e-bb10-f24960b7ebb5","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"COglRMYK04YaJ945","name":"OpenRouter Content account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"949ac7fe-524c-4f93-b5ae-c959a87f59fb","leftValue":"={{ $json.text }}","rightValue":"read","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[540,20],"id":"70c38b06-fe66-4bc7-a8e0-446f20a61a82","name":"If"},{"parameters":{"respondWith":"text","responseBody":"Данные успешно внесены","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2480,340],"id":"e936aefc-3ab6-4986-b901-229e29001d2e","name":"Respond to Webhook1"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.message }}\n\n\nУдали воду из фразы, которая написана выше. ","messages":{"messageValues":[{"message":"Я тебе буду давать сообщение, а ты должен будешь сформулировать текст на его основе, который в дальнейшем будет добавляться в файл.  Напиши только результат. "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1000,240],"id":"4c422320-39c9-49a8-874b-cb106bca1dcc","name":"Basic LLM Chain2"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1040,460],"id":"8865c58f-7478-4869-bbeb-4d2ac687b440","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"COglRMYK04YaJ945","name":"OpenRouter Content account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1BvJFzEBew0ExBGfj0jUO2OSevJxJ5PB5I_jtEXwK7iQ/edit?usp=drivesdk"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1360,240],"id":"4b8e490c-185b-458e-8d17-2a506098bb47","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"kGGPhyzvK0TCTwho","name":"Google Docs dev api key"}}},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1BvJFzEBew0ExBGfj0jUO2OSevJxJ5PB5I_jtEXwK7iQ/edit?tab=t.0#heading=h.8g3n5ap8bnhp","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Basic LLM Chain2').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1580,240],"id":"da214825-a659-4c9b-87f7-24a7f2d3419b","name":"Google Docs2","credentials":{"googleDocsOAuth2Api":{"id":"kGGPhyzvK0TCTwho","name":"Google Docs dev api key"}}}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Google Docs","type":"main","index":0}],[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Google Docs1":{"main":[[{"node":"Google Docs2","type":"main","index":0}]]},"Google Docs2":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff46c3e5-29fb-4d38-88aa-93ab4d9da65b","triggerCount":1,"tags":[{"createdAt":"2025-03-13T07:45:38.802Z","updatedAt":"2025-03-13T07:45:38.802Z","id":"VELAFVHgNsNNcoRf","name":"Memory"},{"createdAt":"2025-03-13T12:37:42.433Z","updatedAt":"2025-03-13T12:37:42.433Z","id":"mS7hDKpZh1SMxZRW","name":"Chat"}]}