getmemory-7JvXogr0UHjM7Zuz.json
{"createdAt":"2025-03-13T07:45:49.456Z","updatedAt":"2025-03-13T13:48:58.000Z","id":"7JvXogr0UHjM7Zuz","name":"GetMemory","active":true,"nodes":[{"parameters":{"path":"GetMemory","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"c5ac62ad-8f2c-4ce7-b135-9cc117e591de","name":"Webhook","webhookId":"cb7289a7-a51b-40d5-b0bb-1af4f46ff205"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1BvJFzEBew0ExBGfj0jUO2OSevJxJ5PB5I_jtEXwK7iQ/edit?usp=drivesdk"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"3b27a058-45e3-4612-8dcd-019d12cc4827","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"0312dc97-d8c6-4465-b077-015bda95ac7e","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e2d85dd2-234e-42a6-94f0-3dbe8c2642f7","triggerCount":1,"tags":[{"createdAt":"2025-03-13T07:45:38.802Z","updatedAt":"2025-03-13T07:45:38.802Z","id":"VELAFVHgNsNNcoRf","name":"Memory"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"}]}