getonboardingfileworkflowagents-EY3zU4zUNb4tRa2M.json
{"createdAt":"2025-03-04T10:16:01.630Z","updatedAt":"2025-03-04T10:16:48.000Z","id":"EY3zU4zUNb4tRa2M","name":"GetOnboardingFileWorkflowagents","active":true,"nodes":[{"parameters":{"path":"ae9e02ab-d8ce-4954-9bcd-da44e0efba22","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"e46f5c73-9ee0-4c2d-be7b-ea6c19273188","name":"Webhook","webhookId":"ae9e02ab-d8ce-4954-9bcd-da44e0efba22"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1oxSUjNR_Si5UaX7AfWy0r5tGt2IfbP8GKK7DjBo92Mw/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"ffefc606-020a-4b56-932c-9235f17514a2","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"00cc0f2f-78be-42af-a9ef-302e4767342f","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7b6be01c-4057-4677-a9ae-118c0b524da3","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:12:31.735Z","updatedAt":"2025-03-04T10:12:31.735Z","id":"HTfjYUz6vEtXNRrq","name":"Day5"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}