getonboardingfile-create-google-sheet-template-for-lead-generation-R3WqeJiy7BbyjaRe.json
{"createdAt":"2025-03-12T12:37:07.798Z","updatedAt":"2025-03-12T12:37:45.000Z","id":"R3WqeJiy7BbyjaRe","name":"GetOnboardingFile Create Google Sheet template for lead generation","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/CreateGoogleSheetTemplateForLeadGeneration","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"683f7720-b44a-4051-a060-993f3e12c1cb","name":"Webhook","webhookId":"556772b8-c5a3-4bc7-9891-de6c8cdcaab6"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1CalcLDnpmiqRE9XPPXu8diIHhnonP6bJuVlC-YmLiuw/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"17c1df4a-0814-4d68-9600-7e23ad4cecda","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"d05e1b73-c3dc-4609-b719-dea932b32f78","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5951e6c4-fdf3-4485-a3bf-1d2165c0e353","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T09:07:39.636Z","updatedAt":"2025-03-03T09:07:39.636Z","id":"WSdrUAjxY2vUjAbn","name":"Day1"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}