getonboardingfile-generate-email-templates-6S4ByrAIXGeLMN1O.json
{"createdAt":"2025-03-12T12:45:26.986Z","updatedAt":"2025-03-12T12:45:59.000Z","id":"6S4ByrAIXGeLMN1O","name":"GetOnboardingFile Generate email templates","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/GenerateEmailTemplates","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"fbc3734f-a485-4ad0-ba4b-d4d05c43bb19","name":"Webhook","webhookId":"d6010816-f3c7-491a-968f-134f9884793a"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1w5-zFW_5twoUwZfmfTuJHb5zeYHvDrTU9w0h_a6OTYk/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"151dbf4d-0bd1-4027-ae7c-f54ca8d98942","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"7d5adf1b-89f5-411c-b502-7c0faa519ffc","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ebe2a31b-46e5-49fa-82fe-4b73156d63e9","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-04T10:03:47.483Z","updatedAt":"2025-03-04T10:03:47.483Z","id":"gNLCceNqj4DelBGY","name":"Day3"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}