getonboardingfile-clock-in-out-+-screenshots-in-crm-qRjQ7tenXcq5eHRp.json
{"createdAt":"2025-03-12T12:31:39.580Z","updatedAt":"2025-03-12T12:33:10.000Z","id":"qRjQ7tenXcq5eHRp","name":"GetOnboardingFile Clock in-out + screenshots in CRM","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/ClockIn-outAndScreenshotsInCRM","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"919b3e57-4cd3-4d83-b38d-1039b88277b3","name":"Webhook","webhookId":"56a0282d-3d8e-4c02-bf38-b7911810fefd"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1F_RSye45ejRJRgEA8SfBYvxWh_Su5DqH5vK1wiBGbo8/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"89a8660d-4be1-42c2-b3f6-734a9a5e1ebf","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"46b818d4-9a18-436d-8d17-f3cc96cda3bf","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"55d1000f-4995-42a9-88b5-95d8ec4167e5","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T09:07:39.636Z","updatedAt":"2025-03-03T09:07:39.636Z","id":"WSdrUAjxY2vUjAbn","name":"Day1"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}