getonboardingfile-collect-job-requests-&-fill-in-crm-PTQSmxbyrhFZ3lAK.json
{"createdAt":"2025-03-12T12:55:04.908Z","updatedAt":"2025-03-12T12:55:34.000Z","id":"PTQSmxbyrhFZ3lAK","name":"GetOnboardingFile Collect job requests & fill in CRM","active":true,"nodes":[{"parameters":{"path":"CollectJobRequestsAndFillInCRM","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"f06a658a-7e8d-4ba5-b142-99a97940311f","name":"Webhook","webhookId":"1e36741b-7099-44d6-8fdc-d6f15e3557b0"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1EFT3Vg6DpX244yx-vo5R_m6_MFyB8Xf8nODJ1ky8znc/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"75670228-ddbe-4791-899c-01af6acb5423","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"60942804-7f26-4b15-8f52-57071093cf0f","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"908b9d14-1bdf-4872-81ea-33dc3bf8e6fd","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-04T10:12:31.735Z","updatedAt":"2025-03-04T10:12:31.735Z","id":"HTfjYUz6vEtXNRrq","name":"Day5"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}