getonboardingfileiteration-methods-G4AQeeqsiaGozgbi.json
{"createdAt":"2025-03-03T14:31:19.126Z","updatedAt":"2025-03-03T14:42:20.000Z","id":"G4AQeeqsiaGozgbi","name":"GetOnboardingFileIteration Methods","active":true,"nodes":[{"parameters":{"path":"Oboarding/PromptEngineer/IterationMethods","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"95377fe7-f424-41b0-a7af-a406efe8a236","name":"Webhook","webhookId":"e09b76a0-bdb9-45d5-a5be-a454548e8048"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1sJVUFcSfL5POnNNc9IQOk17MS9vgJ1DdYvPi2su1KHI/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"88f3c14c-ccb1-48bc-9fbf-9214d513eb6f","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"e549454c-85aa-4731-837b-7ca1069f32d7","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"148efbaa-52a2-4abd-9a8e-b47c16806b32","triggerCount":1,"tags":[{"createdAt":"2025-03-03T14:31:08.720Z","updatedAt":"2025-03-03T14:31:08.720Z","id":"HELbjAXco7AikW1p","name":"Day 2"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}