getonboardingfilemetaprompting-mKbWYq2vKaykL2fL.json
{"createdAt":"2025-03-04T10:10:37.714Z","updatedAt":"2025-03-04T10:12:17.000Z","id":"mKbWYq2vKaykL2fL","name":"GetOnboardingFileMetaprompting","active":true,"nodes":[{"parameters":{"path":"b49cb24c-170b-4d6e-af3c-2dd59594a0a8","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"3b7ace16-2211-464f-809e-d992dc27d256","name":"Webhook","webhookId":"b49cb24c-170b-4d6e-af3c-2dd59594a0a8"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1bYqzq2lb8d-X1cyGrU7soyaW28rl7N8UoPP3r-1X3Gs/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"9c10c87a-416d-442c-a9e0-38fea94f99fb","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"471fb5a2-2732-48fb-acc7-e70d5a3e5dad","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"93f458f6-b711-41ca-8a11-4d9f633a7213","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:06:50.580Z","updatedAt":"2025-03-04T10:06:50.580Z","id":"9pEW6CfuNV5y5R3l","name":"Day4"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}