getonboardingfile-collect-contacts-via-salesql-uXmMHC6OBrDIlfhT.json
{"createdAt":"2025-03-12T12:49:04.342Z","updatedAt":"2025-03-12T12:49:31.000Z","id":"uXmMHC6OBrDIlfhT","name":"GetOnboardingFile Collect contacts via SalesQL","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/CollectContactsViaSalesQL","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"244e4630-6c8d-4b09-b751-f283774b6d21","name":"Webhook","webhookId":"57e208fb-d5c2-4eba-83a7-a7a6d13a2384"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/126QWYw77fJzaRUlUK3_ez-6ubRdfDSnFbs0rCsmMoWc/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"aedb7188-7fbc-41f9-a8bd-ba48236ed5f9","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"4f1af526-a57e-4b54-b08d-c5958be2f742","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4c593d5-4fb2-417b-bd6f-84f05444b135","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:06:50.580Z","updatedAt":"2025-03-04T10:06:50.580Z","id":"9pEW6CfuNV5y5R3l","name":"Day4"},{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}