getonboardingfilefivestepframework-6L7dCEZ2UcL4mqkz.json
{"createdAt":"2025-03-03T13:35:19.155Z","updatedAt":"2025-03-03T13:46:38.000Z","id":"6L7dCEZ2UcL4mqkz","name":"GetOnboardingFileFiveStepFramework","active":true,"nodes":[{"parameters":{"path":"Onboarding/PromptEngineer/FiveStepFramework","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"d9c81356-6a3a-402e-a4a0-af8ce0e8ecc9","name":"Webhook","webhookId":"42833e08-994f-4d73-999d-4f3b530eb984"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/14DkVvUQphEzKE9bDtYPrQTAoHxheBQNT0i1nUAKOcHI/edit"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"a8bbe4ca-3b73-442e-85d7-842647cd8f1c","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"6683b1bc-d262-4af7-8bb3-fbd10cf7d82f","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b0c01f7-d524-4b4d-b32f-718bbe2b5a3b","triggerCount":1,"tags":[{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:07:39.636Z","updatedAt":"2025-03-03T09:07:39.636Z","id":"WSdrUAjxY2vUjAbn","name":"Day1"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}