getonboardingfile-make-follow-up-sequences-93DwqyFk1qHtTARF.json
{"createdAt":"2025-03-12T12:51:28.447Z","updatedAt":"2025-03-12T12:52:19.000Z","id":"93DwqyFk1qHtTARF","name":"GetOnboardingFile Make follow-up sequences","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/MakeFollowUpSequences","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"81833b05-5852-403e-9f38-37f061c90cde","name":"Webhook","webhookId":"772f1571-d784-4118-8f9d-2fc42b845441"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1V63xIzFGZ3B3j1TYVd1ffKG0djcLPYke3DooJD7DImE/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"45deb574-9938-4301-8b27-17971c2ed22c","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"f1685565-ff14-4482-b1a8-6be9156e0b96","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe3cb7c8-85af-4e3a-b0bd-1b9f2c9624e2","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-04T10:12:31.735Z","updatedAt":"2025-03-04T10:12:31.735Z","id":"HTfjYUz6vEtXNRrq","name":"Day5"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}