getonboardingfileresponsibleaiuse-GM0WQk0FBe9gnvD7.json
{"createdAt":"2025-03-04T09:55:55.967Z","updatedAt":"2025-03-04T10:01:16.000Z","id":"GM0WQk0FBe9gnvD7","name":"GetOnboardingFileResponsibleAIuse","active":true,"nodes":[{"parameters":{"path":"adbb488e-bf3d-4bbe-8225-cb8a825826b0","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"4bf9d678-4a2e-4224-b574-fedf6e23964d","name":"Webhook","webhookId":"adbb488e-bf3d-4bbe-8225-cb8a825826b0"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1ObQKAukFi9rMTLj2q3xO8Z_fsTVJ-4OEQjv-d6rrEgA/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"cc418d9f-b666-4fe9-80c6-9f25758c9d80","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"5c63c3a9-d95e-4fa4-8b8f-135a6703e546","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"22dd89fb-a071-4872-958b-90b392242a16","triggerCount":1,"tags":[{"createdAt":"2025-03-03T14:31:08.720Z","updatedAt":"2025-03-03T14:31:08.720Z","id":"HELbjAXco7AikW1p","name":"Day 2"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}