getonboardingfile-extracting-linkedin-profile-data-Xc9UNAUsBGp4Wwgb.json
{"createdAt":"2025-03-12T12:48:03.854Z","updatedAt":"2025-03-12T12:48:41.000Z","id":"Xc9UNAUsBGp4Wwgb","name":"GetOnboardingFile Extracting LinkedIn profile data","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/ExtractingLinkedInProfileData","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"0cf88bdc-fa0d-46e9-ae8f-6b7b52b20c04","name":"Webhook","webhookId":"051e51fb-c903-437b-bc1d-12ae8f45b0f8"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1E1w5t2EGYFL2coJo3QPP_eQYhthxiTcGa1CDVS_ORLM/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"9b36155d-848a-4636-bbee-8823e310d1bf","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"d6b3ca02-b74c-4c97-aea4-666dcdff71ad","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7a70648b-27b5-4162-80da-aa36ae9f87c0","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:06:50.580Z","updatedAt":"2025-03-04T10:06:50.580Z","id":"9pEW6CfuNV5y5R3l","name":"Day4"},{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}