getonboardingfile-what-prompting-is-KdAC44cnuQKPR4rQ.json
{"createdAt":"2025-03-03T09:07:09.212Z","updatedAt":"2025-03-11T10:08:25.000Z","id":"KdAC44cnuQKPR4rQ","name":"GetOnboardingFile What Prompting Is","active":true,"nodes":[{"parameters":{"path":"PromptEngineering/WhatPromptingIs","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"35033b11-f40a-4fba-93ea-53cbdb823ea0","name":"Webhook","webhookId":"8e96e610-73a1-4b98-ba25-58b1cc792b77"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/13VtrueR4WWfTLdGfgXaX_iLUrT8UJ72bfyQmk3fcJPg/edit?usp=drivesdk"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"fc9ce00d-e3c4-4fd8-807f-109f01876a27","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"7249e34b-6ecc-443e-aa58-556d8cf17d29","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b61b35f4-a171-48a8-9737-bf116d9eca19","triggerCount":1,"tags":[{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:07:39.636Z","updatedAt":"2025-03-03T09:07:39.636Z","id":"WSdrUAjxY2vUjAbn","name":"Day1"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}