getonboardingfile-registrate-gmail-account-dG5Kl9UJrnflcMXD.json
{"createdAt":"2025-03-12T12:35:24.645Z","updatedAt":"2025-03-12T12:35:58.000Z","id":"dG5Kl9UJrnflcMXD","name":"GetOnboardingFile Registrate Gmail Account","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/RegistrateGmailAccount","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"76106e95-7e88-4ab3-937d-52bde1c71b3a","name":"Webhook","webhookId":"cba31716-84c3-4b61-9d13-327f4e4052b9"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1xJAQmlU_BHbfJL7v9YwvKGBEx8cZc7D1xlT2Y3awF7I/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"d14e32cb-be87-4324-ad08-f4eff23ba4e2","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"ffccd6de-747b-436f-93f5-3fc6e6eb9695","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"abb9c778-947b-4e14-a87d-4cd3dee9339a","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T09:07:39.636Z","updatedAt":"2025-03-03T09:07:39.636Z","id":"WSdrUAjxY2vUjAbn","name":"Day1"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}