getonboardingjson-elHNhfvlLsFC19Xe.json
{"createdAt":"2025-03-04T10:52:24.559Z","updatedAt":"2025-03-05T15:48:22.000Z","id":"elHNhfvlLsFC19Xe","name":"GetOnboardingJSON","active":true,"nodes":[{"parameters":{"path":"OnboardingJSON","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"703957f3-752b-4b29-93f7-1f6726f8b404","name":"Webhook","webhookId":"7e181c66-3261-4c66-a16b-df977817051b"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/11S6ngZytRUSfc91-YVewlglqqeMHhnVoQZLc_1PTenw/edit"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"d1ab9934-7a40-424b-85ab-b76e76b95277","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"060697ea-9da9-43e0-8df2-cbf441432ce3","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"30db7bae-a4a2-4d75-abf9-d9c0f0d8da68","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:52:07.036Z","updatedAt":"2025-03-04T10:52:07.036Z","id":"PgMCrQDmXgYzQdJC","name":"JSON"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}