getonboardingfile-vpn-usage-MWMpUz3xnLfF6sFP.json
{"createdAt":"2025-03-12T12:40:05.374Z","updatedAt":"2025-03-12T12:40:27.000Z","id":"MWMpUz3xnLfF6sFP","name":"GetOnboardingFile VPN usage","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/VPNUsage","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"2311c23c-9507-4003-b24b-77d60f5a790b","name":"Webhook","webhookId":"43ca95c1-6b85-4c99-93a7-ad6c6e5e6ac1"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1uYNbl8RtgJzp3Xmq3YZwWQGmC1qgZ-6zDO1tcgiP2Hw/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"db20a087-5f9c-4cf7-b01e-fc3b87cd96f4","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"6247fac2-cc79-4df5-bebe-c8a76fd7e3f9","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"53c61f98-232f-4a41-b766-edd2d77187e9","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T14:31:08.720Z","updatedAt":"2025-03-03T14:31:08.720Z","id":"HELbjAXco7AikW1p","name":"Day 2"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}