getonboardingfile-google-calendar-set-up-and-events-planning-0Sb1oEHY9cSm93gN.json
{"createdAt":"2025-03-12T12:52:40.498Z","updatedAt":"2025-03-12T12:54:55.000Z","id":"0Sb1oEHY9cSm93gN","name":"GetOnboardingFile Google calendar set up and events planning","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/GoogleCalendarSetUpAndEventsPlanning","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"71ed31d9-b51b-4d8a-8d97-c58413c7d9bf","name":"Webhook","webhookId":"3a491478-dcde-40b5-b824-7ba999ad93f4"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1lEDTSQBcSUCsonPsJRsFeFf6OgF7c9pMoCUPsr1kUNw/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"5556d089-2ba3-461c-b68a-469072640b64","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"2d18b151-9741-4155-9269-a00ece562959","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e4fd8e53-871f-458b-908f-9242772ede81","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-04T10:12:31.735Z","updatedAt":"2025-03-04T10:12:31.735Z","id":"HTfjYUz6vEtXNRrq","name":"Day5"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}