getonboardingfileagentsim-cun3KoaTdtARDflP.json
{"createdAt":"2025-03-04T10:13:34.059Z","updatedAt":"2025-03-04T10:14:46.000Z","id":"cun3KoaTdtARDflP","name":"GetOnboardingFileAgentSim","active":true,"nodes":[{"parameters":{"path":"622eb756-9b7f-4404-8ce4-08dad5967e89","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"83674b1f-68ef-42bf-b137-ae3b758187ff","name":"Webhook","webhookId":"622eb756-9b7f-4404-8ce4-08dad5967e89"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1vouWvnpAOD8yhK4o_940_fZI9ruGuqQCiJefZ5216ow/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"144a6483-d60b-4d85-90a0-ac822f383f84","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"beae6641-2f39-49a1-9f00-2c0d05d094f6","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a56bd059-c260-497b-b601-287fecddbd8b","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:12:31.735Z","updatedAt":"2025-03-04T10:12:31.735Z","id":"HTfjYUz6vEtXNRrq","name":"Day5"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}