getonboardingfilepersonasinprompting-oReEZlovRbxusDpD.json
{"createdAt":"2025-03-03T14:06:05.327Z","updatedAt":"2025-03-03T14:18:05.000Z","id":"oReEZlovRbxusDpD","name":"GetOnboardingFilePersonasInPrompting","active":true,"nodes":[{"parameters":{"path":"Onboarding/PromptEngineer/PersonasInPrompting","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"b6362cc2-8c5d-477a-a0a5-ee875d424281","name":"Webhook","webhookId":"0b06d68b-5471-4342-bb0e-604ae031f007"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/15iaNMK08tUIU9qdvunK6NxvvypixAAlEHEMSjN3l7E8/edit"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"207ef925-2910-47cf-853b-3bfa6e97cf80","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"779734e2-a6b3-4e7a-814a-84ff60929f32","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f268d4e-3b30-467c-8d1e-3f7d9468abab","triggerCount":1,"tags":[{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:07:39.636Z","updatedAt":"2025-03-03T09:07:39.636Z","id":"WSdrUAjxY2vUjAbn","name":"Day1"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}