getonboardingfilepromptchaining-XvJx2DFXt9SELNXE.json
{"createdAt":"2025-03-04T10:06:52.401Z","updatedAt":"2025-03-04T10:07:32.000Z","id":"XvJx2DFXt9SELNXE","name":"GetOnboardingFilePromptchaining","active":true,"nodes":[{"parameters":{"path":"487b2b98-6935-4621-b872-db8bbbb634a1","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"ab590969-1aed-4b8f-9ffb-1bd21a4920fc","name":"Webhook","webhookId":"487b2b98-6935-4621-b872-db8bbbb634a1"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/12ZEcqMVOTFYxJEIiAVUa6DwNxJet1YXGneUsAr_nSaQ/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"d03a1735-4749-4dae-9901-74b0d34035db","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"bb43c78a-0f55-473d-a261-431dc3d2d24b","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f6e2b5a7-0c13-443f-9f80-8e5380dbf0a6","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:06:50.580Z","updatedAt":"2025-03-04T10:06:50.580Z","id":"9pEW6CfuNV5y5R3l","name":"Day4"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}