getonboardingfile-registrate-linkedin-account-tLxaNyp7vlCf1VQE.json
{"createdAt":"2025-03-12T12:36:16.179Z","updatedAt":"2025-03-12T12:36:41.000Z","id":"tLxaNyp7vlCf1VQE","name":"GetOnboardingFile Registrate LinkedIn Account","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/RegistrateLinkedInAccount","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"45cb495d-0f33-4309-9906-0e89f7883f6e","name":"Webhook","webhookId":"d690e160-e7b7-4c0d-b9c1-fbef2cd2ea4e"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1cSIoaWnOkzWjDK8LnLdXm0ulwVrGZveDB2f8jmk9PpA/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"1ab6b559-d67b-49c1-91e0-eab275af71b0","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"db96937a-836d-4e9a-bc0a-ee1583ec01bb","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3ae03017-305d-40ba-9831-602d4acd48bb","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T09:07:39.636Z","updatedAt":"2025-03-03T09:07:39.636Z","id":"WSdrUAjxY2vUjAbn","name":"Day1"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}