getonboardingfilemultimodalprompting-iH6kkBKfWGWGj7mT.json
{"createdAt":"2025-03-03T15:10:42.202Z","updatedAt":"2025-03-03T15:18:14.000Z","id":"iH6kkBKfWGWGj7mT","name":"GetOnboardingFileMultimodalPrompting","active":true,"nodes":[{"parameters":{"path":"Onboarding/PromptEngineering/MultimodalPrompting","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"f0d27d8d-39ca-44e4-911f-2793b8db5650","name":"Webhook","webhookId":"ff3b994d-1a15-4b21-9e0e-31f0d15cc7f1"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1mLPxGyDAGqAbGGnwwn0xVH0dHccEvxDkAt6gIlGrpuw/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"f69fdad3-316c-4c90-a1bc-3a77d1634719","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"10e35fb6-df8d-449e-95a7-e9c8dd8cac8d","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fb9173d0-3b38-4072-99cc-0395ef8070b2","triggerCount":1,"tags":[{"createdAt":"2025-03-03T14:31:08.720Z","updatedAt":"2025-03-03T14:31:08.720Z","id":"HELbjAXco7AikW1p","name":"Day 2"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}