getonboardingfile-build-google-search-prompts-pNefWN7OmYiqhyzM.json
{"createdAt":"2025-03-12T12:39:25.873Z","updatedAt":"2025-03-12T12:39:51.000Z","id":"pNefWN7OmYiqhyzM","name":"GetOnboardingFile Build Google Search Prompts","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/BuildGoogleSearchPrompts","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"7c1b42a4-5f1e-4eae-8af7-652fe2349cf8","name":"Webhook","webhookId":"beb69227-7fcd-43f9-b80a-5499f8bbf15e"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1estaNjntXJzeDcD4abI6lXKLq3reXPSHpDYMbf81avs/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"81c28fd0-61b6-4365-9ed6-c656f569f99c","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"31c77f76-bdb0-40d2-81c7-488c89a10fd2","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6af04cd8-85aa-4f8f-993a-230b0cef1edb","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T14:31:08.720Z","updatedAt":"2025-03-03T14:31:08.720Z","id":"HELbjAXco7AikW1p","name":"Day 2"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}