getonboardingfilevocabulary-w56opiDr0Mm7xU4W.json
{"createdAt":"2025-02-28T14:39:05.470Z","updatedAt":"2025-03-03T09:06:37.000Z","id":"w56opiDr0Mm7xU4W","name":"GetOnboardingFileVocabulary","active":true,"nodes":[{"parameters":{"path":"PromptEngineering/Vocabulary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"98675c83-81ea-4b16-890d-2df23e7c4b89","name":"Webhook","webhookId":"50adedfe-b5aa-4466-ba92-b7a348fe96fe"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1kizIBcUwfvWyyrIGqXLbuiMvdWLarCFXHcVpCRgx-Bs/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"247d9b3a-d425-47fd-914e-0405983fe54e","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"2721c2c1-3f86-47a7-bedd-316a4717fd74","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"13037ebf-ad12-4818-9cb8-32a128d2f41e","triggerCount":1,"tags":[{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}