getonboardingfilevocabulary-FrogEeM2lF7VQabx.json
{"createdAt":"2025-03-04T10:17:09.810Z","updatedAt":"2025-03-04T10:18:19.000Z","id":"FrogEeM2lF7VQabx","name":"GetOnboardingFileVocabulary","active":true,"nodes":[{"parameters":{"path":"b738c824-4044-4704-8053-bc0f39b2ae77","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"ee601b7f-b1f8-409b-b343-6c245291ef6a","name":"Webhook","webhookId":"b738c824-4044-4704-8053-bc0f39b2ae77"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1kizIBcUwfvWyyrIGqXLbuiMvdWLarCFXHcVpCRgx-Bs/edit"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"05c6ddf2-08ac-42ef-9aba-ae61d84e82da","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"23da6e85-7622-4479-9af3-06f50d57b9fb","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"59f14de7-26e6-445a-89b4-692aac318797","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:17:08.894Z","updatedAt":"2025-03-04T10:17:08.894Z","id":"NNwGOrvZWAMSSkcD","name":"Day0"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}