getonboardingfile-ai-observations-(strong-points-for-usage)-8mCQdbKuCE22zZ2C.json
{"createdAt":"2025-03-12T12:38:18.053Z","updatedAt":"2025-03-12T12:38:56.000Z","id":"8mCQdbKuCE22zZ2C","name":"GetOnboardingFile AI observations (strong points for usage)","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/AIObservationsStrongPointsForUsage","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"842e5a0d-31fe-48b2-83b2-4a83fc5b4bb3","name":"Webhook","webhookId":"d6338e5b-3397-4c00-b4c9-439aac2a5857"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1inmpKL6r_WXFOxI4GDmqYZF_PqmcBW7j81G0G3MFQwc/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"9e58da29-aa0e-4c7b-b48c-ebb7d49e067e","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"9ed444ed-3f78-4f7a-92b8-d0ca3f6ffe4c","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"debec388-490e-4bce-b834-196f855e0012","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T14:31:08.720Z","updatedAt":"2025-03-03T14:31:08.720Z","id":"HELbjAXco7AikW1p","name":"Day 2"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}