getonboardingfileai-agent-definition-1Spd5MfMtzMxGpKl.json
{"createdAt":"2025-03-04T10:12:33.028Z","updatedAt":"2025-03-04T10:13:17.000Z","id":"1Spd5MfMtzMxGpKl","name":"GetOnboardingFileAI agent definition","active":true,"nodes":[{"parameters":{"path":"a793374f-13f1-4bb2-b7d6-f709893abd7d","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"7bdaabac-a886-4daa-8ad6-4f1acb1d0b53","name":"Webhook","webhookId":"a793374f-13f1-4bb2-b7d6-f709893abd7d"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1DCysJeNCkNVxDINeuEoOlEeoyHsuvpajMnajrkM3E8Y/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"45cf7b00-b19e-4e93-b8b6-2a241bbff234","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"ec05854f-e0af-4c59-a31a-50e09134e1b3","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"99d5459a-7c02-4d56-adaf-4c9f46fe1cf0","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:12:31.735Z","updatedAt":"2025-03-04T10:12:31.735Z","id":"HTfjYUz6vEtXNRrq","name":"Day5"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}