getonboardingfilechainofthought-jLRh64axa7jKygVt.json
{"createdAt":"2025-03-04T10:07:57.364Z","updatedAt":"2025-03-04T10:09:10.000Z","id":"jLRh64axa7jKygVt","name":"GetOnboardingFileChainofThought","active":true,"nodes":[{"parameters":{"path":"ad3c9f90-e39e-49dc-b2f5-2a37fcda26ab","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"49592fc3-da74-4746-a1ca-b2c2a6894a2f","name":"Webhook","webhookId":"ad3c9f90-e39e-49dc-b2f5-2a37fcda26ab"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1K0Y-OxyIV0auMN0CKe8tWUb4uSimFFIWZQCWaEvKQo4/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"7790844b-9c8a-49a3-889c-ba1578f54d12","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"f83f4c6d-bdde-4414-a741-1c74221c21e6","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dfa7e920-e2a8-4695-8c8e-2d73c411e9cf","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:06:50.580Z","updatedAt":"2025-03-04T10:06:50.580Z","id":"9pEW6CfuNV5y5R3l","name":"Day4"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}