getonboardingfileagentx-sv5Oxlma3lNzlJNh.json
{"createdAt":"2025-03-04T10:15:03.906Z","updatedAt":"2025-03-04T10:15:46.000Z","id":"sv5Oxlma3lNzlJNh","name":"GetOnboardingFileAgentX","active":true,"nodes":[{"parameters":{"path":"7ab30047-d1c5-4a1a-9e0b-faf6bdd8134c","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"91664741-24b3-4519-afce-c3c1ced0e602","name":"Webhook","webhookId":"7ab30047-d1c5-4a1a-9e0b-faf6bdd8134c"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1YUx0HHoti7J94SWn2TzzZ3rnC83jD30oi9DLjhlnXd8/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"6e70829c-4432-4c08-b416-502813f79b6c","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"0859fbe5-ace2-4765-b6c8-ec6b50bffa81","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fc24fc82-742b-4e5c-b9d2-cf63f0c57ed5","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:12:31.735Z","updatedAt":"2025-03-04T10:12:31.735Z","id":"HTfjYUz6vEtXNRrq","name":"Day5"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}