getonboardingfileaivocabulary-jfeDEmv5eV6PoH8X.json
{"createdAt":"2025-03-05T12:11:27.875Z","updatedAt":"2025-03-10T08:05:22.000Z","id":"jfeDEmv5eV6PoH8X","name":"GetOnboardingFileAIVocabulary","active":true,"nodes":[{"parameters":{"path":"f85274c4-efa0-4fd0-bd77-1c3628d6ba13","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"a7803b01-dd3d-40b0-a107-12124d2fadca","name":"Webhook","webhookId":"f85274c4-efa0-4fd0-bd77-1c3628d6ba13"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1kizIBcUwfvWyyrIGqXLbuiMvdWLarCFXHcVpCRgx-Bs/edit"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"f0dd1cb5-18ea-4451-a75b-32dd6924501f","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"9bb319be-13c4-4f69-823d-6c0b5481a4a2","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b5fa0462-cdea-400c-8fab-ad29e3e1892c","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:17:08.894Z","updatedAt":"2025-03-04T10:17:08.894Z","id":"NNwGOrvZWAMSSkcD","name":"Day0"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}