getonboardingfilecontentgeneration-3TUrXCSwRvyymyYp.json
{"createdAt":"2025-03-04T10:01:42.601Z","updatedAt":"2025-03-04T10:05:04.000Z","id":"3TUrXCSwRvyymyYp","name":"GetOnboardingFileContentgeneration","active":true,"nodes":[{"parameters":{"path":"1d7684c8-a0d7-46f0-8ef7-5d7185e3df6f","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"af72b768-73a4-4786-9b86-a2417dcb4d8e","name":"Webhook","webhookId":"1d7684c8-a0d7-46f0-8ef7-5d7185e3df6f"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1WyKj4Y9uzA4l639zG-9c0XE6h_j3Vw5Sidbrxwfg52k/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"83511b99-ece9-4462-a2f2-4dfb31aa9d25","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"ec961d01-ee80-4a12-9604-4bb152aacd11","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4df4e1db-f543-4bf7-b0fc-a9c6905e013e","triggerCount":1,"tags":[{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-04T10:03:47.483Z","updatedAt":"2025-03-04T10:03:47.483Z","id":"gNLCceNqj4DelBGY","name":"Day3"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}