getonboardingfile-basic-workflow-creation-U1QXRnxUnKyOhNRA.json
{"createdAt":"2025-03-06T13:28:43.378Z","updatedAt":"2025-03-06T13:54:54.000Z","id":"U1QXRnxUnKyOhNRA","name":"GetOnboardingFile Basic Workflow Creation","active":true,"nodes":[{"parameters":{"path":"onboarding/n8n/guide/BasicWorkflowCreation","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"65ab7d40-6f1e-4a7c-b1cd-9e3efe90b90e","name":"Webhook","webhookId":"bfa0d7b1-e192-409b-b847-97b98fbb0cb2"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1GRO2bl0RSDbVOhMjCvCy-JDgCGHB_aLPk5INVh5DNL8/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"4f590ca5-1a1e-45af-be7b-d76885b3cf91","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"2afdd6d1-cd8a-41da-b46d-9e8cfe46dfbe","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"544d3b38-94be-4a11-9fdb-cfd668c59ac7","triggerCount":1,"tags":[{"createdAt":"2025-03-04T15:18:45.103Z","updatedAt":"2025-03-04T15:18:45.103Z","id":"Lv0IHVqEPpRYfyh7","name":"AI Onboarding"},{"createdAt":"2025-03-03T09:07:39.636Z","updatedAt":"2025-03-03T09:07:39.636Z","id":"WSdrUAjxY2vUjAbn","name":"Day1"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}