getonboardingfiledataanalysis-nSTRk00cFJnqdn6t.json
{"createdAt":"2025-03-04T10:03:48.732Z","updatedAt":"2025-03-04T10:04:29.000Z","id":"nSTRk00cFJnqdn6t","name":"GetOnboardingFileDataanalysis","active":true,"nodes":[{"parameters":{"path":"55ee44df-dc0d-4d52-b51d-66352eeea55c","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"25d2ab7a-3d3a-4c6f-bf74-1f1e8147abc6","name":"Webhook","webhookId":"55ee44df-dc0d-4d52-b51d-66352eeea55c"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1y54ri9I_YXxTFcy9AS3u7Dh0YnIxq_7tedH7v-SuAL4/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"e5cabfcc-6e07-4e2a-940b-d144a086f421","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"f6325251-6d43-4555-84f7-5b562c8c68db","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff130d5e-4232-43b0-89cd-6cc756a0f91a","triggerCount":1,"tags":[{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-04T10:03:47.483Z","updatedAt":"2025-03-04T10:03:47.483Z","id":"gNLCceNqj4DelBGY","name":"Day3"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}