getonboardingfile-screen-recording-N6w5AA8Ns1SS8WGm.json
{"createdAt":"2025-03-12T12:27:28.681Z","updatedAt":"2025-03-12T12:35:12.000Z","id":"N6w5AA8Ns1SS8WGm","name":"GetOnboardingFile Screen recording","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/ScreenRecording","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"93eadc24-812f-47c4-82de-7ee5526bda55","name":"Webhook","webhookId":"52d5a38d-190b-4482-8ee6-4246c4de567e"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/12cTlNBqbt3I2218rYg3gaIQBiSCd3cN2I2czDQbY-e8/edit?usp=sharing"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"1e2a128e-4548-4e97-b763-fc80d8889f86","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"9413a597-dbcc-4e1b-a9f9-c6273e51afd9","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"72e29c80-8418-42db-a4aa-cd6f65355611","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T09:07:39.636Z","updatedAt":"2025-03-03T09:07:39.636Z","id":"WSdrUAjxY2vUjAbn","name":"Day1"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}