getonboardingfiletreeofthought-2FddJs0NqFLLtszT.json
{"createdAt":"2025-03-04T10:09:30.957Z","updatedAt":"2025-03-04T10:10:15.000Z","id":"2FddJs0NqFLLtszT","name":"GetOnboardingFileTreeofThought","active":true,"nodes":[{"parameters":{"path":"e62faf53-2e85-419d-b3ff-4417e2bacac3","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"3a872cd3-f614-4ede-a896-74011b734b5d","name":"Webhook","webhookId":"e62faf53-2e85-419d-b3ff-4417e2bacac3"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/17wGTu3cp28q3d3SmjXwQ4m-rB2Sdq7JjrUYu1KLMEU8/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"89f25dc5-881d-45fa-b2e2-a0cd526c0db9","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"a6457d4e-599f-4eb7-b464-13f0da343a0f","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5fd7f8eb-3a01-419b-ab25-52bb258c6a70","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:06:50.580Z","updatedAt":"2025-03-04T10:06:50.580Z","id":"9pEW6CfuNV5y5R3l","name":"Day4"},{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}