getonboardingfile-lg-vocabulary-Q5zcs3EDWPA4FtRV.json
{"createdAt":"2025-03-12T12:55:55.693Z","updatedAt":"2025-03-12T12:56:24.000Z","id":"Q5zcs3EDWPA4FtRV","name":"GetOnboardingFile LG Vocabulary","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/LGVocabulary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"6a557cfb-c005-43b6-882d-dddbe50892f1","name":"Webhook","webhookId":"2172e718-d15b-4b68-9f34-e22905fc659b"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1wvz00MA_uhvZQtineKOMhB7rYiRg_UEDNY836aTPC9Y/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"9f8b58e7-1aa0-4669-a348-9bad12d34314","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"6d51dbcb-4444-494c-a86b-a418bf440d10","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ade0ff57-e349-4c14-b1a2-5f1b3c10ee3b","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-04T10:17:08.894Z","updatedAt":"2025-03-04T10:17:08.894Z","id":"NNwGOrvZWAMSSkcD","name":"Day0"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}