getonboardingfilepresentationbuilding-Y73cc5DVNGITeTU9.json
{"createdAt":"2025-03-04T10:05:38.268Z","updatedAt":"2025-03-04T10:06:25.000Z","id":"Y73cc5DVNGITeTU9","name":"GetOnboardingFilePresentationbuilding","active":true,"nodes":[{"parameters":{"path":"36a54e60-92fe-427b-8e79-cf9578a622a6","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"13da5737-1861-4aae-9e56-88d3a0badd0c","name":"Webhook","webhookId":"36a54e60-92fe-427b-8e79-cf9578a622a6"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1XH3IISQIrjUciGKE-78_ww2W4bBPyuVH99zm7f_R0HA/view"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"e249fe38-4fc2-4377-af7c-e6281f57f399","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"69bff0ed-9885-4402-8756-62cdb205ef45","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"df98a9d4-88f9-438e-a4ad-bbc2856f8197","triggerCount":1,"tags":[{"createdAt":"2025-03-03T09:07:37.040Z","updatedAt":"2025-03-03T09:07:37.040Z","id":"QePGhI1TEyYKFb1d","name":"PromptEngineer"},{"createdAt":"2025-03-04T10:03:47.483Z","updatedAt":"2025-03-04T10:03:47.483Z","id":"gNLCceNqj4DelBGY","name":"Day3"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}