getonboardingfile-send-connection-requests-in-linkedin-vm5LKLRrGiG1u2PA.json
{"createdAt":"2025-03-12T12:46:24.354Z","updatedAt":"2025-03-12T12:47:11.000Z","id":"vm5LKLRrGiG1u2PA","name":"GetOnboardingFile Send connection requests in LinkedIn","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/SendConnectionRequestsInLinkedIn","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"41200448-7662-4d66-aa4f-ab78954a1f7f","name":"Webhook","webhookId":"e0e30a7e-9302-472d-b648-1713b47f449f"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1v28EQHoW4j0S2w8ylpLmd2-HCUefInnDP0pEXn6Pi7o/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"c1d88c7e-102c-44e4-aca7-9b7826923c98","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"19357a5e-47c3-4940-8b83-aadc2a0a5ba0","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"94e3ec18-8838-44ca-a7c3-4eafa5fb09ed","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-04T10:03:47.483Z","updatedAt":"2025-03-04T10:03:47.483Z","id":"gNLCceNqj4DelBGY","name":"Day3"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}