getonboardingfile-generate-linkedin-message-templates-lE38gOnUqTF7LPNp.json
{"createdAt":"2025-03-12T12:43:32.348Z","updatedAt":"2025-03-12T12:45:05.000Z","id":"lE38gOnUqTF7LPNp","name":"GetOnboardingFile Generate LinkedIn message templates","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/GenerateLinkedInMessageTemplates","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"64bcfab3-6449-4113-b9e1-ecb622dbb163","name":"Webhook","webhookId":"69e9d059-20f2-4c09-bb89-38842c39105e"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1-J_D7v2BVlmSwE6XpA90kzL_VXqz-hbdAdPcpy_mRj4/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"2e18ed95-2bd6-4c1a-9fed-8b582faf88a3","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"a0a62765-b062-4f15-9c5a-46e8df728be4","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"efc532be-e0a0-4651-9ca3-ce87ebd1afb1","triggerCount":1,"tags":[{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-04T10:03:47.483Z","updatedAt":"2025-03-04T10:03:47.483Z","id":"gNLCceNqj4DelBGY","name":"Day3"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}