kolya-copy-for-yaroslav-JOdKYettuZIBki1T.json
{"createdAt":"2025-02-28T13:29:19.834Z","updatedAt":"2025-02-28T13:50:15.000Z","id":"JOdKYettuZIBki1T","name":"Kolya copy for Yaroslav","active":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"filtersUI":{"values":[{"lookupColumn":"Exams Markdown"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,100],"id":"3964a7d7-c3f0-40a9-9937-c2bbc455b8b8","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[520,100],"id":"c0e608dc-698c-4f85-a37f-dccc69bebbd2","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Code1').item.json.original_item.row_number }}","Topics":"={{ $('Code1').item.json.original_item.Topics }}","Guides markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3320,-620],"id":"25bf7e51-32d5-42c6-bc0c-d23263353e3d","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Basic LLM Chain2').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[3100,-620],"id":"ea8565b0-7937-428e-960b-c1382f10a516","name":"Google Docs3","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"folderId":"1GyODa7YSVnQTBs_ZTCz-ShB8qyyof-Jl","title":"={{ $('Code1').item.json.original_item.Topics }} MD"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2880,-620],"id":"4d7deb09-5d30-4e5f-8f5a-3915ad73230b","name":"Google Docs2","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2640,-480],"id":"93eb1860-2e08-4fa7-b952-c4013ea009e1","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=convert  {{ $('Basic LLM Chain1').item.json.text }} to markdown"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2520,-620],"id":"a4f6ec1e-074f-4cea-8dcf-e90969d5a1de","name":"Basic LLM Chain2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":101979946,"mode":"list","cachedResultName":"Prompt engineering ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=101979946"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Code1').item.json.original_item.row_number }}","Topics":"={{ $('Code1').item.json.original_item.Topics }}","Guide Text link":"=https://docs.google.com/document/d/{{ $json.documentId }}/view"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2300,-620],"id":"e15d08ba-e5fc-4d44-a936-833a804dabd5","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Basic LLM Chain1').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2080,-620],"id":"7366f9dd-029b-4876-a33a-2144a4fb4e37","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"folderId":"1HIQ4ZQR5x4BunaNBGM42012WWgxGc7fV","title":"={{ $('Code1').item.json.original_item.Topics }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1860,-620],"id":"81394d73-58c3-46b8-b2a3-bab24d34ff22","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"promptType":"define","text":"={{ $json.topic }}{{ $json.subtopics }}{{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1500,-620],"id":"5187943c-434b-405a-9c79-5b3c4b53050f","name":"Basic LLM Chain1"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1640,-480],"id":"c7a3c6cc-9ccd-466b-b190-dc99851a5dda","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"IutoFzMkSIEL8hdM","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Получаем все данные из Google Sheets\nconst items = $input.all();\n\n// Фильтруем строки, где Guide Text link пустое\nconst filteredItems = items.filter(item => {\n  // Проверяем, есть ли у item свойство json\n  if (item.json) {\n    return !item.json[\"Guide Text link\"] || \n           item.json[\"Guide Text link\"] === \"\" || \n           item.json[\"Guide Text link\"] === \"[empty]\";\n  }\n  return false;\n});\n\n// Проверяем, что у нас есть подходящие записи\nif (filteredItems.length === 0) {\n  return { message: \"No items with empty Guide Text link found\" };\n}\n\n// Выбираем первую строку с пустым значением в Guide Text link\nconst firstItem = filteredItems[0].json; // Доступ к данным через .json\n\n// Проверка и удаление лишних пробелов из темы\nconst topic = firstItem.Topics ? firstItem.Topics.trim() : \"Content generation\";\nconst course = firstItem.Courses ? firstItem.Courses.trim() : \"Prompt Engineering\";\n\n// Получение и обработка подтем\nconst subtopicsRaw = firstItem.Subtopics || \"\";\nconst subtopics = subtopicsRaw.split(',').map(subtopic => subtopic.trim());\n\n// Создаем промпт для ИИ с данными из выбранной строки\nconst prompt = `Create an educational article about \"${topic}\" that focuses SPECIFICALLY on these exact subtopics: ${subtopicsRaw}.\n\nEXTREMELY IMPORTANT FORMATTING INSTRUCTIONS:\n- Do NOT use Markdown format\n- Do NOT include any code blocks or triple backticks\n- Do NOT include any instructions about copying, pasting, or formatting the text\n- Provide ONLY plain text content\n- Do NOT add any meta-instructions at the beginning or end\n\nThe article should have this structure:\n\nThe Prompt Engineer's Guide to ${topic}\n\nTable of Contents\n(List EXACTLY these subtopics with appropriate emoji for each - these are the ONLY subtopics you should cover):\n${subtopics.map(sub => `- ${sub}`).join('\\n')}\n\n(Introduction paragraph explaining ${topic} and its importance - no heading needed)\n\n(For each subtopic, create a section with the EXACT subtopic name as heading)\n${subtopics.map((sub, index) => `${sub}`).join('\\n\\n')}\n\n(Each subtopic section should include relevant content explaining that specific subtopic in detail)\n\n(End with a brief Key Takeaways section)\n\nIMPORTANT NOTES:\n1. You MUST use these EXACT subtopic names as your main sections\n2. Do not create your own subtopics - ONLY use the ones provided\n3. The document won't be automatically formatted in Google Docs - it will need manual formatting\n4. Make content accessible for beginners, approximately 1500-2000 words total\n\nReturn ONLY the plain text content with no additional commentary.`;\n\n// Возвращаем результат, чтобы передать его в следующий нод\nreturn {\n  topic: topic,\n  course: course,\n  subtopics: subtopics,\n  prompt: prompt,\n  original_item: firstItem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,-620],"id":"1012625e-8379-4389-8c8d-80808533e28f","name":"Code1"}],"connections":{"Google Sheets2":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets4":{"main":[[]]},"Google Docs3":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Docs2":{"main":[[{"node":"Google Docs3","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Google Docs2","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Google Sheets3":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"83b983c3-7196-406c-80af-800d9f6ab1a2","triggerCount":1,"tags":[{"createdAt":"2025-02-28T12:15:53.990Z","updatedAt":"2025-02-28T12:15:53.990Z","id":"iZcFhmUcGt1jKvyf","name":"LLM"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}