leads'-data-in-crm-lbceYfQX2DFdEs14.json
{"createdAt":"2025-03-12T12:49:49.705Z","updatedAt":"2025-03-12T12:50:47.000Z","id":"lbceYfQX2DFdEs14","name":"GetOnboardingFile Fill company/leads' data in CRM","active":true,"nodes":[{"parameters":{"path":"onboarding/leadgeneration/guide/FillCompanyAndleadsDataInCRM","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"ace69bed-2f19-4325-9b7b-755582e8379e","name":"Webhook","webhookId":"f3fc905c-c576-4161-a1da-15a10033c8b6"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1ytG30hHjDflHlfjRdMowHCJauc-Wjxq25cFFaF3LLwo/edit?usp=drive_link"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"6af53ac5-8c99-44ee-994c-b94257f905e3","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"812201bc-df23-4e5e-8a62-a8f7cae032f8","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"111051ed-ad51-4cbe-a6c1-3862abf0a96f","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:06:50.580Z","updatedAt":"2025-03-04T10:06:50.580Z","id":"9pEW6CfuNV5y5R3l","name":"Day4"},{"createdAt":"2025-03-12T12:27:19.303Z","updatedAt":"2025-03-12T12:27:19.303Z","id":"AlVIs3YsOTvNbP6F","name":"Lg"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}