my-workflow-2-RPLXPJDOovDjNMrq.json
{"createdAt":"2025-03-06T14:12:45.414Z","updatedAt":"2025-03-07T07:33:50.000Z","id":"RPLXPJDOovDjNMrq","name":"My workflow 2","active":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1qhLPBKHCX-TEy07Z8vCaMtmdfXL7CELnLi66uXSHZO4","mode":"list","cachedResultName":"onboardig books","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qhLPBKHCX-TEy07Z8vCaMtmdfXL7CELnLi66uXSHZO4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qhLPBKHCX-TEy07Z8vCaMtmdfXL7CELnLi66uXSHZO4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Book link"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,-100],"id":"801d6314-cc27-4d79-bf60-790a42859c09","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-100],"id":"32247a33-4ddc-4aa8-af2f-261a6867804d","name":"Loop Over Items"},{"parameters":{"jsCode":"// Получаем текущую строку\nconst item = $input.item;\n\n// Выведем для отладки, что получаем на входе\nconsole.log(\"Input item:\", JSON.stringify(item.json, null, 2));\n\n// Извлекаем значения полей (учитываем различные варианты названий полей)\nconst course = item.json.Course || item.json.course || '';\nconst topic = item.json.Topic || item.json.topic || '';\n// Ищем любое поле, которое может содержать ссылку\nconst link = item.json.Link || item.json.link || '';\nconst rowIndex = item.json.row_number || 0;\n\n// Проверим, что у нас есть ссылка\nif (!link) {\n  console.log(\"Warning: Link is empty!\");\n}\n\n// Возвращаем объект с нужными полями\nreturn {\n  json: {\n    course,\n    topic,\n    documentLink: link,\n    rowIndex\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[380,-100],"id":"6f38998e-01fd-4937-839c-ddb1a3a1610f","name":"Code"},{"parameters":{"operation":"get","documentURL":"={{ $json.documentLink }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[580,-100],"id":"d2b195b9-823d-41af-aad5-78e014ba305b","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"J6B6qomKMznAuIzW","name":"Google Docs account 2"}}},{"parameters":{"jsCode":"// Get document content\nconst documentContent = $input.item.json.content || '';\nconst courseTitle = $input.item.json.course || 'AI Topics';\n\n// Create prompt for LLM in English\nconst prompt = `You are an experienced educational content creator specializing in explaining complex technical topics in simple language.\n\nTransform the following technical course content on \"$('Code').first().json.course\" and topics in it \"$('Code').first().json.topic\" into a book chapter written in an accessible narrative style. Your audience consists of people who are not familiar with AI and technology.\n\nRules:\n1. Use a conversational, warm tone as if you're telling a story to a friend\n2. Include relatable examples from everyday life and vivid associations to explain technical concepts\n3. Avoid jargon and complex terminology. If a term is necessary, explain it in simple words\n4. Use metaphors and analogies that help visualize abstract concepts\n5. Structure the narrative as a story with logical progression from simple to complex\n6. Add short practical examples that readers can relate to their own experience\n7. End each section with a brief summary of the main ideas\n8. The overall style should be engaging and inspiring, sparking interest in the topic\n\nEXTREMELY IMPORTANT FORMATTING INSTRUCTIONS:\n- Do NOT use Markdown format\n- Do NOT include any code blocks or triple backticks\n- Do NOT include any instructions about copying, pasting, or formatting the text\n- Provide ONLY plain text content\n- Do NOT add any meta-instructions at the beginning or end\n\nCourse content to transform:\n$input.first().json.content`;\n\n// Return data with the prompt for LLM\nreturn {\n  json: {\n    ...($input.item.json),\n    prompt,\n    courseTitle\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[760,-100],"id":"14980a30-4404-4f43-bd21-64068173451b","name":"Code1"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[960,-100],"id":"a9f81737-f328-426c-9a6a-95a2ffd0496e","name":"Basic LLM Chain"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1080,20],"id":"d6b6c3ae-386b-42a8-8938-9026cea5d030","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"2TbftrJQ6ppFHQ2j","name":"OpenRouter pr account"}}},{"parameters":{"folderId":"1_GtWrtvID4nCJLY1LQavd_hfKa7EvQ-J","title":"={{ $('Code').item.json.course }} Chapter"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1320,-100],"id":"148bdcdb-6a89-4f28-b04e-ae65f6c7b635","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"J6B6qomKMznAuIzW","name":"Google Docs account 2"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Basic LLM Chain').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,-100],"id":"0373e21b-2c8e-421c-832b-d41e0aac1c74","name":"Google Docs2","credentials":{"googleDocsOAuth2Api":{"id":"J6B6qomKMznAuIzW","name":"Google Docs account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qhLPBKHCX-TEy07Z8vCaMtmdfXL7CELnLi66uXSHZO4","mode":"list","cachedResultName":"onboardig books","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qhLPBKHCX-TEy07Z8vCaMtmdfXL7CELnLi66uXSHZO4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qhLPBKHCX-TEy07Z8vCaMtmdfXL7CELnLi66uXSHZO4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Code').item.json.rowIndex }}","Topic":"={{ $('Code').item.json.topic }}","Course":"={{ $('Code').item.json.course }}","Link":"={{ $('Code').item.json.documentLink }}","Book link":"=https://docs.google.com/document/d/{{ $json.documentId }}/view "},"matchingColumns":["row_number"],"schema":[{"id":"Course","displayName":"Course","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topic","displayName":"Topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Book link","displayName":"Book link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1740,-100],"id":"5261101b-c882-4f93-925b-6e12e200b45b","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-260,-100],"id":"f9a6d004-eee0-4b80-aac2-c1b08c35765a","name":"Schedule Trigger"}],"connections":{"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Google Docs2","type":"main","index":0}]]},"Google Docs2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7d986063-24e5-44e5-894a-d4874b04d60f","triggerCount":1,"tags":[]}