n8n-onboarding-02jVjsDHIfUaoVkq.json
{"createdAt":"2025-03-06T12:05:27.213Z","updatedAt":"2025-03-06T13:20:29.000Z","id":"02jVjsDHIfUaoVkq","name":"n8n onboarding","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[460,100],"id":"bb5db1bb-9c72-4e27-8223-d26f01608a2f","name":"Триггер таймера"},{"parameters":{"documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":953645493,"mode":"list","cachedResultName":"N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=953645493"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,100],"id":"cca4eab2-c5b7-4635-896a-34310aee1146","name":"Получение строк из таблицы","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Получаем все данные из Google Sheets\nconst items = $input.all();\n\n// Фильтруем строки, где Guide Text link пустое\nconst filteredItems = items.filter(item => {\n  // Проверяем, есть ли у item свойство json\n  if (item.json) {\n    return !item.json[\"Guide Text link\"] || \n           item.json[\"Guide Text link\"] === \"\" || \n           item.json[\"Guide Text link\"] === \"[empty]\";\n  }\n  return false;\n});\n\n// Проверяем, что у нас есть подходящие записи\nif (filteredItems.length === 0) {\n  return { message: \"No items with empty Guide Text link found\" };\n}\n\n// Выбираем первую строку с пустым значением в Guide Text link\nconst firstItem = filteredItems[0].json; // Доступ к данным через .json\n\n// Проверка и удаление лишних пробелов из темы\nconst topic = firstItem.Topics ? firstItem.Topics.trim() : \"Content generation\";\nconst course = firstItem.Courses ? firstItem.Courses.trim() : \"Prompt Engineering\";\n\n// Получение и обработка подтем\nconst subtopicsRaw = firstItem.Subtopics || \"\";\nconst subtopics = subtopicsRaw.split(',').map(subtopic => subtopic.trim());\n\n// Создаем промпт для ИИ с данными из выбранной строки\nconst prompt = `Create an educational article about \"${topic}\" that focuses SPECIFICALLY on these exact subtopics: ${subtopicsRaw}.\n\nEXTREMELY IMPORTANT FORMATTING INSTRUCTIONS:\n- Do NOT use Markdown format\n- Do NOT include any code blocks or triple backticks\n- Do NOT include any instructions about copying, pasting, or formatting the text\n- Provide ONLY plain text content\n- Do NOT add any meta-instructions at the beginning or end\n\nThe article should have this structure:\n\nThe Content Creator's Guide to ${topic}\n\nTable of Contents\n(List EXACTLY these subtopics with appropriate emoji for each - these are the ONLY subtopics you should cover):\n${subtopics.map(sub => `- ${sub}`).join('\\n')}\n\n(Introduction paragraph explaining ${topic} and its importance - no heading needed)\n\n(For each subtopic, create a section with the EXACT subtopic name as heading)\n${subtopics.map((sub, index) => `${sub}`).join('\\n\\n')}\n\n(Each subtopic section should include relevant content explaining that specific subtopic in detail)\n\n(End with a brief Key Takeaways section)\n\nIMPORTANT NOTES:\n1. You MUST use these EXACT subtopic names as your main sections\n2. Do not create your own subtopics - ONLY use the ones provided\n3. The document won't be automatically formatted in Google Docs - it will need manual formatting\n4. Make content accessible for beginners, approximately 1500-2000 words total\n\nReturn ONLY the plain text content with no additional commentary.`;\n\n// Возвращаем результат, чтобы передать его в следующий нод\nreturn {\n  topic: topic,\n  course: course,\n  subtopics: subtopics,\n  prompt: prompt,\n  original_item: firstItem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,100],"id":"47298ed0-39ac-4b23-8ac1-3b5587b6e0f5","name":"Промпт и условия"},{"parameters":{"promptType":"define","text":"={{ $json.topic }}{{ $json.subtopics }}{{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1180,100],"id":"b62364fd-493b-4b08-a80d-b9d700db886f","name":"Генерация топика","alwaysOutputData":true},{"parameters":{"folderId":"1HIQ4ZQR5x4BunaNBGM42012WWgxGc7fV","title":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1540,100],"id":"386a5907-f154-41a6-96c1-17aa646553b5","name":"Создание документа для топика","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Генерация топика').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1720,100],"id":"c9b08854-8932-43b5-aa79-092c595afb5b","name":"Заполнение документа для топика","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":953645493,"mode":"list","cachedResultName":"N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=953645493"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Guide Text link":"=https://docs.google.com/document/d/{{ $json.documentId }}/view","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Hook link","displayName":"Exams Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1980,100],"id":"0a74311c-ba4d-42e1-ae5c-d67e1e1ba573","name":"Обновление таблицы с топиками","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=convert  {{ $('Генерация топика').item.json.text }} to markdown"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,420],"id":"a06237c2-8fa9-4137-a0f8-1c37cc47e270","name":"Перевод топика в маркдаун"},{"parameters":{"folderId":"1GyODa7YSVnQTBs_ZTCz-ShB8qyyof-Jl","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} MD"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,420],"id":"1aa9e4d7-dbed-4833-a6e5-690966e17335","name":"Создание документа для топика в маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Перевод топика в маркдаун').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,420],"id":"d07e04ff-856a-461f-9134-0143efe60044","name":"Заполнение документа для топика в маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":953645493,"mode":"list","cachedResultName":"N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=953645493"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}","Guides markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view "},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Hook link","displayName":"Exams Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,420],"id":"9107bb9f-b33b-4a6e-b03d-9875a0f428c0","name":"Обновление таблицы с топиками маркдаун","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Take this topic content and create a quiz for it.  {{ $('Генерация топика').item.json.text }}\n15 questions, 4 aswer options, 1 correct answer. Mark correct answer with check mark in answer options. Plane text for google docs. "},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,740],"id":"ef15faed-0f1c-417e-ba7f-c34c6e6c08c6","name":"Генерация квизов"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1320,240],"id":"e2da7842-f079-40a3-b426-2264d0cdc3bd","name":"Модель ИИ для генерации топиков","credentials":{"openRouterApi":{"id":"COglRMYK04YaJ945","name":"OpenRouter Content account"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,560],"id":"8cb066cc-929a-44d4-bcdb-711839d3c6ad","name":"Модель ИИ для перевода топиков в маркдаун","credentials":{"openRouterApi":{"id":"COglRMYK04YaJ945","name":"OpenRouter Content account"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,880],"id":"c463fcec-0e2d-4aeb-9b1f-24e272412724","name":"Модель ИИ для генерации квизов","credentials":{"openRouterApi":{"id":"COglRMYK04YaJ945","name":"OpenRouter Content account"}}},{"parameters":{"folderId":"1r57mu3KZiTOYuyk2hE0K-Vhq91-5AfSN","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} quiz"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,740],"id":"fcbb6a35-929a-4029-bf2d-669d35e71a3f","name":"Создание документа для квиза","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Генерация квизов').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,740],"id":"63be770b-650c-42ba-be7e-dee84da94a72","name":"Заполнение документа для квиза","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":953645493,"mode":"list","cachedResultName":"N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=953645493"},"columns":{"mappingMode":"defineBelow","value":{"Exams":"=https://docs.google.com/document/d/{{ $json.documentId }}/view ","row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,740],"id":"1cc7432e-4207-4e84-aae2-14b900da604d","name":"Обновление таблицы с квизами","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $('Генерация квизов').item.json.text }} convert it to markdown"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,1060],"id":"95f3c907-1a01-4e13-9988-1df07f4c469a","name":"Перевод квизов в маркдаун"},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp-1219:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,1200],"id":"070bb1a7-47e4-4170-bfd4-fc2c6fdc7230","name":"Модель ИИ для перевода квизов в маркдаун","credentials":{"openRouterApi":{"id":"COglRMYK04YaJ945","name":"OpenRouter Content account"}}},{"parameters":{"folderId":"1h4HBYsr3j8-_StAt1KRfIDgYWhNzCVrJ","title":"={{ $('Промпт и условия').item.json.original_item.Topics }} quiz md"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1560,1060],"id":"f41cc736-8327-49db-b160-0cb05de3cd98","name":"Создание документа для квиза маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Перевод квизов в маркдаун').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,1060],"id":"be4900a5-6322-4d0a-88f2-fa934631fcfd","name":"Заполнение документа для квиза маркдаун","credentials":{"googleDocsOAuth2Api":{"id":"u4aaDpAzm6YKZV9W","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g","mode":"list","cachedResultName":"LLM topics for onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":953645493,"mode":"list","cachedResultName":"N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_WcCjVoVNZIrsU6hXyjjLpR2Wm7gP9OaAR794tYx2g/edit#gid=953645493"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Промпт и условия').item.json.original_item.row_number }}","Exams Markdown":"=https://docs.google.com/document/d/{{ $json.documentId }}/view","Topics":"={{ $('Промпт и условия').item.json.original_item.Topics }}"},"matchingColumns":["row_number"],"schema":[{"id":"Courses","displayName":"Courses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subtopics","displayName":"Subtopics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ONB Day","displayName":"ONB Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tools","displayName":"Tools","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Text link","displayName":"Guide Text link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guides markdown","displayName":"Guides markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Guide Hook link","displayName":"Guide Hook link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link ","displayName":"Audio Link ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Embed","displayName":"Audio Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams Markdown","displayName":"Exams Markdown","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Exams","displayName":"Exams","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task MD","displayName":"Task MD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,1060],"id":"04eee80d-8557-4f62-9530-35ca6c63d8c5","name":"Обновление таблицы с квизами маркдаун","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}}],"connections":{"Триггер таймера":{"main":[[{"node":"Получение строк из таблицы","type":"main","index":0}]]},"Получение строк из таблицы":{"main":[[{"node":"Промпт и условия","type":"main","index":0}]]},"Промпт и условия":{"main":[[{"node":"Генерация топика","type":"main","index":0}]]},"Генерация топика":{"main":[[{"node":"Создание документа для топика","type":"main","index":0}]]},"Создание документа для топика":{"main":[[{"node":"Заполнение документа для топика","type":"main","index":0}]]},"Заполнение документа для топика":{"main":[[{"node":"Обновление таблицы с топиками","type":"main","index":0}]]},"Обновление таблицы с топиками":{"main":[[{"node":"Перевод топика в маркдаун","type":"main","index":0}]]},"Перевод топика в маркдаун":{"main":[[{"node":"Создание документа для топика в маркдаун","type":"main","index":0}]]},"Создание документа для топика в маркдаун":{"main":[[{"node":"Заполнение документа для топика в маркдаун","type":"main","index":0}]]},"Заполнение документа для топика в маркдаун":{"main":[[{"node":"Обновление таблицы с топиками маркдаун","type":"main","index":0}]]},"Обновление таблицы с топиками маркдаун":{"main":[[{"node":"Генерация квизов","type":"main","index":0}]]},"Генерация квизов":{"main":[[{"node":"Создание документа для квиза","type":"main","index":0}]]},"Модель ИИ для генерации топиков":{"ai_languageModel":[[{"node":"Генерация топика","type":"ai_languageModel","index":0}]]},"Модель ИИ для перевода топиков в маркдаун":{"ai_languageModel":[[{"node":"Перевод топика в маркдаун","type":"ai_languageModel","index":0}]]},"Модель ИИ для генерации квизов":{"ai_languageModel":[[{"node":"Генерация квизов","type":"ai_languageModel","index":0}]]},"Создание документа для квиза":{"main":[[{"node":"Заполнение документа для квиза","type":"main","index":0}]]},"Заполнение документа для квиза":{"main":[[{"node":"Обновление таблицы с квизами","type":"main","index":0}]]},"Обновление таблицы с квизами":{"main":[[{"node":"Перевод квизов в маркдаун","type":"main","index":0}]]},"Модель ИИ для перевода квизов в маркдаун":{"ai_languageModel":[[{"node":"Перевод квизов в маркдаун","type":"ai_languageModel","index":0}]]},"Перевод квизов в маркдаун":{"main":[[{"node":"Создание документа для квиза маркдаун","type":"main","index":0}]]},"Создание документа для квиза маркдаун":{"main":[[{"node":"Заполнение документа для квиза маркдаун","type":"main","index":0}]]},"Заполнение документа для квиза маркдаун":{"main":[[{"node":"Обновление таблицы с квизами маркдаун","type":"main","index":0}]]},"Обновление таблицы с квизами маркдаун":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Триггер таймера":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"717b5a3a-bb18-4c8b-95d8-6ae113be60d4","triggerCount":1,"tags":[{"createdAt":"2025-03-06T09:03:32.084Z","updatedAt":"2025-03-06T09:03:32.084Z","id":"sZdIIoFSu56xxuxb","name":"SMM"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}