parse-company-links-5vhLnnxElfHi4rSW.json
{"createdAt":"2025-04-09T09:29:52.210Z","updatedAt":"2025-04-10T06:15:14.000Z","id":"5vhLnnxElfHi4rSW","name":"Parse Company Links","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"72f5a3a3-6f03-4a36-abe3-04001fba6545","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://crm-s.com/api/v1/get-leads-public?global_company_name=Remote%20Helpers&page=2&per_page=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"79a7b874-418b-4e5f-8f7a-2290a1c2349e","name":"Get JSON from CRM"},{"parameters":{"jsCode":"// Получаем все входные данные (они должны быть в виде массива)\nlet items = $input.all();\n\n// Если вдруг items не массив, то оборачиваем в массив\nif (!Array.isArray(items)) {\n\titems = [items];\n}\n\nconst newItems = items.map(item => {\n\treturn {\n\t\tjson: {\n\t\t\t// Преобразуем объект JSON в строку\n\t\t\tresult: JSON.stringify(item.json)\n\t\t}\n\t};\n});\n\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"f0c2508e-fb18-43f5-9bee-add1c3982ec8","name":"Code"},{"parameters":{"model":"google/gemma-3-27b-it:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[780,200],"id":"9f8dd17e-97fa-4a1c-954a-6963c2152ece","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"promptType":"define","text":"=Я имею список компаний\n{{ $json.text }}\nОн спарсенный из этого json. {{ $('Code').item.json.result }}\n\n\nТвоя задача: написать список адресов сайтов этих компаний. Напиши только результат. Верни мне только адреса сайтов, без названий компаний."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1140,0],"id":"53228e51-5370-483a-a6e3-bbda54f96310","name":"Получить сайты компаний"},{"parameters":{"promptType":"define","text":"=Для каких из этих компаний отсутствуют данные о телефонах? Напиши только названия компаний. Каждая с новой строчки, напиши только результат, своих комментариев не пиши. \n<DoNotWrite>\nClaude: можете мне рассказать больше о ваших методах определения компаний, у которых отсутствуют телефонные данные? Я хотел бы лучше понять ваш процесс анализа.\n</DoNotWrite>\n\nОриентируйся на контекст:\n\n{{ $json.result }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[700,0],"id":"f5f20517-e61f-40b6-bb02-36bab6421b67","name":"Получить название компаний"},{"parameters":{"jsCode":"// Предположим, входная строка находится в поле \"links\" первого элемента\nconst inputString = $input.first().json.text;\n\n// Разбиваем строку по символу новой строки\nconst linksArray = inputString.split('\\n');\n\n// Создаем отдельный айтем для каждой ссылки\nconst newItems = linksArray.map(link => ({\n\tjson: { link: link }\n}));\n\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,0],"id":"d376efbf-5377-4ca7-b521-4453a8874f1a","name":"Разбить сайты компании на строки"},{"parameters":{"url":"=https://r.jina.ai/{{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,0],"id":"d86fa2d6-91a5-4361-aca1-445d6c1397b6","name":"Главную страницу"},{"parameters":{"promptType":"define","text":"={{ $json.data }}\nСписок ссылок на все разделы этого сайта. Мне верни только список ссылок без твоих комментариев, списком без форматирования, где каждая ссылка начинается с новой строчки. \nВерни мне только ссылки на основные разделы сайта, в которых потенциально может содержаться информация о телефонах. Страницу с контактами напиши на первом месте. "},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2020,0],"id":"7bdf6d1d-3182-4238-9403-3363e2a20f18","name":"Найти ссылки на все разделы"},{"parameters":{"model":"google/gemma-3-27b-it:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2040,160],"id":"6dd6556c-b44b-4929-b3de-acfcdc83bca7","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"url":"=https://r.jina.ai/{{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,0],"id":"a53d2d5e-0293-4608-8d0f-22f763c99989","name":"Следующие страницы"},{"parameters":{"jsCode":"// Предположим, входная строка находится в поле \"links\" первого элемента\nconst inputString = $input.first().json.text;\n\n// Разбиваем строку по символу новой строки\nconst linksArray = inputString.split('\\n');\n\n// Создаем отдельный айтем для каждой ссылки\nconst newItems = linksArray.map(link => ({\n\tjson: { link: link }\n}));\n\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,0],"id":"d4475b28-8cbb-4d8a-b3e6-a06c815f4980","name":"Разбить страницы сайта компании на строки"},{"parameters":{"model":"anthropic/claude-3.7-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3300,240],"id":"534afe2a-0e5f-4c23-ae06-0bb98e9e835f","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"promptType":"define","text":"={{ $json.data }}\n\nНайди в этом тексте телефоны компании. Если телефон отсутствует, верни одно слово null. Если телефон есть, верни только телефон без остального текста.\nЕсли телефонов несколько, верни каждый телефон с новой строки без форматирования. "},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[3200,80],"id":"a826b3d3-7cc6-4fe0-9bdb-11f72a2f8434","name":"Достать телефон со всех разделов"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3020,0],"id":"cc2ff4e7-622d-4658-b509-401c56490995","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46954662-af20-4eb9-bb8c-b6ec30b1cd81","leftValue":"={{ $json.text }}","rightValue":"null","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3520,180],"id":"1628488e-0f4b-4066-a59e-f56c84fa58bb","name":"If"},{"parameters":{"model":"google/gemma-3-27b-it:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1120,220],"id":"318a6fd4-f4f2-4526-b91d-39b18c6316b9","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get JSON from CRM","type":"main","index":0}]]},"Get JSON from CRM":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Получить название компаний","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Получить название компаний","type":"ai_languageModel","index":0}]]},"Получить сайты компаний":{"main":[[{"node":"Разбить сайты компании на строки","type":"main","index":0}]]},"Получить название компаний":{"main":[[{"node":"Получить сайты компаний","type":"main","index":0}]]},"Разбить сайты компании на строки":{"main":[[{"node":"Главную страницу","type":"main","index":0}]]},"Главную страницу":{"main":[[{"node":"Найти ссылки на все разделы","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Найти ссылки на все разделы","type":"ai_languageModel","index":0}]]},"Найти ссылки на все разделы":{"main":[[{"node":"Разбить страницы сайта компании на строки","type":"main","index":0}]]},"Разбить страницы сайта компании на строки":{"main":[[{"node":"Следующие страницы","type":"main","index":0}]]},"Следующие страницы":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"Достать телефон со всех разделов","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Достать телефон со всех разделов","type":"main","index":0}]]},"Достать телефон со всех разделов":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Получить сайты компаний","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0e9ef2f2-3176-4384-8adc-02b6098483c3","triggerCount":0,"tags":[]}