parse-company-links---social-networks-zT2go3cWcdG5xZcV.json
{"createdAt":"2025-04-09T08:39:13.974Z","updatedAt":"2025-04-11T09:03:47.000Z","id":"zT2go3cWcdG5xZcV","name":"Parse Company Links - social networks","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=я маю ці лінки {{ $json.Links }}:\n1. кожен з цих лінків підставляється у https://r.jina.ai/https://example.com замість example.com підставляти ту, яка знаходиться тут {{ $json.Links }}\n2. в output не повинно бути нічого про example, або дублікатів\n3. пиши тільки (лінку) не писати символи ``` та \\n, тільки готове посилання","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[360,-1120],"id":"bc0e7622-0342-4dc7-b8bb-141fefe48644","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Links }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[700,-1000],"id":"a50a07f2-58b2-4f36-a6f4-465b9e227fd0","name":"Window Buffer Memory"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Jx0vSsCIPeBZxsdxJIyt7bvauxDbqF7XTFhuiTKcH7c/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jx0vSsCIPeBZxsdxJIyt7bvauxDbqF7XTFhuiTKcH7c/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[140,-760],"id":"dc034b0b-3b31-4fa3-8535-6c86e2616185","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"model":"google/gemini-2.0-flash-thinking-exp:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[260,-1000],"id":"fff8805c-2444-4e5e-a0e4-539c362c7f49","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"bAp7bln2GIj8yhFs","name":"OpenRouter Dev account"}}},{"parameters":{"url":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-760],"id":"ceecd180-cc52-4bf0-a474-b7a0209bb561","name":"HTTP Request"},{"parameters":{"content":"# Генерація лінків","height":80,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,-860],"id":"dbe4817e-b2cb-40b5-a644-eeb593152b75","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"=А тепер видай усю інформацію звідси ( {{ $json.data }} ) в форматі JSON, яку я скажу, а саме, знайди посилання на: facebook, instagram, twitter, whatsapp та telegram. Якщо якогось посилання немає, не додавай її в json. не пиши ``` ```","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1280,-760],"id":"42318a50-d20c-4ea8-b6e8-57aba2ab8324","name":"AI Agent2","alwaysOutputData":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.data }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1420,-520],"id":"9cc3a2d0-35e0-49dc-b6a4-cd8afb3d7bff","name":"Window Buffer Memory2"},{"parameters":{"content":"# Дістаємо необхідну інфу","height":120,"width":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1240,-900],"id":"d57de217-348b-4caf-a38c-015da6047d52","name":"Sticky Note2"},{"parameters":{"jsCode":"if (!items.length) {\n  throw new Error(\"Нет входных данных\");\n}\n\n// Забираем входные данные\nconst input = items[0].json;\n\n// Если нет поля output, ничего распарсить не получится\nif (!input.output) {\n  return [\n    {\n      json: {\n        error: \"Поле 'output' не найдено во входном JSON\",\n        inputData: input\n      }\n    }\n  ];\n}\n\n// 1. Забираем строку из поля output\nlet rawOutput = input.output;\n\n// 2. Удаляем обёртку в стиле Markdown, если она есть\n//    Например, если строка начинается с ```json\\n и заканчивается \\n```.\nrawOutput = rawOutput\n  .replace(/^```json\\s*/i, \"\") // удаляем ```json с начала\n  .replace(/```$/i, \"\")        // удаляем ``` в конце (если на отдельной строке)\n\n// 3. Теперь пробуем распарсить эту строку как JSON\nlet parsedData;\ntry {\n  parsedData = JSON.parse(rawOutput);\n} catch (error) {\n  return [\n    {\n      json: {\n        error: `Не удалось распарсить содержимое 'output' как JSON: ${error.message}`,\n        rawOutput\n      }\n    }\n  ];\n}\n\n// 4. Проверяем нужные поля\nconst platforms = [\"facebook\", \"instagram\", \"twitter\", \"whatsapp\", \"telegram\"];\nconst outputs = [];\n\nfor (const platform of platforms) {\n  if (parsedData[platform]) {\n    outputs.push({\n      json: {\n        platform,\n        url: parsedData[platform]\n      }\n    });\n  }\n}\n\n// Если ни одного поля не найдено, возвращаем сообщение\nif (outputs.length === 0) {\n  outputs.push({\n    json: {\n      error: \"Ни одно из полей (facebook, instagram, twitter, whatsapp, telegram) не найдено во вложенном JSON\",\n      parsedData\n    }\n  });\n}\n\n// Возвращаем массив результатов\nreturn outputs;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,-760],"id":"d0a57465-d019-4244-b3c4-633eb311ec06","name":"Code1"},{"parameters":{"model":"google/gemini-2.5-pro-exp-03-25:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1280,-520],"id":"c51cc7dc-6349-40c7-b7a4-9871dd35dafc","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"bAp7bln2GIj8yhFs","name":"OpenRouter Dev account"}}},{"parameters":{"jsCode":"const combinedData = items.map(item => item.json.data).join(\"\\n\");\n\n// Возвращаем один объект, в котором поле \"data\" содержит объединённую информацию.\nreturn [\n  {\n    json: {\n      data: combinedData\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1020,-760],"id":"e7f29d03-2b59-4a0f-a03f-0cdd3bc6efc0","name":"Code2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Jx0vSsCIPeBZxsdxJIyt7bvauxDbqF7XTFhuiTKcH7c/edit?gid=1901477440#gid=1901477440","mode":"url"},"sheetName":{"__rl":true,"value":1901477440,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jx0vSsCIPeBZxsdxJIyt7bvauxDbqF7XTFhuiTKcH7c/edit#gid=1901477440"},"columns":{"mappingMode":"defineBelow","value":{"Links social network":"={{ $json.url }}","platform":"={{ $json.platform }}"},"matchingColumns":["Links social network"],"schema":[{"id":"platform","displayName":"platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Links social network","displayName":"Links social network","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1920,-760],"id":"5bcb64de-9e29-4b0e-9e65-cccea76e4c54","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"JWf1dYTj83NVJtf5","name":"Google Sheets account 2"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"link\": \"{{ 'https://r.jina.ai/' + $json.Links }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,-760],"id":"958f8780-db34-4f94-8f52-63f970d71b4b","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-520,560],"id":"6bf5c5b7-f9f5-4bf9-81aa-53a1a9c74874","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://crm-s.com/api/v1/get-leads-public?global_company_name=Remote%20Helpers&page=2&per_page=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,560],"id":"d87226c8-061b-4716-be46-ea5fe6da0638","name":"Get JSON from CRM"},{"parameters":{"promptType":"define","text":"=Я имею список компаний\n{{ $json.text }}\nОн спарсенный из этого json. {{ $('Stringify code').item.json.result }}\n\nТвоя задача: написать список адресов сайтов этих компаний. Напиши только результат. Верни мне только адреса сайтов, без названий компаний.\n\nНе возвращай https://www.rh-s.com/ "},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[620,560],"id":"a3838915-80f8-461a-9779-633f141393d7","name":"Получить сайты компаний"},{"parameters":{"promptType":"define","text":"=Для каких из этих компаний есть пустые поля в пунктах социальная сеть, e-mail и телефон? Напиши только названия компаний. Каждая с новой строчки, напиши только результат, своих комментариев не пиши. \n<DoNotWrite>\nClaude: можете мне рассказать больше о ваших методах определения компаний, у которых отсутствуют телефонные данные? Я хотел бы лучше понять ваш процесс анализа.\n</DoNotWrite>\n\nОриентируйся на контекст:\n\n{{ $json.result }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[180,560],"id":"b1471b62-989a-4ceb-a1ab-f00f02e3c718","name":"Получить название компаний"},{"parameters":{"jsCode":"// Предположим, входная строка находится в поле \"links\" первого элемента\nconst inputString = $input.first().json.text;\n\n// Разбиваем строку по символу новой строки и фильтруем пустые строки\nconst linksArray = inputString.split('\\n').filter(link => link.trim() !== '');\n\n// Создаем отдельный айтем для каждой ссылки\nconst newItems = linksArray.map(link => ({\n\tjson: { link: link }\n}));\n\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1020,560],"id":"64205f2d-d856-4e3e-8e43-f50f47e58e6e","name":"Разбить сайты компании на строки"},{"parameters":{"url":"=https://r.jina.ai/{{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,560],"id":"0e98e545-f2b9-4fe0-9113-e70b067e83ef","name":"Главную страницу"},{"parameters":{"promptType":"define","text":"={{ $json.data }}\nСписок ссылок на все разделы этого сайта. Мне верни только список ссылок без твоих комментариев, списком без форматирования, где каждая ссылка начинается с новой строчки. \nВерни мне только ссылки на основные разделы сайта, в которых потенциально может содержаться информация о социальных сетях. Страницу с контактами напиши на первом месте. \n\nНе возвращай https://r.jina.ai/"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1500,560],"id":"a615c53c-c1e2-417b-aee3-3acabbf9c3d2","name":"Найти ссылки на все разделы"},{"parameters":{"url":"=https://r.jina.ai/{{ $json.link }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-target-selector","value":"body, footer"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2300,280],"id":"15b183fa-13de-4fc4-8363-9bce06d3272e","name":"Следующие страницы","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Предположим, входная строка находится в поле \"links\" первого элемента\nconst inputString = $input.first().json.text;\n\n// Разбиваем строку по символу новой строки и фильтруем пустые строки\nconst linksArray = inputString.split('\\n').filter(link => link.trim() !== '');\n\n// Создаем отдельный айтем для каждой ссылки\nconst newItems = linksArray.map(link => ({\n\tjson: { link: link }\n}));\n\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,560],"id":"3c0ca921-b45e-4b27-bd1b-2088911dcf77","name":"Разбить страницы сайта компании на строки"},{"parameters":{"model":"google/gemma-3-27b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1520,720],"id":"490491c7-a8b9-4bb6-8c17-a31f07da0de7","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"model":"google/gemma-3-27b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[140,780],"id":"8b98a8c7-dcbe-446d-addf-5d598b9abca8","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"model":"google/gemma-3-27b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[580,780],"id":"908150e7-3c5a-45c5-90d5-441f878c8a01","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"promptType":"define","text":"=Найди в этом тексте {{ $json.data }} телефоны компании. Если телефон отсутствует, верни одно слово null. Если телефон есть, верни только телефон без остального текста.\nЕсли телефонов несколько, верни каждый телефон с новой строки без форматирования. "},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[3080,120],"id":"7d111b9e-8c97-491e-93df-d1e7d1a05a4b","name":"Достать телефон со всех разделов"},{"parameters":{"model":"google/gemma-3-27b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2980,220],"id":"c148cbd1-10be-4368-9d97-d56eab360282","name":"OpenRouter Chat Model6","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2860,100],"id":"72013b52-f10b-4e98-9174-f649bfc5683a","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46954662-af20-4eb9-bb8c-b6ec30b1cd81","leftValue":"={{ $json.text }}","rightValue":"null","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3420,120],"id":"ce580355-07b4-4184-8417-998003648e4b","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2860,360],"id":"7ebb7361-dd3f-49ca-b71c-9edb4f206c9f","name":"Loop Over Items2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46954662-af20-4eb9-bb8c-b6ec30b1cd81","leftValue":"={{ $json.text }}","rightValue":"null","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3420,380],"id":"85c5e416-02a0-4539-aa93-20ed55afae6e","name":"If2"},{"parameters":{"model":"google/gemma-3-27b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2980,480],"id":"3e8b4017-5b17-47f7-aada-3530aba6a475","name":"OpenRouter Chat Model7","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"promptType":"define","text":"=Найди в этом тексте {{ $json.data }} e-mails компании. Если e-mails отсутствуют, верни одно слово null. Если e-mails есть, верни только e-mails без остального текста.\nЕсли e-mails несколько, верни каждую социальную сеть с новой строки без форматирования. "},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[3080,380],"id":"a0aeed13-70f2-40ca-b470-7ea0b00b99c0","name":"Достать почты со всех разделов"},{"parameters":{"method":"POST","url":"=https://api.parsera.org/v1/extract","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.link }}\",\n    \"attributes\": {\n        \"LinkedIn\": \"need to find link to companies linkedin account\",\n        \"Twitter\": \"need to find link to companies twitter account\",\n        \"Instagram\": \"need to find link to companies instagram account\",\n        \"Facebook\": \"need to find link to companies facebook account\"\n    }\n}","options":{"timeout":900000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,680],"id":"d83f8f92-63f2-4efa-9501-6a1993cf903b","name":"Следующие страницы1","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"kE4OK05nMptzbfwn","name":"Token_auth_crm_prospects"}}},{"parameters":{"jsCode":"// Получаем все входные данные (они должны быть в виде массива)\nlet items = $input.all();\n\n// Если вдруг items не массив, то оборачиваем в массив\nif (!Array.isArray(items)) {\n\titems = [items];\n}\n\nconst newItems = items.map(item => {\n\treturn {\n\t\tjson: {\n\t\t\t// Преобразуем объект JSON в строку\n\t\t\tresult: JSON.stringify(item.json)\n\t\t}\n\t};\n});\n\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,560],"id":"dd2b5e27-16b0-4eea-8c8b-93197b862080","name":"Stringify code"},{"parameters":{"jsCode":"// Текст ошибки для удаления поля message\nconst errorMsg = \"No data was found. Check website and attribute descriptions. If issue persists, contact us at contact@parsera.org.\";\n\n// Обрабатываем входящие элементы\nconst newItems = items\n  .map(item => {\n    // Если значение поля message соответствует заданной строке, удаляем его\n    if (item.json.message === errorMsg) {\n      delete item.json.message;\n    }\n    return item;\n  })\n  // Фильтруем элементы\n  .filter(item => {\n    // Фильтрация по полю data:\n    const data = item.json.data;\n    if (data === null || data === undefined) return false;\n    if (Array.isArray(data) && data.length === 0) return false;\n    \n    // Фильтрация по содержимому \"cookiepedia.co.uk\":\n    // Если в любом из значений объекта встречается нужная подстрока, элемент не проходит фильтр.\n    const jsonString = JSON.stringify(item.json);\n    if (jsonString.includes(\"cookiepedia.co.uk\")) {\n      return false;\n    }\n    \n    return true;\n  });\n\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3420,680],"id":"1da8e6d8-436d-4eb2-afe2-7f9449e414dd","name":"Code"},{"parameters":{"model":"google/gemma-3-27b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2980,-60],"id":"979f7109-1a09-49c9-8a05-8ae2c2d563d5","name":"OpenRouter Chat Model8","credentials":{"openRouterApi":{"id":"xM1Kdr0j4QvJ4iaw","name":"AdminN8N"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2860,-180],"id":"f2955a49-4dbb-4f4e-9092-adb50a5c88d5","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46954662-af20-4eb9-bb8c-b6ec30b1cd81","leftValue":"={{ $json.text }}","rightValue":"null","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3420,-160],"id":"7f3da318-c8f9-4a53-8047-2794e59fecc8","name":"If"},{"parameters":{"promptType":"define","text":"=Найди в этом тексте {{ $json.data }} год основания компании. Если год основания отсутствует, верни одно слово null. Если год основания есть, верни только год основания без остального текста."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[3080,-160],"id":"98028512-92d6-4d04-afad-576cc7771497","name":"Достать год основания"}],"connections":{"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"AI Agent2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Code2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get JSON from CRM","type":"main","index":0}]]},"Get JSON from CRM":{"main":[[{"node":"Stringify code","type":"main","index":0}]]},"Получить сайты компаний":{"main":[[{"node":"Разбить сайты компании на строки","type":"main","index":0}]]},"Получить название компаний":{"main":[[{"node":"Получить сайты компаний","type":"main","index":0}]]},"Разбить сайты компании на строки":{"main":[[{"node":"Главную страницу","type":"main","index":0}]]},"Главную страницу":{"main":[[{"node":"Найти ссылки на все разделы","type":"main","index":0}]]},"Найти ссылки на все разделы":{"main":[[{"node":"Разбить страницы сайта компании на строки","type":"main","index":0}]]},"Следующие страницы":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"Loop Over Items2","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}],[]]},"Разбить страницы сайта компании на строки":{"main":[[{"node":"Следующие страницы","type":"main","index":0},{"node":"Следующие страницы1","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"Найти ссылки на все разделы","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"Получить название компаний","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Получить сайты компаний","type":"ai_languageModel","index":0}]]},"Достать телефон со всех разделов":{"main":[[{"node":"If1","type":"main","index":0}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"Достать телефон со всех разделов","type":"ai_languageModel","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Достать телефон со всех разделов","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Достать почты со всех разделов","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Loop Over Items2","type":"main","index":0}]]},"OpenRouter Chat Model7":{"ai_languageModel":[[{"node":"Достать почты со всех разделов","type":"ai_languageModel","index":0}]]},"Достать почты со всех разделов":{"main":[[{"node":"If2","type":"main","index":0}]]},"Stringify code":{"main":[[{"node":"Получить название компаний","type":"main","index":0}]]},"Следующие страницы1":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenRouter Chat Model8":{"ai_languageModel":[[{"node":"Достать год основания","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Достать год основания","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"Достать год основания":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"39445bb9-fc75-4dcd-b39a-4892a56b7724","triggerCount":0,"tags":[{"createdAt":"2025-04-09T08:40:45.366Z","updatedAt":"2025-04-09T08:40:45.366Z","id":"dKqcegeoPjVG9LGn","name":"LeadGen"}]}