post-memory-3DF8m6NeBq84m8KI.json
{"createdAt":"2025-03-13T07:55:33.450Z","updatedAt":"2025-03-14T08:10:46.000Z","id":"3DF8m6NeBq84m8KI","name":"Post Memory","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"PostMemory","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"fba965aa-5506-4bb9-9fd6-ffdac6fc93d2","name":"Webhook","webhookId":"ef72f95f-37a6-4189-af72-b7bd1c702d19"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1BvJFzEBew0ExBGfj0jUO2OSevJxJ5PB5I_jtEXwK7iQ/edit?tab=t.0#heading=h.8g3n5ap8bnhp","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Webhook').item.json.body.newText }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[440,0],"id":"22102659-dbc4-4554-97bc-c58a732cf479","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"kGGPhyzvK0TCTwho","name":"Google Docs dev api key"}},"onError":"continueErrorOutput"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[860,-120],"id":"96f92d0a-3f4c-46ef-876f-b1a81b72db48","name":"Respond to Webhook"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1BvJFzEBew0ExBGfj0jUO2OSevJxJ5PB5I_jtEXwK7iQ/edit?usp=drivesdk"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"b6d0abb9-f0b5-46f9-b33d-4341a840ad2e","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"kGGPhyzvK0TCTwho","name":"Google Docs dev api key"}}}],"connections":{"Webhook":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[]]},"Google Docs1":{"main":[[{"node":"Google Docs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1fade7b7-926a-4159-8c94-6f138e8ef3dc","triggerCount":1,"tags":[{"createdAt":"2025-03-13T07:45:38.802Z","updatedAt":"2025-03-13T07:45:38.802Z","id":"VELAFVHgNsNNcoRf","name":"Memory"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"}]}