postonboardingjson-Sx7cQ62tGh9vQRyj.json
{"createdAt":"2025-03-04T14:59:23.006Z","updatedAt":"2025-03-25T08:27:56.000Z","id":"Sx7cQ62tGh9vQRyj","name":"PostOnboardingJSON","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"PostOnboardingJSON","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"f2daf1cd-4b50-449c-8315-f2bd4559a2f6","name":"Webhook","webhookId":"89ccf3f1-42e6-429e-af70-dacfb3df2333"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1300,-120],"id":"95cc6320-66d7-4ae2-8ca7-5fff064979ff","name":"Respond to Webhook"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/11S6ngZytRUSfc91-YVewlglqqeMHhnVoQZLc_1PTenw/edit"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"51a6a491-9eb3-47ad-8db9-f281b82a973a","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"kGGPhyzvK0TCTwho","name":"Google Docs dev api key"}}},{"parameters":{"method":"POST","url":"https://hook.eu1.make.com/325xq22v6pfrmovdlasnsn27r3khdouy","sendBody":true,"bodyParameters":{"parameters":[{"name":"data","value":"={{ $('Webhook').item.json.body.data }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,320],"id":"fd26e390-eb17-4cb1-b064-f4d8ad1f0180","name":"HTTP Request"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[840,320],"id":"e29fea60-0e85-430c-9890-7d5fd85d9c26","name":"Respond to Webhook1"},{"parameters":{"workflowId":{"__rl":true,"value":"zExeriXA5cRy0jFR","mode":"list","cachedResultName":"DeleteJSONForUpdate"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[440,0],"id":"ffbd9924-87fc-4e47-846c-766fa11e1c11","name":"Execute Workflow"},{"parameters":{"operation":"update","documentURL":"=https://docs.google.com/document/d/11S6ngZytRUSfc91-YVewlglqqeMHhnVoQZLc_1PTenw/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Webhook').item.json.body.data }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[660,0],"id":"26673c0c-e74f-4a88-bdf9-65d7e354bdb2","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"kGGPhyzvK0TCTwho","name":"Google Docs dev api key"}}}],"connections":{"Webhook":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e936beb-855c-43bb-8a17-d2dab2306f75","triggerCount":1,"tags":[{"createdAt":"2025-03-04T10:52:07.036Z","updatedAt":"2025-03-04T10:52:07.036Z","id":"PgMCrQDmXgYzQdJC","name":"JSON"},{"createdAt":"2025-03-03T09:06:36.037Z","updatedAt":"2025-03-03T09:06:36.037Z","id":"qWJOcf4ehs6iONwh","name":"Files"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}