set-up-import---get-Akrbj4X6pfVbKu15.json
{"createdAt":"2025-03-04T15:30:12.933Z","updatedAt":"2025-03-06T09:17:34.000Z","id":"Akrbj4X6pfVbKu15","name":"Set Up Import - GET","active":true,"nodes":[{"parameters":{"path":"GetOnboardingHooks","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"9158515d-3913-43e2-a772-c0555d770f5a","name":"Webhook","webhookId":"7c251051-cc66-4751-98f6-70cd3be7a3c3"},{"parameters":{"documentId":{"__rl":true,"value":"1t6UxAyhrQazJ19qRcBj57xyFYcloO6gVQ2sbx_SD9mI","mode":"list","cachedResultName":"Mega Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t6UxAyhrQazJ19qRcBj57xyFYcloO6gVQ2sbx_SD9mI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1422831539,"mode":"list","cachedResultName":"Onboarding","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t6UxAyhrQazJ19qRcBj57xyFYcloO6gVQ2sbx_SD9mI/edit#gid=1422831539"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"ec1c2773-4b51-4073-ade2-1251c02e9e67","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"ImportSettingsWebhookGet\": \"{{ $json.ImportSettingsWebhookGet }}\",\n  \"ExportSettingsWebhookPost\": \"{{ $json.ExportSettingsWebhookPost }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"79516717-27a3-4419-9f44-339886ec7cea","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23dad551-e829-4dc7-bf15-f7e330bc796d","triggerCount":1,"tags":[{"createdAt":"2025-03-04T11:54:13.391Z","updatedAt":"2025-03-04T11:54:13.391Z","id":"Aku3mHPFEIaaSsR5","name":"Webhooks"},{"createdAt":"2025-03-04T11:54:08.258Z","updatedAt":"2025-03-04T11:54:08.258Z","id":"eiLDDOYUJWUrzIlq","name":"Import"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}