updatetasktable-RDsSYifNCgOdj8Jp.json
{"createdAt":"2025-03-03T10:11:52.401Z","updatedAt":"2025-03-04T11:01:41.000Z","id":"RDsSYifNCgOdj8Jp","name":"UpdateTaskTable","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"Onboarding/UpdateTaskTable","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"c4115380-0222-453b-b369-c8baa8f4d5ba","name":"Webhook","webhookId":"05b8c560-7591-494b-ba60-dfb583446ead"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1t82zxUeaVdUfVHrsBNMlVHRStaTi-0proegJbO_H5yc/edit","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t82zxUeaVdUfVHrsBNMlVHRStaTi-0proegJbO_H5yc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{$json[\"lastRow\"]}}","Task status ":"DONE","Date":"={{ $node[\"Webhook\"].json.body.date }}","Result link":"={{ $node[\"Webhook\"].json.body.link }}"},"matchingColumns":["row_number"],"schema":[{"id":"FullName","displayName":"FullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Profession","displayName":"Profession","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Day","displayName":"Day","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ExamName","displayName":"ExamName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ScorObtained","displayName":"ScorObtained","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ScoreTotal","displayName":"ScoreTotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TimeUsed","displayName":"TimeUsed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TimeTotal","displayName":"TimeTotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recuiter","displayName":"Recuiter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pass\\Fail","displayName":"Pass\\Fail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attempts","displayName":"Attempts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Task status ","displayName":"Task status ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Result link","displayName":"Result link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[660,0],"id":"4e51a360-cb72-4c56-bdbe-9285b84dc322","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1t82zxUeaVdUfVHrsBNMlVHRStaTi-0proegJbO_H5yc/edit","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t82zxUeaVdUfVHrsBNMlVHRStaTi-0proegJbO_H5yc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"56965c9f-57a3-4f6f-81da-0caecd750476","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"0ZusPiO4swtxauA4","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Берём все row_number\nconst rowNums = items.map(item => item.json.row_number);\n// Находим максимальный\nconst lastRow = Math.max(...rowNums);\n// Возвращаем\nreturn [{ json: { lastRow } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"40231c2e-b552-4b26-913c-f70d7db5da12","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"93a3f80a-6f16-4238-8f81-caae0e65d900","triggerCount":1,"tags":[{"createdAt":"2025-03-04T11:01:40.150Z","updatedAt":"2025-03-04T11:01:40.150Z","id":"aVA61lmEPYZmGm7Y","name":"Task"},{"createdAt":"2025-02-28T12:15:59.970Z","updatedAt":"2025-02-28T12:15:59.970Z","id":"sdWf5s6naE3QVMN8","name":"Onboarding"}]}