workflows-backup-gHiKfN9WuYLqeXRR.json
{"createdAt":"2025-04-14T06:20:01.974Z","updatedAt":"2025-04-14T10:05:02.000Z","id":"gHiKfN9WuYLqeXRR","name":"Workflows Backup","active":false,"nodes":[{"parameters":{},"id":"fa51af2c-4c53-4fb5-845c-a77e08685b63","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[480,80],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"d71c5b45-7c9e-4082-b814-9d4570018721","name":"n8n","type":"n8n-nodes-base.n8n","position":[880,180],"typeVersion":1,"credentials":{"n8nApi":{"id":"wm3wGPoKHQ2cyYcQ","name":"n8n account"}}},{"parameters":{"options":{}},"id":"9c329dcd-ac6b-4c41-b920-ef7a9307a3b7","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1080,180],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"b2b6c2ee-3674-4a0c-bcff-f2e91359cb5d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[480,280],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"75567493-53c1-465f-95c0-04d1e8943f97","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"857b26c0-7eb9-4196-a5f3-5a3d2d29138a","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[440,0],"typeVersion":1},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1225364077090443264","mode":"id"},"content":"Starting Workflow Backup","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[700,180],"id":"2373b304-cf91-40f9-a0ac-36837da457c3","name":"Discord","webhookId":"4f0cfe21-e4cd-45ea-9ac7-db23286952f8","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1225364077090443264","mode":"id"},"content":"✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1280,20],"id":"2e8fcf1f-a9b6-4648-bc69-1c2845acb4b6","name":"COMPLETE","webhookId":"cba0e90c-9fb0-4b00-b9b2-39e6b091427e","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"732698343951695963","mode":"list","cachedResultName":"Remote Helpers","cachedResultUrl":"https://discord.com/channels/732698343951695963"},"channelId":{"__rl":true,"value":"1225364077090443264","mode":"id"},"content":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1560,140],"id":"b9e78e3f-9ee2-4ef2-ba64-2d3f1fa8ea76","name":"Fail","webhookId":"cba0e90c-9fb0-4b00-b9b2-39e6b091427e","credentials":{"discordBotApi":{"id":"ATASGOhmkeLExW1R","name":"Discord Bot account"}}},{"parameters":{"source":"parameter","workflowJson":"=id {{ $json.id }}\nname: {{ $json.name }}","mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1320,240],"id":"65c1da53-2b55-4780-afdd-a50ded507148","name":"Execute Workflow","alwaysOutputData":true,"onError":"continueErrorOutput"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Discord","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Discord":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Fail":{"main":[[]]},"Execute Workflow":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b7b018f-c676-4049-9f93-e94b64f01b20","triggerCount":0,"tags":[{"createdAt":"2025-04-14T06:20:08.111Z","updatedAt":"2025-04-14T06:20:08.111Z","id":"V564abE1n9H9aucn","name":"Backup"}]}